{% extends 'dashboard.html' %}
{% load static %}
{% load humanize %}
{% block title %}
All Paid
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{% static 'DataTables/css/dataTables.bootstrap5.min.css' %}">
<style>
    .odd {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;
        caption-side: bottom;
        font-family: Arial;
        border-collapse: separate !important;
        border-spacing: 0;
        box-sizing: border-box;
        border-color: inherit;
        border-style: solid;
        border-width: 1px 0;
        color: #212529;
    }

    .dataTables_empty {
        text-align: center;
    }
</style>
{% endblock style %}

{% block script %}
<script src="{% static 'jquery/jquery.js' %}"></script>
<script>
    // Pagination script
    $(document).ready(function () {
        $('#rows-per-page').change(function () {
            this.form.submit();
        });
    });
</script>
{% endblock script %}

{% block billslist %}
<div class="pt-3 row">
    <div class="col-12">
        <h1 class="text-center">All Paid</h1>
    </div>
</div>

<div class="container-fluid p-0">

        <h1 class="mb-3 text-center">List</h1>
        <table id="dtBasicExample2" class="table table-hover table-bordered table-sm" cellspacing="0" width="100%">
            <thead class="wb_thead" style="position: sticky; top: 0;">
                <tr>
                    <th>Consumer Name</th>
                    <th>Consumer ID</th>
                    <th>TransactionID</th>
                    <th>Date</th>
                    <th>Month-Year</th>
                    <th>Payment</th>
                    <th>Processed By</th>
                    <th>Barangay</th>
                </tr>
            </thead>
            <tbody class="wb_tbody">
                {% for t in paidtable %}
                <tr>
                    <td>{{ t.name }}</td>
                    <td>{{ t.consumerid }}</td>
                    <td>{{ t.transactionid }}</td>
                    <td>{{ t.date }}</td>
                    <td>{{ t.month|slice:":3" }}-{{ t.year }}</td>
                    <td>{{ t.payment|floatformat:2|intcomma }}</td>
                    <td>{{ t.processedby }}</td>
                    <td>{{ t.brgy }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <!-- Pagination Controls -->
        <div class="pagination">
            <span class="step-links">
                {% if paidtable.has_previous %}
                <a
                    href="?page=1&fyear={{ selected_year }}&fmonth={{ selected_month }}&barangay={{ selected_barangay }}&rows={{ per_page }}">First</a>
                <a
                    href="?page={{ paidtable.previous_page_number }}&fyear={{ selected_year }}&fmonth={{ selected_month }}&barangay={{ selected_barangay }}&rows={{ per_page }}">Previous</a>
                {% endif %}

                <span class="current">
                    Page {{ paidtable.number }} of {{ paidtable.paginator.num_pages }}.
                </span>

                {% if paidtable.has_next %}
                <a
                    href="?page={{ paidtable.next_page_number }}&fyear={{ selected_year }}&fmonth={{ selected_month }}&barangay={{ selected_barangay }}&rows={{ per_page }}">Next</a>
                <a
                    href="?page={{ paidtable.paginator.num_pages }}&fyear={{ selected_year }}&fmonth={{ selected_month }}&barangay={{ selected_barangay }}&rows={{ per_page }}">Last</a>
                {% endif %}
            </span>
        </div>
    </div>
</div>

{% endblock billslist %}