<canvas id="barangay" width="800" height="150"></canvas>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
	var xValues = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
	y = ['{{m.jan}}', '{{m.feb}}', '{{m.mar}}', '{{m.apr}}', '{{m.may}}', '{{m.jun}}', '{{m.jul}}', '{{m.aug}}', '{{m.sept}}', '{{m.oct}}', '{{m.nov}}', '{{m.dec}}'];
	var yValues = []
	for (var i = 0; i < y.length; i++) {
		if (y[i] <= 0) {
			yValues.push(null)
		} else {
			yValues.push(y[i])
		}

	}
	new Chart("myChart", {
		type: "line",

		data: {
			labels: xValues,
			datasets: [{
				label: "Monthly Usage: Year {{m.year}}",
				fill: false,
				borderColor: '#20B2AA',
				tension: 0.1,
				backgroundColor: "#3090C7",
				data: yValues
			}]
		},
		options: {
			legend: { display: false },
			title: {
				display: true,
				text: "Monthly  Usage"
			}
		},

	});