<form method = 'POST'>
    {% csrf_token %}
<div>
    <div class = "col-sm-offset-7 col-sm-5">
        <div class="form-group">
            <label for="exampleInputBarangay">Select Year</label>
            <select name="{{ year }}" class="form-control" onchange='this.form.submit();'>
              <option value="{{br.year}}" selected>{{br.year}}</option>
              {% for br in br %}
              <option value="{{br.year}}">{{br.year}}</option>
              {%endfor%}
            </select>
          </div>
          <noscript><input type="submit" value="Submit"></noscript>
  </div>

<table>
    <thead>
        <tr>
            <th>Barangay</th>
            <th>Total Usage (Cubic Meter)</th>
            <th>Total Receivable</th>
            <th>Total Collection</th>
            <th>Collection Rate</th>
        </tr>
    </thead>

<tbody>
    {% for br in br %}
    <tr>
        <td>{{br.barangaycode}}</td>
        <td>{{br.total_usage|floatformat:1}}</td>
        <td>{{br.total_rec|floatformat:1}}</td>
        <td>{{br.total_paid|floatformat:1}}</td>
        <td>{{br.percent|floatformat:1}}%</td>

    
        
    </tr>
    {% endfor %}
</tbody>
</table>

</div>
</form>