<style>
	html {
		background-color: #F2F3F2;
	}

	table {
		border: 1px solid #ccc;
		border-collapse: collapse;
		margin: 0;
		padding: 0;
		width: 100%;
		table-layout: fixed;
	}

	table {
		border: 1px solid #ccc;
		border-collapse: collapse;
		margin: 0;
		padding: 0;
		width: 100%;
		table-layout: fixed;
	}


	table tr {
		background-color: #f8f8f8;
		border: 1px solid #ddd;
		padding: .35em;
	}

	table th,
	table td {
		padding: .625em;
		text-align: center;
	}

	table th {
		font-size: .85em;
		letter-spacing: .1em;
		text-transform: uppercase;
	}

	table td:last-child {
		border-bottom: 0;
	}
	

	body {
		font-family: "Open Sans", sans-serif;
		line-height: 1.25;
	}

	@media (max-width: 400px) {
		h2 {
			font-size: 20px;
		}
	}

	@media (min-width: 401px) {
		h2 {
			font-size: 32px;
		}
	}

	@media (max-width: 400px) {
		h3 {
			font-size: 15px;
		}
	}

	@media (min-width: 401px) {
		h3 {
			font-size: 20px;
		}
	}

	.header {
		margin-bottom: 70px;
		margin-top: 30px;
		font-size: 25px;
	}

	.button2 {
		background-color: #0E86D4;
		color: white;
		font-weight: bold;
		width: 30%;
		text-decoration: none;
		padding: 8px 32px;
		margin: 4px 2px;
		border-radius: 30px;
		box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
	}

	select {
		width: 70px;
		border-radius: 25px;
	}

	a:hover {
		cursor: pointer;
	}
</style>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

<title>Barangay {{bang.barangaycode}} Monthly Usage</title>

  <body>
{% csrf_token %}
 <center>
      <h4><strong>Monthly Total Usage of Barangay {{m.barangaycode}} </strong></h4>
    </center>
<canvas id="myChart" width="800" height="150"></canvas>
<br>
<a class="button2 btn-primary" role="button" onclick="history.back()">BACK</a>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
	var xValues = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
	y = ['{{m.jan}}', '{{m.feb}}', '{{m.mar}}', '{{m.apr}}', '{{m.may}}', '{{m.jun}}', '{{m.jul}}', '{{m.aug}}', '{{m.sept}}', '{{m.oct}}', '{{m.nov}}', '{{m.dec}}'];
	var yValues = []
	for (var i = 0; i < y.length; i++) {
		if (y[i] <= 0) {
			yValues.push(null)
		} else {
			yValues.push(y[i])
		}

	}
	new Chart("myChart", {
		type: "line",

		data: {
			labels: xValues,
			datasets: [{
				label: "Usage",
				fill: false,
				borderColor: '#20B2AA',
				tension: 0.1,
				backgroundColor: "#3090C7",
				data: yValues
			}]
		},
		options: {
			legend: { display: false },
			title: {
				display: true,
				text: "Monthly  Usage"
			}
		},

	});

</script>
	