{% extends 'dashboard.html' %}
{% load static %}
{% load humanize %}
{% block title %}
Billing
{% endblock title %}
{% block style %}

<style>
	.odd {
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
		-webkit-text-size-adjust: 100%;
		-webkit-tap-highlight-color: transparent;

		caption-side: bottom;
		font-family: Arial;
		border-collapse: separate !important;
		border-spacing: 0;
		box-sizing: border-box;
		border-color: inherit;
		border-style: solid;
		border-width: 1px 0;
		color: #212529;
	}

	.dataTables_empty {
		text-align: center;
	}



</style>
{% endblock style %}
{% block script %}
{% endblock script %}
{% block billslist %}
<div class="pt-3 row">
	<div class="col-12">
		<h1 class="text-center">Bills List</h1>
	</div>
</div>

<script src="{% static 'jquery/jquery.js' %}"></script>
<div class="container-fluid p-0">
	<div class="table-responsive">
		<div id="table_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
			{% include 'search.html' %}
			<div class="row">
				<div class="col-sm-12">
					<table id="myTable" class="table table-bordered table-hover table-striped" cellspacing="0"
						width="100%">
						<thead class="wb_thead">
							<tr>
								<th style="min-width: 100px;">Account ID</th>
								<th style="min-width: 100px;">Meter Number</th>
								<th style="min-width: 100px;">Name</th>
								<th style="min-width: 100px;">Address</th>
								<th style="min-width: 100px;">Total Balance</th>
							</tr>
						</thead>
						<tbody class="wb_tbody">
							{% if bills_list %}
							{% for bill in bills_list %}
							<tr class='clickable-row' style="cursor: pointer;"
								data-href="{% url 'ledger' bill.consumer_id %}">
								<td style="text-align:center;">{{bill.consumer_id}}</td>
								<td style="text-align:center;">{{bill.meternumber}}</td>
								<td>{{bill.lastname}}, {{bill.firstname}} {{bill.middlename}}</td>
								<td style="text-align:center;">{{bill.installation_address}}</td>
								<td class="balance"> &#8369; {{bill.current_bal|floatformat:2|intcomma}}</td>
							</tr>
							{% endfor %}
							{% else %}
							<tr class="odd">
								<td valign="top" colspan="5" class="dataTables_empty">No matching records found</td>
							</tr>
							{% endif %}
							<script>
								jQuery(document).ready(function ($) {
									$(".clickable-row").click(function () {
										window.location = $(this).data("href");
									});
								});
							</script>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="d-flex justify-content-center">
					<div class="dataTables_paginate paging_simple_numbers" id="table_paginate">
						<ul style="display: flex; padding-left: 0; list-style: none;">
							{% if bills_list.paginator.num_pages > 5 %}
							{% if bills_list.number < 5 %} {% if bills_list.has_previous %} <a
								href="?page={{ bills_list.previous_page_number }}&search={{search}}">
								<li class="paginate_button page-item previous">Previous</li>
								</a>
								{% else %}
								<li class="paginate_button disabled page-item previous">Previous</li>
								{% endif %}
								{% for i in five %}
								{% if i == bills_list.number %}
								<a href="?page={{i}}&search={{search}}">
									<li class="paginate_button page-item active">{{i}}</li>
								</a>
								{% else %}
								<a href="?page={{i}}&search={{search}}">
									<li class="paginate_button page-item">{{i}}</li>
								</a>
								{% endif %}
								{% endfor %}
								<li class="paginate_button disabled page-item">...</li>
								<a href="?page={{ bills_list.paginator.num_pages }}&search={{search}}">
									<li class="paginate_button page-item">{{ bills_list.paginator.num_pages }}</li>
								</a>
								{% if bills_list.has_next %}
								<a href="?page={{ bills_list.next_page_number }}&search={{search}}">
									<li class="paginate_button page-item next">Next</li>
								</a>
								{% else %}
								<li class="paginate_button disabled page-item next">Next</li>
								{% endif %}
								{% else %}
								{% if bills_list.number > bills_list.paginator.num_pages|add:'-3'%}
								{% if bills_list.has_previous %}
								<a href="?page={{ bills_list.previous_page_number }}&search={{search}}">
									<li class="paginate_button page-item previous">Previous</li>
								</a>
								{% else %}
								<li class="paginate_button disabled page-item previous">Previous</li>
								{% endif %}
								<a href="?page=1&search={{search}}">
									<li class="paginate_button page-item">1</li>
								</a>
								<li class="paginate_button disabled page-item">...</li>
								{% for i in last %}
								{% if i == bills_list.number %}
								<a href="?page={{i}}&search={{search}}">
									<li class="paginate_button page-item active">{{i}}</li>
								</a>
								{% else %}
								<a href="?page={{i}}&search={{search}}">
									<li class="paginate_button page-item">{{i}}</li>
								</a>
								{% endif %}
								{% endfor %}
								{% if bills_list.number == bills_list.paginator.num_pages %}
								<a href="?page={{ bills_list.paginator.num_pages }}&search={{search}}">
									<li class="paginate_button page-item active">{{ bills_list.paginator.num_pages }}
									</li>
								</a>
								{% else %}
								<a href="?page={{ bills_list.paginator.num_pages }}&search={{search}}">
									<li class="paginate_button page-item">{{ bills_list.paginator.num_pages }}</li>
								</a>
								{% endif %}
								{% if bills_list.has_next %}
								<a href="?page={{ bills_list.next_page_number }}&search={{search}}">
									<li class="paginate_button page-item next">Next</li>
								</a>
								{% else %}
								<li class="paginate_button disabled page-item next">Next</li>
								{% endif %}
								{% else %}
								{% if bills_list.has_previous %}
								<a href="?page={{ bills_list.previous_page_number }}&search={{search}}">
									<li class="paginate_button page-item previous">Previous</li>
								</a>
								{% else %}
								<li class="paginate_button disabled page-item previous">Previous</li>
								{% endif %}
								{% if bills_list.number > 2 %}
								<a href="?page=1&search={{search}}">
									<li class="paginate_button page-item">1</li>
								</a>
								{% if bills_list.number > 3 %}
								<li class="paginate_button disabled page-item">...</li>
								{% endif %}
								{% endif %}

								{% for num in bills_list.paginator.page_range %}
								{% if bills_list.number == num %}<a href="?page={{ num }}&search={{search}}">
									<li class="paginate_button page-item active">
										{{ num }}
									</li>
								</a>
								{% elif num > bills_list.number|add:'-2' and num < bills_list.number|add:'2' %} <a
									href="?page={{ num }}&search={{search}}">
									<li class="paginate_button page-item">{{ num }}</li>
									</a>
									{% endif %}
									{% endfor %}

									{% if bills_list.number < bills_list.paginator.num_pages|add:'-2' %} <li
										class="paginate_button disabled page-item">...</li>
										<a href="?page={{ bills_list.paginator.num_pages }}&search={{search}}">
											<li class="paginate_button page-item">{{ bills_list.paginator.num_pages }}
											</li>
										</a>
										{% elif bills_list.number < bills_list.paginator.num_pages|add:'-1' %} <a
											href="?page={{ bills_list.paginator.num_pages }}&search={{search}}">
											<li class="paginate_button page-item">{{ bills_list.paginator.num_pages }}
											</li>
											</a>
											{% endif %}
											{% if bills_list.has_next %}
											<a href="?page={{ bills_list.next_page_number }}&search={{search}}">
												<li class="paginate_button page-item next">Next</li>
											</a>
											{% else %}
											<li class="paginate_button page-item disabled next">Next</li>
											{% endif %}
											{% endif %}
											{% endif %}
											{% else %}
											{% if bills_list.has_previous %}
											<a href="?page={{ bills_list.previous_page_number }}&search={{search}}">
												<li class="paginate_button page-item previous">Previous</li>
											</a>
											{% else %}
											<li class="paginate_button disabled page-item previous">Previous</li>
											{% endif %}
											{% for i in bills_list.paginator.page_range %}
											{% if i == bills_list.number %}
											<a href="?page={{i}}&search={{search}}">
												<li class="paginate_button page-item active">{{i}}</li>
											</a>
											{% else %}
											<a href="?page={{i}}&search={{search}}">
												<li class="paginate_button page-item">{{i}}</li>
											</a>
											{% endif %}
											{% endfor %}
											{% if bills_list.has_next %}
											<a href="?page={{ bills_list.next_page_number }}&search={{search}}">
												<li class="paginate_button page-item next">Next</li>
											</a>
											{% else %}
											<li class="paginate_button disabled page-item next">Next</li>
											{% endif %}
											{% endif %}
						</ul>
						<style>
							a {
								-webkit-touch-callout: none;
								-webkit-user-select: none;
								-khtml-user-select: none;
								-moz-user-select: none;
								-ms-user-select: none;
								user-select: none;
								cursor: default;
								text-decoration: none;
							}

							.paginate_button {
								cursor: pointer;
								position: relative;
								display: block;
								padding: 0.375rem 0.75rem;
								font-size: 1rem;
								color: var(--main-color);
								text-decoration: none;
								background-color: white;
								border: 1px solid #dee2e6;
								transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
							}

							.active>.paginate_button,
							.paginate_button.active {
								z-index: 3;
								color: white !important;
								background-color: var(--main-color);
								border-color: #dee2e6;
							}

							.previous {
								border-top-left-radius: .375rem;
								border-bottom-left-radius: .375rem;
							}

							.next {
								border-top-right-radius: .375rem;
								border-bottom-right-radius: .375rem;
							}

							.disabled {
								-webkit-touch-callout: none;
								-webkit-user-select: none;
								-khtml-user-select: none;
								-moz-user-select: none;
								-ms-user-select: none;
								user-select: none;
								cursor: default;
								color: #6c757d;
							}

						</style>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock billslist %}
