<!-- buttons -->
<div class="col-lg-6 col-md-6 col-sm-12" style="padding-top: 10px;">
    <a href="{% url 'ledger' u.consumer_id %}"><button type="button" class="btn button2"
            style="float: left; margin-right: 5px;">Ledger</button></a>
    <a href="{% url 'monthly_summary' u.consumer_id year %}"><button type="button" class="btn button2"
            style="float:left; margin-right: 5px;">Monthly</button></a>
    <a href="{% url 'payment_history' u.consumer_id year %}"><button type="button" class="btn button2"
            style="float:left; margin-right: 5px;">Payment History</button></a>
    <button type="button" class="btn button2" data-bs-toggle="modal" data-bs-target="#installment"
        style="float:left;">Additional Fees</button>
</div>

<!-- Installment Fee Modal -->
<div class="modal fade" id="installment" tabindex="-1" role="dialog" aria-labelledby="installment" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="{% url 'additional_fee' u.consumer_id  %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalCenterTitle">Additional Fees</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>

                <div class="modal-body">
                    <div class="form-group">
                        <label for="meternum" class="form-label">Month Range <span class="text-danger">*</span> </label>
                        <input type="number" name="monthfee" class="form-control" required id="monthfee">
                        <input type="hidden" name="numInputs" id="numInputs" value="0">
                    </div>

                    <div class="form-group mt-2">
                        <label for="meternum" class="form-label">No. of Items <span class="text-danger">*</span></label>
                        <input class="form-control" type="number" id="inputs_num" oninput="addInputs(this.value)">
                    </div>

                    <div class="additional-fees" style="display: none;">
                        <div class="form-group">
                            <label for="item-details" class="form-label">Fee Names:</label>
                        </div>
                    </div>
                </div>

                <script>
                    function addInputs(numInputs) {
                        var additionalFeesDiv = document.querySelector('.additional-fees');
                        additionalFeesDiv.style.display = 'block';

                        var formGroup = additionalFeesDiv.querySelector('.form-group');

                        // Store the current input values
                        var inputs = formGroup.querySelectorAll('input');
                        var inputValues = Array.from(inputs).map(function (input) {
                            return input.value;
                        });

                        formGroup.innerHTML = '';

                        var label = document.createElement('label');
                        label.innerHTML = '<label for="item-details" class="form-label mt-3 mb-1">Item Details:</label>';
                        formGroup.appendChild(label);

                        var numInputsField = document.getElementById('numInputs');
                        numInputsField.value = numInputs;  // Update the value of the numInputs field
                        const submitBtn = document.getElementById('submit-btn');
                        if (numInputs <= 0) {
                            submitBtn.classList.add('disabled');
                            submitBtn.disabled = true;
                        }
                        else {
                            submitBtn.classList.remove('disabled');
                            submitBtn.disabled = false;
                        }
                        for (var i = 0; i < numInputs; i++) {
                            var div = document.createElement('div');
                            div.classList.add('row');

                            var textDiv = document.createElement('div');
                            textDiv.classList.add('col-md-6');

                            var inputText = document.createElement('input');
                            inputText.type = 'text';
                            inputText.name = 'additionalfee' + i;
                            inputText.classList.add('form-control');
                            inputText.classList.add('mb-1');
                            inputText.placeholder = 'Item Name'; // Set the placeholder text
                            textDiv.appendChild(inputText);

                            var numberDiv = document.createElement('div');
                            numberDiv.classList.add('col-md-6');

                            var inputNumber = document.createElement('input');
                            inputNumber.type = 'number';
                            inputNumber.name = 'additionalfee' + i + '_number';
                            inputNumber.classList.add('form-control');
                            inputNumber.classList.add('mb-1');
                            inputNumber.value = '0.00'; // Set the default value to '0.00'
                            inputNumber.addEventListener('input', function () {
                                updateTotalAmount();
                            });
                            numberDiv.appendChild(inputNumber);

                            div.appendChild(textDiv);
                            div.appendChild(numberDiv);
                            formGroup.appendChild(div);
                        }

                        // Remove previous total amount input, if any
                        var previousTotalAmountInput = document.querySelector('input[name="totalAmount"]');
                        if (previousTotalAmountInput) {
                            formGroup.removeChild(previousTotalAmountInput);
                        }

                        // Create a hidden input field to store the total amount value
                        var totalAmountInput = document.createElement('input');
                        totalAmountInput.type = 'hidden';
                        totalAmountInput.name = 'totalAmount';
                        totalAmountInput.value = calculateTotalAmount().toFixed(2);
                        formGroup.appendChild(totalAmountInput);

                        var totalAmountLabel = document.createElement('label');
                        totalAmountLabel.id = 'total-amount-fees';
                        totalAmountLabel.innerText = 'Total Amount Fees: ₱' + calculateTotalAmount().toFixed(2);
                        formGroup.appendChild(totalAmountLabel);

                        updateTotalAmount();
                    }

                    function updateTotalAmount() {
                        var totalAmountLabel = document.getElementById('total-amount-fees');
                        var totalAmountInput = document.querySelector('input[name="totalAmount"]');
                        totalAmountInput.value = calculateTotalAmount().toFixed(2);
                        totalAmountLabel.innerText = 'Total Amount Fees: ₱' + totalAmountInput.value;

                        // Concatenate additional fees
                        var feeInputs = document.querySelectorAll('.additional-fees input[type="text"]');
                        var feeNames = [];
                        feeInputs.forEach(function (input) {
                            if (input.value.trim() !== '') {
                                feeNames.push(input.value.trim());
                            }
                        });
                        document.querySelector('input[name="additionalfee_names"]').value = feeNames.join(', ');

                        // Concatenate amounts
                        var amountInputs = document.querySelectorAll('.additional-fees input[type="number"]');
                        var amounts = [];
                        amountInputs.forEach(function (input) {
                            amounts.push(parseFloat(input.value).toFixed(2));
                        });
                        document.querySelector('input[name="additionalfee_amounts"]').value = amounts.join(', ');
                    }


                    function calculateTotalAmount() {
                        var totalAmount = 0;
                        var numberInputs = document.querySelectorAll('.additional-fees input[type="number"]');
                        numberInputs.forEach(function (el) {
                            totalAmount += Number(parseFloat(el.value) || 0);
                        });
                        return totalAmount;
                    }
                </script>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="submit-btn" type="submit" class="btn btn-primary" name="btnform1">Submit</button>
                </div>

                <!-- Add the hidden input field for concatenated fee names -->
                <input type="hidden" name="additionalfee_names" id="additionalfee_names">
            </form>
        </div>
    </div>
</div>
