<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<form action="{% url 'bulkreading' %}" method="get">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLongTitle">Bulk Meter Reading Entry</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Select Year</label>
                        <select name="fyear" id="year" class="form-control" required>
                            <option value=""></option>
                            {% for y in years %}
                            <option value="{{y}}" {% if y == year %} selected {% endif %}>{{y}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">Select Month</label>
                        <select name="fmonth" id="month" class="form-control" required>
                            <option value=""></option>
                            {% for m in months %}
                            <option value="{{m.num}}" {% if m.num == monthval %} selected {% endif %}>{{m.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" aria-label="Close" class="btn btn-secondary close">Close</button>
                    <button type="submit" class="btn btn-primary">Proceed</button>
                </div>
            </form>
		</div>
	</div>
</div>
