{% extends 'dashboard.html' %}
{% load static %}
{% load humanize %}
{% block title %}
Bulk Reading
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'DataTables/css/dataTables.bootstrap5.min.css' %}">
{% endblock style %}
{% block script %}

<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        $('#table').DataTable({
            order: [[2, 'asc']],
            stateSave: true,
            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, 'All'],
            ],
        });
    });
</script>

{% endblock script %}

{% block bulkreading %}
<h1 class="mb-3 text-center">BULK READING ENTRY</h1>
<h1 class="mb-3 text-center">Bulk Input Reading for {{month}} {{year}}</h1>

<div class="row w-100 m-auto pt-2">
    <div class="col-lg-12 col-md-12 col-sm-12" style="padding-top :10px;">
        <button type="button" onclick="getpdf()" class="btn button2" style="float:left;">
            <i class="fa fa-copy"></i>
        BACK
        </button>
    </div>

	<table id="table" class="table table-bordered table-hover table-striped table-sm" cellspacing="0"
		width="100%">
		<thead class="wb_thead">
			<tr>
				<th style="min-width: 100px;">Meter Number</th>
				<th style="min-width: 100px;">Account Number</th>
				<th style="min-width: 100px;">Customer</th>
				<th style="min-width: 100px;">Previous Reading</th>
				<th style="min-width: 100px;">Current Reading</th>
			</tr>
		</thead>
		<tbody class="wb_tbody">
			{% for consumer in consumers_list %}
			<tr class='clickable-row' onclick="click" style="cursor: pointer;" data-href="{% url 'ledger' consumer.consumer_id %}">
				<td>{{consumer.meternumber}}</td>
				<td>{{consumer.consumer_id}}</td>
				<td>{{consumer.lastname}}, {{consumer.firstname}} {{consumer.middlename}}</td>
				<td>{{consumer.installation_address}}</td>
				<td class="balance"> &#8369; {{consumer.current_bal|floatformat:2|intcomma}}</td>
			</tr>
			{% endfor %}
			<script src="{% static 'jquery/jquery.js' %}"></script>
		</tbody>
	</table>
		<div class="row w-100 m-auto pt-2">
			<div class="col-lg-12 col-md-12 col-sm-12" style="padding-top :10px;">
				<button type="button" onclick="getpdf()" class="btn button2" style="float:left;">
					<i class="fa fa-copy"></i>
					Save
				</button>
			</div>
		<style>
		.hide {
			opacity: 0;
			transition: 0.3s all ease-in-out;
		}
	
		.showOnHover:hover .hide {
			opacity: 1;
			transition: 0.3s all ease-in-out;
		}
		.button2 {
			background-color: var(--main-color); 
			color: white;
			padding: 8px 30px;
			border: none;
			border-radius: 15px;
			box-shadow: inset 0px -8px 7px 0 rgb(0 0 0 / 24%), inset 0px 5px 7px 0 rgb(255 255 255 / 52%), 0px 6px 6px 0 rgb(0 0 0 / 19%);
			transition: all ease 0.3s;
		}
		.btn.button2:hover {
			background: var(--main-color);
			color: #ffffff;
			border-radius: 30px;
			box-shadow: inset 0px -8px 7px 0 rgba(0, 0, 0, 0.39), inset 0px 5px 7px 0 #e6ecebd8, 0px 6px 6px 0 rgb(0 0 0 / 19%);
			transition: all ease-in 0.5s;
		}
		.btn.button2:focus {
			background: var(--main-color);
			color: #ffffff;
			border-radius: 30px;
			box-shadow: inset 0px 4px 7px 0 rgba(0, 0, 0, 0.274), inset 0px -5px 7px 0 #e6ecebd8;
			transition: all 0.1s;
		}
		</style>
</div>
{% endblock bulkreading %}