{% extends 'dashboard.html' %}
{% load static %}

{% block title %}
Consumer List
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<style>
    .hide {
        opacity: 0;
        transition: 0.3s all ease-in-out;

    }

    .showOnHover:hover .hide {
        opacity: 1;
        transition: 0.3s all ease-in-out;
    }

    td,
    th {
        padding: 10px;
        text-align: center;
    }

    .inputid {
        text-align: center;
    }

    .button2 {
        background-color: #63CDD7;
        color: white;
        font-weight: bold;
        width: 15%;
        text-decoration: none;
        padding: 8px 32px;
        margin: 4px 2px;
        border-radius: 30px;
        box-shadow: 0 12px 16px 0 rgb(0 0 0 / 24%), 0 17px 50px 0 rgb(0 0 0 / 19%);
    }
</style>
{% endblock style %}
{% block script %}
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        $('#table').DataTable({
            order: [[1, 'asc']],
            stateSave: true,
            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, 'All'],
            ],
        });
    });
</script>

{% endblock script %}

{% block consumer_list %}
<center>
    <h1>CONSUMER LIST</h1>
</center>
<a href="{% url 'consumercreation' %}">
    <button class="btn button2">Add New Consumer</button>
</a>
<br>
<br>
<div class="container-fluid p-0">
    <div class="table-responsive">
        <table id="table" class="table table-bordered table-striped table-sm" cellspacing="0" width="100%">
            <thead class="wb_thead">
                <tr>
                    <th style="min-width: 100px;">Account ID</th>
                    <th style="min-width: 100px;">Name</th>
                    <th style="min-width: 100px;">Address</th>
                    <th style="min-width: 100px;">Meter Number</th>
                </tr>
            </thead>
            <tbody class="wb_tbody">
                {% for con in consumer_list %}
                <tr class="showOnHover ">
                    <td>{{con.consumer_id}}</td>
                    <td style="text-align: left;">{{con.lastname}}, {{con.firstname}} {{con.middlename}}</td>
                    <td>{{con.installation_address}}</td>
                    <td >
                        {{con.meternumber}}
                        <a href="{% url 'userupdate' con.consumer_id %}">
                            <button class="hide btn btn-success btn-sm rounded-0" style="float: right;"
                                data-toggle="modal" type="button" data-placement="top" title="Edit">
                                <i class="fa fa-edit"></i>
                            </button>
                        </a>
                        <a href="{%url 'deleteconsumer' con.consumer_id %}"><button
                            class=" hide btn btn-danger btn-sm rounded-0" type="button"
                            onclick="return confirm('Are you sure you want to delete {{con.lastname}}, {{con.firstname}} {{con.middlename}}?')"
                            data-placement="top" title="Delete"><i class="fa fa-trash"></i></button></a>

                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock consumer_list %}