{% extends 'dashboard.html' %}
{% load static %}

{% block consumer_list %}

    <center><h1>CONSUMER LIST</h1></center>
    <div class="container-fluid p-0">
        <div class="table-responsive">
            <table id="dtBasicExample" class="table table-bordered table-sm" cellspacing="0" width="100%">
                <thead class="wb_thead">
                    <tr>
                        <th style="min-width: 100px;">Account ID</th>                        
                        <th style="min-width: 100px;">Name</th>
                        <th style="min-width: 100px;">Address</th> 
                        <th style="min-width: 100px;">Meter Number</th>
                        <th scope="col">Update</th>
                        <th scope="col">Delete</th>
                    </tr>
                </thead>
                <tbody class="wb_tbody">
                    {% for con in consumer_list %}
                    <tr>
                        <td>{{con.consumer_id}}</td>
                        <td>{{con.lastname}}, {{con.firstname}} {{con.middlename}}</td>
                        <td>{{con.installation_address}}</td>
                        <td>{{con.meternumber}}</td>
                    </tr>
                     {% endfor %}
                    </tbody>
                   








{% endblock consumer_list %}