{% extends 'dashboard.html' %}
{% load static %}
{% block title %}
Monthly Summary
{% endblock title %}
{% load humanize %}
{% block conmon_summary %}
<script src="{% static 'jspdf.min.js'%}"> </script>
<script src="{% static 'jquery.min.js'%}"> </script>
<script src="{% static 'html2pdf.bundle.min.js'%}"> </script>
<script src="{% static 'jspdf.plugin.autotable.js'%}"> </script>

<style>
    /* .table-scrolls{
		width: 100%;
		display: table-caption;
		height: 500px;
		overflow-y: scroll;
		overflow-x: hidden;
	} */
    .hide {
        opacity: 0;
        transition: 0.3s all ease-in-out;
    }

    .showOnHover:hover .hide {
        opacity: 1;
        transition: 0.3s all ease-in-out;
    }

    .button2 {
        background-color: var(--main-color);
        color: white;
        padding: 8px 30px;
        border: none;
        border-radius: 15px;
        box-shadow: inset 0px -8px 7px 0 rgb(0 0 0 / 24%), inset 0px 5px 7px 0 rgb(255 255 255 / 52%), 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease 0.3s;
    }

    .btn.button2:hover {
        background: var(--main-color);
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px -8px 7px 0 rgba(0, 0, 0, 0.39), inset 0px 5px 7px 0 #e6ecebd8, 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease-in 0.5s;
    }

    .btn.button2:focus {
        background: var(--main-color);
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px 4px 7px 0 rgba(0, 0, 0, 0.274), inset 0px -5px 7px 0 #e6ecebd8;
        transition: all 0.1s;
    }

    /* ============================================================================================= */

    .invoice-box {
        max-width: 1044px;
        margin: auto;
        padding: 0;
        border: 1px solid #000;
        box-shadow: 0 0 10px rgb(0 0 0 / 15%);
        font-size: 17px;
        line-height: 16px;
        font-family: monospace;
        color: #000;
    }

    .invoice-box table {
        width: 100%;
        line-height: inherit;
        text-align: left;
    }

    .invoice-box table td {
        padding: 11px;
        vertical-align: top;
    }

    .invoice-box table tr td:nth-child(2) {
        text-align: right;
    }

    .invoice-box table tr.top table td {
        padding-bottom: 0px;
    }

    .invoice-box table tr.top table td.title {
        font-size: 45px;
        line-height: 45px;
        color: rgb(0, 0, 0);
    }

    .invoice-box table tr.information table td {
        padding-top: 0;
    }

    .invoice-box table tr.heading td {
        background: #eee;
        border-bottom: 1px solid #ddd;
        font-weight: bold;
    }

    .invoice-box table tr.details td {
        padding-bottom: 0px;
    }

    .invoice-box table tr.item td {
        border-bottom: 1px solid #eee;
    }

    .invoice-box table tr.item.last td {
        border-bottom: none;
    }

    .invoice-box table tr.total td:nth-child(2) {
        border-top: 2px solid #eee;
        font-weight: bold;
    }

    @media only screen and (max-width: 600px) {
        .invoice-box table tr.top table td {
            width: 100%;
            display: block;
            text-align: center;
        }

        .invoice-box table tr.information table td {
            width: 100%;
            display: block;
            text-align: center;
        }
    }

    /** RTL **/
    .rtl {
        direction: rtl;
        font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
    }

    .rtl table {
        text-align: right;
    }

    .rtl table tr td:nth-child(2) {
        text-align: left;
    }

    #logo {
        vertical-align: middle;
        border-style: none;
        height: 90px;
    }

    .total {
        font-weight: bold;
        color: blue;
        border-width: 1px;
        border-style: solid;
        border-color: black;
    }

    .mun {
        font-family: monospace;
        font-size: 25px;
        font-weight: bold;
    }

    .mun-header {
        font-size: 38px;
        font-family: monospace;
        font-weight: bold;
    }

    .st {
        font-size: 21px;
        font-weight: bold;
        font-family: emoji;
    }
</style>
<!-- Header Info of Consumer -->
<div class="container-fluid p-0">
    <div class="table-responsive">
        <table id="dtBasicExample2" class="table table-bordered" cellspacing="0" width="100%">
            <thead class="wb_thead">
                <tr class="header">
                    <th scope="col" style="min-width:25px">Account ID</th>
                    <th scope="col" style="min-width:25px">Name</th>
                    <th scope="col" style="min-width:25px">Connection Type</th> <!-- added changes 28/10/2024 enj -->
                    <th scope="col" style="min-width:25px">Meter Number</th>
                    <th scope="col" style="min-width:25px">Excess Payment</th>
                    <th scope="col" style="min-width:25px">Payable</th>
                </tr>
            </thead>
            <tbody class="wb_tbody">
                <tr class="showOnHover">
                    <td class="table-light text-center">{{u.consumer_id}}</td>
                    <td class="table-light text-center">{{u.firstname}} {{u.middlename}} {{u.lastname}}</td>
                    <td class="table-light text-center">{{u.contypeid.contype}}</td><!-- from u.rateid to u.contypeid.contype  19/11/2024 Enjambre -->
                    <td class="table-light text-center">{{u.meternumber}}</td>
                    <td class="table-light text-center">&#8369; {{u.excess|floatformat:2|intcomma}}</td>
                    <td class="table-light text-center">&#8369; {{total_unpaid_bill|floatformat:2|intcomma}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<script src="{% static 'bootstrap.min.js' %}"></script>
<script src="{% static 'popper.min.js' %}"></script>



<div class="row w-100 m-auto pt-2">

    <!-- Buttons -->


        {% include 'billingbuttons.html' %}



    <!--Year Selection -->
    <div class ="row w-100 m-auto pt-2"></div>
    <div class="col-lg-6 col-md-6 col-sm-12" style="display:flex; align-items: center;">
            <form id="yearselection" action="" class="d-flex align-items-center">
                <label class="d-flex" style="float: right; align-items: center;">Year
                        <select style="width: 100px; margin: 0 10px;" class="form-select" id="selector" onchange="change()">
                        {% for i in years reversed %}
                        <option value="{{i}}" {% if i == year %} selected{% endif %}>{{i}}</option>
                        {% endfor %}
                    </select>
                </label>

            </form>
            <script>
                yearselection = document.getElementById("yearselection")
                selector = document.getElementById("selector")
                function change() {
                    yearselection.action = selector.value
                    yearselection.submit()
                }
            </script>
    </div>
</div>


<!-- Monthly View -->
<div id="monthly">
    <div class="">
        <form></form><!-- changed from Monthly Summary to Outstanding Balances 28/10/2024 Enjambre -->
        
        <div class="d-flex flex-column align-items-center mb-2">
            <h1 class="text-center mb-3">Outstanding Balances</h1>
            <!--<h4 class="mb-2 text-center">(List of Bills)</h4>   -->
            <!--<div class="border rounded p-2 text-center" style="width: 220px; background-color: #f8f9fa;">
                <strong>Total Balance:</strong><br>
                <span class="text-success">
                    &#8369; {{ total_balance_due|floatformat:2|intcomma }} -->
                </span>
            </div>
        </div>

        <div class="container-fluid p-0">
            <div class="table-responsive">
                <table id="dtBasicExample2" class="table table-hover table-bordered table-sm" cellspacing="0"
                    width="100%">
                    <thead class="wb_thead">
                        <tr>
                            <th style="min-width: 100px;">Month</th>
                            <!-- <th style="min-width: 100px;">Bill Type</th>added changes 28/10/2024    -->
                            <th style="min-width: 100px;">Reading</th>
                            <th style="min-width: 100px;">CU.M. Used</th><!-- changed from usage to CU.M Used 28/10/2024    -->
                            <th style="min-width: 100px;">Amount Due (₱)</th> <!-- changed from current due to amount due 28/10/2024    -->
                            <!-- <th style="min-width: 100px;">Previous Balance</th>  removed 28/10/2024    -->
                            <!--<th style="min-width: 100px;">Additional Fees</th> removed 28/10/2024 -->
                            <th style="min-width: 100px;">Penalty (₱)</th> <!-- added changes 28/10/2024    -->
                            <!--<th style="min-width: 100px;">Total Balance</th>  -->
                            <th style="min-width: 110px;">Action</th><!-- changed from Amount Paid to Action  28/10/2024    -->
                        </tr>
                    </thead>

                    <tbody class="wb_tbody">
                        {% for t in table reversed %}
                        <tr>
                            <td class="text-center">{{t.month}}</td>
                            <!-- <td class="text-center">{{t.transType}}</td>added changes unfinished 28/10/2024    -->
                            <td class="text-center">{{t.reading}}</td>
                            <td class="text-center">{{t.usage}}</td>
                            <td class="text-center" >{% if t.total_bill %}  {{t.total_bill|floatformat:2|intcomma}} {% endif %}</td> 
                            <!--<td class="text-center">{{t.previous_balance}}</td> removed 28/10/2024 -->
                            <!--<td class="text-center">{{t.additional_fees}}</td> removed 28/10/2024 -->
                            <td class="text-center">{{t.}}</td><!-- added changes unfinished for penalty 28/10/2024    -->
                            <!--<td class="text-center">{{t.total_due}}</td>   -->
                            <td class="text-center" >

                                {% if t.total_bill  %} 
                                {% if t.total_amount_paid %}
                                     <span class="badge bg-success">Paid</span>
                                {% else %}
                                    <button type="button" class="badge bg-success" data-bs-toggle="modal" data-bs-target="#pay-{{t.monthval}}"> PAY </button> 
                                {% endif %}
                                {% endif %}
                                
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        </form>
    </div>
</div>

{% for t in table %}

{% if t.total_amount_paid %}
{% else %}
{% if t.total_bill %} <!-- from if t.total_bill to  if t.total_bill or t.additional_fees  02/12/2024 Enjambre -->
<div class="modal fade" id="pay-{{ t.monthval }}" tabindex="-1" role="dialog" aria-labelledby="payment-modal"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <form action="{% url 'monthlypayment' %}" method="post">
                {% csrf_token %}
                <div class="modal-header">
                
                    <h5 class="modal-title">Payment for Regular Fees</h5> <!--added changes for the additional fee 02/12/2024 -->
    
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <!-- Determine which fee to display -->
                        
                        <label>Amount:</label>
                        <span>₱ {{ t.total_bill|floatformat:2|intcomma }}</span><br>
                        <input type="hidden" name="payment" value="{{ t.total_bill }}">
                        

                        <!-- Common hidden inputs -->
                        <input type="hidden" name="conid" value="{{ u.consumer_id }}">
                        <input type="hidden" name="month" value="{{ t.monthval }}">
                        <input type="hidden" name="year" value="{{ year }}">

                        <!-- OR Number input -->
                        <label for="id_or_num">OR Number</label>
                        <input type="text" name="or_num" id="id_or_num" required class="input form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary" name="btnform1">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% endif %}
{% endif %}
{% endfor %}
<script>
(function(){
    function parseCurrency(text){
        if(!text) return 0;
        return parseFloat((text + '').replace(/[^0-9.-]+/g,'')) || 0;
    }
    function fmt(n){ return n.toLocaleString(undefined,{minimumFractionDigits:2,maximumFractionDigits:2}); }

    const table = document.querySelector('#monthly table');
    if(!table) return;

    // determine column indices by header text (fallback to common defaults)
    const ths = Array.from(table.querySelectorAll('thead tr th'));
    let amountIdx = ths.findIndex(th => /amount\s*due/i.test(th.textContent));
    let penaltyIdx = ths.findIndex(th => /penalty/i.test(th.textContent));
    let actionIdx = ths.findIndex(th => /action/i.test(th.textContent));

    if(amountIdx === -1) amountIdx = 3;
    if(penaltyIdx === -1) penaltyIdx = 4;
    if(actionIdx === -1) actionIdx = 5;

    // Insert "Total" header after Action column
    const headerRow = table.querySelector('thead tr');
    const newTh = document.createElement('th');
    newTh.style.minWidth = '100px';
    newTh.textContent = 'Total (₱)';
    const currentThs = headerRow.querySelectorAll('th');
    if(actionIdx >= 0 && actionIdx < currentThs.length - 1){
        headerRow.insertBefore(newTh, currentThs[actionIdx + 1]);
    } else {
        headerRow.appendChild(newTh);
    }

    // Walk rows and compute per-row total
    const rows = table.querySelectorAll('tbody tr');
    rows.forEach(row => {
        const cells = row.querySelectorAll('td');
        const amtCell = cells[amountIdx];
        const penCell = cells[penaltyIdx];

        const amount = parseCurrency(amtCell ? amtCell.textContent : '');
        const penalty = parseCurrency(penCell ? penCell.textContent : '');

        const rowTotal = amount + penalty;

        const td = document.createElement('td');
        td.className = 'text-center';
        td.textContent = fmt(rowTotal);

        // insert after action cell
        const insertPos = Math.min(actionIdx + 1, cells.length);
        if(insertPos < cells.length){
            row.insertBefore(td, cells[insertPos]);
        } else {
            row.appendChild(td);
        }
    });
})();
</script>



{% endblock conmon_summary %}
