TemplateSyntaxError at /reports/consumption/2025
Invalid block tag on line 578: 'endblock', expected 'empty' or 'endfor'. Did you forget to register or load this tag?
Request Method:	GET
Request URL:	http://192.168.3.2:8001/reports/consumption/2025
Django Version:	4.2.21
Exception Type:	TemplateSyntaxError
Exception Value:	
Invalid block tag on line 578: 'endblock', expected 'empty' or 'endfor'. Did you forget to register or load this tag?
Exception Location:	/var/www/django-apps/wbilling/venv/lib/python3.13/site-packages/django/template/base.py, line 558, in invalid_block_tag
Raised during:	index.views.consumption
Python Executable:	/var/www/django-apps/wbilling/venv/bin/python3
Python Version:	3.13.3
Python Path:	
['/var/www/django-apps/wbilling/waterbilling2.0/wb2',
 '/var/www/django-apps/wbilling/venv/bin',
 '/usr/lib/python313.zip',
 '/usr/lib/python3.13',
 '/usr/lib/python3.13/lib-dynload',
 '/var/www/django-apps/wbilling/venv/lib/python3.13/site-packages']
Server time:	Sat, 27 Sep 2025 02:47:43 +0000
Error during template rendering
In template /var/www/django-apps/wbilling/waterbilling2.0/wb2/templates/consumption.html, error at line 578

Invalid block tag on line 578: 'endblock', expected 'empty' or 'endfor'. Did you forget to register or load this tag?
568	            } else {
569	                document.getElementById("myBtn").style.display = "none";
570	            }
571	        }
572	
573	        function scrollToTop() {
574	            document.body.scrollTop = 0;
575	            document.documentElement.scrollTop = 0;
576	        }
577	    </script>
578	    {% endblock consumption %}