{% extends 'dashboard.html'%}

{% load static %}
{% block title %}
Consumer Creation
{% endblock title %}
{% block consumercreation %}

<style>
    
    html{
    height: 100% !important ;                                                  ;
    }

    body{
        height: auto;
    
    }

    .form-header {
    font-family: Arial;
    margin: 0px 0px 16px;
    padding: 0px 12px;
    text-align: center;
    }

    .consumer{
    box-sizing: content-box;
    }

    .container-fluid{
    font-family: Arial;
    color: #212529;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    }

    .wrapper {
        font-size: 20px;
        margin-top: 80px;
        padding: 0px 12px;
        background: #fff;
        border-radius: 15px;
        padding: 30px;
    }

    .btn{
    background-color: #0cb3c2;
    color: #ffffff;
    padding: 8px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    .btn:first-child:hover, :not(.btn-check)+.btn:hover{
    background-color:white !important;
    color:black;
    }
    
    .button2 {
        background-color: var(--main-color);
        color: white;
        padding: 8px 30px;
        border: none;
        border-radius: 15px;
        box-shadow: inset 0px -8px 7px 0 rgb(0 0 0 / 24%), inset 0px 5px 7px 0 rgb(255 255 255 / 52%), 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease 0.3s;
    }

    .btn.button2:hover {
        background: var(--main-color);
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px -8px 7px 0 rgba(0, 0, 0, 0.39), inset 0px 5px 7px 0 #e6ecebd8, 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease-in 0.5s;
    }

    .btn.button2:focus {
        background: var(--main-color);
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px 4px 7px 0 rgba(0, 0, 0, 0.274), inset 0px -5px 7px 0 #e6ecebd8;
        transition: all 0.1s;
    }

</style>
<div class="shadow wrapper">
    <form action="{% url 'consumercreation' %}" method="POST">
        {% csrf_token %}
        <input type="hidden" name="isUpdate" value="{{isUpdate}}">
        <input type="hidden" name="conid" value="{{conid}}">
        <div class="form-header">
            <h1>Consumer {% if create %}Creation{% else %}Update{% endif %}</h1>
        </div>
        <div class="row form-group w-100 m-auto">
            <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
                <label for=""style="font-size: 20px;">First Name<span class="text-danger">*</span></label>
                {{form.firstname}}
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
                <label for=""style="font-size: 20px;">Middle Name<span class="text-danger">*</span></label>
            {{form.middlename}}
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
                <label for=""style="font-size: 20px;">Last Name<span class="text-danger">*</span></label>
                {{form.lastname}}
            </div>
        </div>
        <div class="row form-group w-100 m-auto">
            <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
                <label for=""style="font-size: 20px;">Home Address<span class="text-danger">*</span></label>
                {{form.homeaddress}}
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
                <label for=""style="font-size: 20px;">Sitio<span class="text-danger">*</span></label>
                {{form.sitio}}
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
                <label for=""style="font-size: 20px;">Email<span class="text-danger">*</span></label>
            {{form.email}}
            </div>
        </div>
        <div class="row form-group w-100 m-auto">
            <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
                <label for=""style="font-size: 20px;">Meter Number<span class="text-danger">*</span></label>
                {{form.meternumber}}
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
                <label for=""style="font-size: 20px;">Initial Meter Reading<span class="text-danger">*</span></label>
                {{form.initialmeterreading}}
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
                <label for="id"style="font-size: 20px;">Rate I.D.<span class="text-danger">*</span></label>
                {{form.contypeid}}
            </div>
        </div>
        <div class="row form-group w-100 m-auto">
            <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
                <label for=""style="font-size: 20px;">Installation Address<span class="text-danger">*</span></label>
            {{form.installation_address}}
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
                <label for="start"style="font-size: 20px;">Birthdate<span class="text-danger">*</span></label>
                {{form.birthdate}}
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
                <label for=""style="font-size: 20px;">Sex<span class="text-danger">*</span></label>
                {{form.sex}}
            </div>
        </div>
        <div class="row form-group w-100 m-auto">
            <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
                <label for=""style="font-size: 20px;">Mobile Number<span class="text-danger">*</span></label>
                {{form.mobilenum}}
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
                <label for="" class=""style="font-size: 20px;">Penalty Code</label>
                {{form.penaltycode}}
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 mb-2">
            </div>
        </div>
        <div class="row m-auto" style="display: block; text-align: center;">
            <button type="submit" class="btn button2" style="width: 150px; white-space: nowrap;">
                <img style="width: 23px;" src="{% static '/images/how_to_reg_FILL1_wght700_GRAD0_opsz48.svg' %}" />
                    <span style="padding: 10px; font-family: Arial;">Submit</span>
                
            </button>
        </div>
    </form>
</div>
<script>
    function onlyzNumberKey(evt) {
          
        // Only ASCII character in that range allowed
        var ASCIICode = (evt.which) ? evt.which : evt.keyCode
        if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
            return false;
        return true;
    }
</script>
{% block script %}
{% endblock script %}
{% endblock consumercreation %}



