
 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard.css'%}">
    <!-- CSS only -->
   <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/9658ee38ca.js" crossorigin="anonymous"></script>
</head>

<body>
    <header>
     {% for message in messages %}
        <div class="alert alert-{% if message.tags == 'erro" %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible>
          <strong>{{message.tags|title}}!</strong> {{message}}
            <a href="#" class="close" data-dismiss="alert" style="color: var(--bs-{% if message.tags == error" %}danger{% else %}{{message.tags}}{% endif %} ); text-decoration: none; aria-label="close">&times;</a>
        </div>
        {% endfor %}

            <div class="row w-100 m-auto " style="height: 100%; align-content: center; font-weight: 700;">



                <div class="col-sm-9 col-md-9 col-lg-9; sty" style="font-size: 34px; white-space: nowrap;" >

            <div class="row w-100 m-auto " style="height: 100%; align-content: center; font-weight: 700;" id="myHeader">
                <div class="col-sm-9 col-md-9 col-lg-9;" style="font-size: 34px; white-space: nowrap;" >


                    <button class="header_toggle" onclick="first_toggle()" id="first_toggle">
                        <i class="fa fa-bars"></i>
                    </button>

                    <button class="header_toggle" onclick="second_toggle()" id="second_toggle" style="display:none;">
                        <i class="fa fa-bars"></i>
                    </button>
                    <span class="mobile_header_font" style="padding-left:10px; color:white"> ONLINE WATER BILLING <span style="color: #63CDD7;">STATION</span></span>

                </div>
                <div class="mobile_header_nav col-sm-3 col-md-3 col-lg-3" style="text-align: right; padding: 10px;" id="mobile_header_nav">

                </div>
                <div class="mobile_header_nav col-sm-3 col-md-3 col-lg-3" style="text-align: right; padding: 10px;" id="mobile_header_nav">

                    <a href="#" style="color:#0093B7; text-decoration: none; padding: 0 5%;">
                        <i class="fa-solid fa-bell"></i>
                    </a>
                    <a href="" style="color:#0093B7; text-decoration: none; padding:0 5%">
                        <i class="fa-solid fa-magnifying-glass-plus"></i>
                    </a>
                    <a href="signout" style="color:#0093B7; text-decoration: none ;padding:0 5%">
                        <i class="fa-solid fa-right-from-bracket"></i>
6
                    </a>
                </div>
            </div>
    </header>

    <div class="sidebar" style=" height: auto !important; min-height: 100%;" id="side_nav">

        <div class="dev">

    <div class="sidebar" style=" height: auto !important; min-height: 100%;" id="side_nav">
        <div class="user_info">            <i class="fa-solid fa-circle-user fa-8x"></i>
                <p>Developer</p>
        </div>
        <ul class="list-unstyled" style=" margin-top: 30px; margin-left: -72px; ">

             <li class="side_nav_li">
              <a href="/" style="color: white; text-decoration: none;">
                    <i class="fa-solid fa-money-bill-wave fa-2x"></i>
                    <span class="sidenav_text">Billing</span>
               </li></a>
            <li class="side_nav_li">
                <a href="/" style="color: white; text-decoration: none ">
                    <i class="fa fa-tachometer fa-2x"></i>
                    <span class="sidenav_text">Meter Reading</span>
                </a>

            </li>

            <li>
                <a href="/" style="color: white; text-decoration: none">


                <a href="/" style="color: white; text-decoration: none">
            <li class="side_nav_li">
                <a href="/" style="color: white; text-decoration: none">

                  <i class="fa-solid fa-user fa-2x"></i>
                    <span class="sidenav_text">User Accounts</span>

            </li></a>
            <li class="side_nav_li">
                <a href="/" style="color: white; text-decoration: none" >
                    <i class="fa-solid fa-newspaper fa-2x"></i>
                    <span class="sidenav_text">Reports</span>
                </a>
            </li>
            <li class="side_nav_li">
                <a href="/" style="color: white; text-decoration: none">
                    <i class="fa-solid fa-thumbs-up fa-2x"></i>
                    <span class="sidenav_text">Approve Application</span>
                </a>
            </li>
            <li class="side_nav_li">
                <a href="/" style="color: white; text-decoration: none">
                     <i class="fa-solid fa-user-group fa-2x"></i>
                    <span class="sidenav_text">Users Management</span>
                </a>
            </li>
            <li class="side_nav_li">
                <a href="/" style="color: white; text-decoration: none">
                    <i class="fa-solid fa-user-plus fa-2x"></i>
                    <span class="sidenav_text">User Creation</span>
                </a>
            </li>
            <li class="side_nav_li">
                <a href="/" style="color: white; text-decoration: none">
                    <i class="fa-solid fa-book fa-2x"></i>
                    <span class="sidenav_text">Rates Management</span>
                </a>
            </li>
            <li  class="side_nav_li">
                <a href="/" style="color: white; text-decoration: none">
                    <i class="fa-sharp fa-solid fa-gears fa-2x"></i>
                    <span class="sidenav_text">Account Settings</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="container-fluid main_content" style="padding-top:20px;" id="main_content">
        <div class="container-fluid p-0">
            <div class="table_responsive" style="max-height: 500px;">
                <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead class="wb_thead">

                        <tr class="header">
                            <th scope="col" style="min-width:110px">Account ID</th>
                            <th scope="col" style="min-width:120px">Name</th>
                            <th scope="col" style="min-width:100px">Meter Number</th>
                            <th scope="col" style="min-width:100px">Current Balance</th>
                        </tr>
                    </thead>

                    <tbody class="wb_tbody">
                        <tr>
                            <td>-</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row w-100 m-auto">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <button type="button" class="btn btn-wb-back">Back</button>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6" style="text-align-last: right;">
                <button type="button" class="btn btn-wb-copy">Get a Copy</button>
            </div>
        </div>
        <h1 class="mb-3 text-center">List of Billing Ledger</h1>
        <div class="container-fluid p-0">
            <div class="table-responsive" style="max-height: 700px

            ;">
                <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
                    <thead class="wb_thead">

                        <tr>
                            <th style="min-width: 100px;">Date</th>
                            <th style="min-width: 100px;">Previous</th>
                            <th style="min-width: 100px;">Current Reading</th>
                            <th style="min-width: 110px;">Cubic Meter Used</th>
                            <th style="min-width: 110px;">Amount Billed</th>
                            <th style="min-width: 100px;">Payment</th>
                            <th style="min-width: 100px;">Processed By</th>
                            <th style="min-width: 110px;">Transaction ID</th>
                            <th style="min-width: 100px;">Current Balance</th>
                        </tr>
                    </thead>

                    <tbody class="wb_tbody">
                        <tr>
                            <td>-</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>

                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>     <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>

                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>     <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>

                         <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>     <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>

                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>     <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>
                        <tr>
                            <td>-</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                            <td>4</td>
                        </tr>

                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script>

        function media_query_720(screen_size) {
            if (screen_size.matches) { // If media query matches
                document.getElementById("first_toggle").style.display = "none";
                document.getElementById("second_toggle").style.display = "inline";

                document.getElementById("mobile_header_nav").style.display = "none";

                document.getElementById("side_nav").classList.remove("sidebar");
                document.getElementById("side_nav").classList.add("remove_sidebar");
                document.getElementById("main_content").classList.remove("main_content");
                document.getElementById("main_content").classList.add("remove_main_content");
            } else {
                document.getElementById("first_toggle").style.display = "inline";
                document.getElementById("second_toggle").style.display = "none";

                document.getElementById("mobile_header_nav").style.display = "inline";

                document.getElementById("side_nav").classList.add("sidebar");
                document.getElementById("side_nav").classList.remove("remove_sidebar");
                document.getElementById("main_content").classList.add("main_content");
                document.getElementById("main_content").classList.remove("remove_main_content");
            }
        }
        var screen_size = window.matchMedia("(max-width: 720px)")
        media_query_720(screen_size) // Call listener function at run time
        screen_size.addListener(media_query_720) // Attach listener function on state changes


        function first_toggle() {
            document.getElementById("first_toggle").style.display = "none";
            document.getElementById("second_toggle").style.display = "inline";

            document.getElementById("side_nav").classList.remove("sidebar");
            document.getElementById("side_nav").classList.add("remove_sidebar");
            document.getElementById("main_content").classList.remove("main_content");
            document.getElementById("main_content").classList.add("remove_main_content");
        }
        function second_toggle() {
            document.getElementById("first_toggle").style.display = "inline";
            document.getElementById("second_toggle").style.display = "none";

            document.getElementById("side_nav").classList.add("sidebar");
            document.getElementById("side_nav").classList.remove("remove_sidebar");
            document.getElementById("main_content").classList.add("main_content");
            document.getElementById("main_content").classList.remove("remove_main_content");
        }
    </script>
</body>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</html>