{% load static %}
{% load active_link_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>
        {% block title %}
        {% endblock title %}
    </title>
    <link rel="icon" href="{% static 'images/logo.png' %}" type="images/png" sizes="16x16">
    <link rel="stylesheet" type="text/css" href="{% static 'dashboard.css'%}">
    <link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
    <!-- <script src="https://kit.fontawesome.com/9d6dcdab6b.js" crossorigin="anonymous"></script> -->
    <script type="text/javascript" src="{% static 'jsPDF/cdnjs/jspdf.min.js' %}"></script>
    <script src="{% static 'chart.js' %}"> </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
    {% block style %}
    {% endblock style %}
</head>

<body>
    <div class="modal fade show" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header bg-dark border-0">
                    <span class="mobile_header_font" style="color:white;font-weight: 700;">
                        WATER BILLING
                        <span class="station" style="color: #63CDD7;">STATION</span>
                    </span>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body sidebar w-100">
                    <div class="user_info" style="margin-top: 0;"><i class="fa-solid fa-circle-user fa-8x">
                            <img src="{% static 'svgs/payments.svg' %}" alt="">
                        </i>
                        <p style="font-size: 30px">{{user}}</p>
                    </div>
                    <ul class="list-unstyled" style="padding-left: 30px;">
                        <li class="modal_side_nav_li">
                            <a class="modal_side_nav_li_text" href="{% url 'bills_list' %}"
                                style="color: white; text-decoration: none;">
                                <i class="fa fa-money fa-2x"></i>
                                <span class="sidenav_text">Billing</span>
                            </a>
                        </li>
                        <li class="modal_side_nav_li">
                            <a class="modal_side_nav_li_text" href="{% url 'meterreading' %}"
                                style="color: white; text-decoration: none ">
                                <i class="fa fa-tachometer fa-2x"></i>
                                <span class="sidenav_text">Meter Reading</span>
                            </a>
                        </li>
                        <li class="modal_side_nav_li">
                            <a class="modal_side_nav_li_text" href="{% url 'consumer_list' %}"
                                style="color: white; text-decoration: none">
                                <i class="fa-solid fa-user fa-2x"></i>
                                <span class="sidenav_text">Consumers</span>
                            </a>
                        </li>
                        <li class="modal_side_nav_li">
                            <a class="modal_side_nav_li_text" href="{% url 'reports' %}"
                                style="color: white; text-decoration: none">
                                <i class="fa fa-line-chart fa-2x"></i>
                                <span class="sidenav_text">Reports</span>
                            </a>
                        </li>
                        <li class="modal_side_nav_li">
                            <a class="modal_side_nav_li_text" href="{% url 'unsettled_bills' %}"
                                style="color: white; text-decoration: none">
                                <i class="fa fa-line-chart fa-2x"></i>
                                <span class="sidenav_text">Unsettled Bills</span>
                            </a>
                        </li>
                        </li>
                        <li class="modal_side_nav_li">
                            <a class="modal_side_nav_li_text" href="{% url 'sysuser' %}"
                                style="color: white; text-decoration: none">
                                <i class="fa-solid fa-user-group fa-2x"></i>
                                <span class="sidenav_text"> System Users</span>
                            </a>
                        </li>
                        <li class="modal_side_nav_li">
                            <a class="modal_side_nav_li_text" href="{% url 'viewprof' %}" 
                                style="color: white; text-decoration: none">
                                <i class="fa-sharp fa-solid fa-gears fa-2x"></i>
                                <span class="sidenav_text">Settings</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <header>
        {% for message in messages %}
        <div id="login"
            class="message alert alert-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %} alert-dismissible"
            style="margin-left: 750px; margin-right: 750px; padding-left: 55px; position: absolute; border-radius: 10px;">
            <strong>{{message.tags|title}}!</strong> {{message}}
            <a href="#" class="close" data-dismiss="alert"
                style="color: var(--bs-{% if message.tags == 'error' %}danger{% else %}{{message.tags}}{% endif %}); text-decoration: none;"
                aria-label="close">&times;</a>
        </div>
        {% endfor %}

        <div class="row w-100 m-auto " style="height: 100%; align-content: center; font-weight: 700;" id="myHeader">
            <div class="col-sm-8 col-md-8 col-lg-8;" style="font-size: 20px; white-space: nowrap;">
                <button class="header_toggle" onclick="first_toggle()" id="first_toggle">
                    <i class="fa fa-bars"></i>
                </button>
                <button class="header_toggle" onclick="second_toggle()" id="second_toggle" style="display:none;">
                    <i class="fa fa-bars"></i>
                </button>
                <!-- Button trigger modal -->
                <button type="button" class="header_toggle" id="third_toggle" data-toggle="modal"
                    data-target="#exampleModal">
                    <i class="fa fa-bars"></i>
                </button>
                <span class="mobile_header_font" style="padding-left:10px; color:white">WATER BILLING <span
                        class="station" style="color: #63CDD7;">STATION</span></span>
            </div>

            <div class="mobile_header_nav col-sm-4 col-md-4 col-lg-4" style="text-align: right;" id="mobile_header_nav">


                <a href="#" style="color:#006c85; text-decoration: none; padding: 0 5%;">
                    <i class="fa-solid fa-bell"></i>
                </a>
                <a href="" style="color:#006c85; text-decoration: none; padding:0 5%">
                    <i class="fa-solid fa-magnifying-glass-plus"></i>
                </a>
                <a href="{% url 'signout' %}" style="color:#006c85; text-decoration: none ;padding:0 5%">
                    <i class="fa-solid fa-right-from-bracket"></i>
                </a>
            </div>
        </div>
    </header>
    <div class="sidebar" style=" height: auto !important; min-height: 100%;" id="side_nav">
        <div class="user_info"><i class="fa-solid fa-circle-user fa-8x"></i>
            <p style="font-size: 30px;">{{user}}</p>

        </div>

        <ul class="list-unstyled" style="margin-top: 30px; margin-left: -72px;">

            {% if request.user.is_teller or request.user.is_supervisor %}
            <a href="{% url 'bills_list' %}" style="color: white; text-decoration: none;">
                <li class="side_nav_li {% active_link 'bills_list' 'active' %}">
                    <i class="fa fa-money-bill-1-wave fa-2x"></i>
                        <div class="icon payment"></div>
                    </i>
                    <span style="    padding-left: 14px; font-size: 20px;">Billing</span>
                </li>
            </a>
            {% endif %}

            {% if request.user.is_teller or request.user.is_reader or request.user.is_supervisor %}
            <a href="{% url 'meterreading' %}" style="color: white; text-decoration: none ">
                <li class="side_nav_li {% active_link 'meterreading' 'active' %}">
                    <i class="fa fa-tachometer fa-2x"></i>
                    <span style=" padding-left: 17px; font-size: 20px;">Meter Reading</span>

                </li>
            </a>
            {% endif %}

            {% if request.user.is_teller or request.user.is_supervisor %}
            <a href="{% url 'consumer_list' %}" style="color: white; text-decoration: none">
                <li class="side_nav_li {% active_link 'consumer_list' 'active' %}">
                    <i class="fa-solid fa-user fa-2x"></i>
                    <span class="sidenav_text">Consumers</span>
                </li>
            </a>
            {% endif %}

            {% if request.user.is_teller or request.user.is_supervisor %}
            <a href="{% url 'reports' %}" style="color: white; text-decoration: none">
                <li class="side_nav_li {% active_link 'reports' 'active' %}">
                    <i class="fa fa-line-chart fa-2x"></i>
                    <span style=" padding-left: 20px; font-size: 20px">Reports</span>
                </li>
            </a>
            {% endif %}


            {% if request.user.is_teller or request.user.is_supervisor %}
            <a href="{% url 'unsettled_bills' %}" style="color: white; text-decoration: none">
                <li class="side_nav_li {% active_link 'unsettled_bills' 'active' %}">
                    <i class="fa fa-line-chart fa-2x"></i>
                    <span class="sidenav_text">Unsettled Bills</span>
                </li>
            </a>
            {% endif %}

            {% if request.user.is_admin %}
            <a href="{% url 'sysuser' %}" style="color: white; text-decoration: none">
                <li class="side_nav_li {% active_link 'sysuser' 'active' %}">
                    <i class="fa-solid fa-user-group fa-2x"></i>
                    <span style=" padding-left: 14px; font-size: 20px;">System Users</span>
                </li>
            </a>
            <a href="{% url 'viewprof' %}" style="color: white; text-decoration: none">
                <li class="side_nav_li {% active_link 'viewprof' 'active' %}">
                    <i class="fa-sharp fa-solid fa-gears fa-2x"></i>
                    <span style="font-size: 20px; padding-left: 15px;">Settings</span>
                </li>
            </a>


        </ul>
    </div>
    <div class="container-fluid main_content" style="padding-top:20px;" id="main_content">
        {% block billslist %}
        {% endblock billslist %}
        {% block discount %}
        {% endblock discount %}
        {% block reports %}
        {% endblock reports %}
        {% block ledger %}
        {% endblock ledger%}
        {% block meterreading %}
        {% endblock meterreading%}
        {% block bills_list %}
        {% endblock bills_list %}
        {% block consumer_list %}
        {% endblock consumer_list %}
        {% block sysuser %}
        {% endblock sysuser %}
        {% block consumercreation %}
        {% endblock consumercreation %}
        {% block deleteUser %}
        {% endblock deleteUser %}
        {% block registration %}
        {% endblock registration %}
        {% block waterusage %}
        {% endblock waterusage %}
        {% block unsettled_bills %}
        {% endblock unsettled_bills %}
        {% block view_unsettled_bills %}
        {% endblock view_unsettled_bills %}
        {% block sysuserupdate %}
        {% endblock sysuserupdate %}
        {% block settingspage %}
        {% endblock settingspage %}
        {% block revenue_report %}
        {% endblock revenue_report %}
        {% block usage_report_data %}
        {% endblock usage_report_data %}
        {% block bill %}
        {% endblock bill %}
        {% block new_contype %}
        {% endblock new_contype %}
        {% block view_barangay %}
        {% endblock view_barangay %}

        {% block bulkreading %}
        {% endblock bulkreading %}
        
        {% block userprof %}
        {% endblock userprof %}

        {% block viewprof %}
        {% endblock viewprof %}

        {% block penalties %}
        {% endblock penalties %}

    </div>
    <script>

        function media_query_720(screen_size) {
            if (screen_size.matches) {
                document.getElementById("first_toggle").style.display = "none";
                document.getElementById("second_toggle").style.display = "none";
                document.getElementById("third_toggle").style.display = "inline";
                document.getElementById("mobile_header_nav").style.display = "none";
                document.getElementById("side_nav").classList.remove("sidebar");
                document.getElementById("side_nav").classList.add("remove_sidebar");
                document.getElementById("main_content").classList.remove("main_content");
                document.getElementById("main_content").classList.add("remove_main_content");
            } else {
                document.getElementById("first_toggle").style.display = "inline";
                document.getElementById("second_toggle").style.display = "none";
                document.getElementById("third_toggle").style.display = "none";
                document.getElementById("mobile_header_nav").style.display = "inline";
                document.getElementById("side_nav").classList.add("sidebar");
                document.getElementById("side_nav").classList.remove("remove_sidebar");
                document.getElementById("main_content").classList.add("main_content");
                document.getElementById("main_content").classList.remove("remove_main_content");
            }
        }
        var screen_size = window.matchMedia("(max-width: 720px)")
        media_query_720(screen_size)
        screen_size.addListener(media_query_720)


        function first_toggle() {
            document.getElementById("first_toggle").style.display = "none";
            document.getElementById("second_toggle").style.display = "inline";

            document.getElementById("side_nav").classList.remove("sidebar");
            document.getElementById("side_nav").classList.add("remove_sidebar");
            document.getElementById("main_content").classList.remove("main_content");
            document.getElementById("main_content").classList.add("remove_main_content");
        }
        function second_toggle() {
            document.getElementById("first_toggle").style.display = "inline";
            document.getElementById("second_toggle").style.display = "none";
            document.getElementById("side_nav").classList.add("sidebar");
            document.getElementById("side_nav").classList.remove("remove_sidebar");
            document.getElementById("main_content").classList.add("main_content");
            document.getElementById("main_content").classList.remove("remove_main_content");
        }
        $(document).ready(function () {
            let menuScrollTimer = null;
            $(".nav a").click(function (e) {
                e.preventDefault();
                if (menuScrollTimer === null) {
                    $('.nav a.active').removeClass('active');
                    $(this).addClass('active');
                    let target = $(this).attr('href');
                    $('html, body').animate({ scrollTop: $(target).offset().top - 100 }, 1050);
                    menuScrollTimer = setTimeout(function () {
                        clearTimeout(menuScrollTimer);
                        menuScrollTimer = null;
                    }, 1050);
                }
            });

            $(window).scroll(function (e) {
                if (menuScrollTimer === null) {
                    let windowTop = $(this).scrollTop();

                    $('.nav a').each(function (event) {
                        if (windowTop >= $($(this).attr('href')).offset().top - 100) {
                            $('.nav .active').removeClass('active');
                            $(this).addClass('active');
                        }
                    });
                }
            });
        });
    </script>

    <!-- <script src="https://kit.fontawesome.com/9658ee38ca.js" crossorigin="anonymous"></script> -->
    <script src="{% static 'jquery/jquery.js' %}"></script>
    <script src="{% static 'bootstrap.min.js' %}"></script>
    <script src="{% static 'popper.min.js' %}"></script>

    <script>
        var login = document.getElementById('login');
        setTimeout(function closeModal() {
            login.classList.add("op-0")
        }, 3000)
        setTimeout(function dispnone() {
            login.style.display = "none"
        }, 4000)
    </script>

    {% block script %}
    {% endblock script %}
</body>

</html>