{% extends 'dashboard.html' %}
{% load humanize %}
{% load static %}
{% block title %}
Discount Type
{% endblock title %}
{% load humanize %}

{% block style %}

<link rel="stylesheet" href="{% static 'DataTables/css/dataTables.bootstrap5.css'%} ">
<style>
    .table {
        transition-delay: all 1s ease-in-out;
    }

    h1 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    .button3 {
        background-color: #006c85;
        color: white;
        padding: 8px 30px;
        border: none;
        margin-top: 100px;
        border-radius: 15px;
        box-shadow: inset 0px -8px 7px 0 rgb(0 0 0 / 24%), inset 0px 5px 7px 0 rgb(255 255 255 / 52%), 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease 0.3s;
    }

    .btn.button3:hover {
        background: #006c85;
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px -8px 7px 0 rgba(0, 0, 0, 0.39), inset 0px 5px 7px 0 #e6ecebd8, 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease-in 0.5s;
    }

    .btn.button3:focus {
        background: #006c85;
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px 4px 7px 0 rgba(0, 0, 0, 0.274), inset 0px -5px 7px 0 #e6ecebd8;
        transition: all 0.1s;
    }

    .btn.btn-primary2 {
        background-color: #006c85;
        color: white;
        padding: 8px 30px;
        border: none;
        margin-top: 100px;
        border-radius: 15px;
        box-shadow: inset 0px -8px 7px 0 rgb(0 0 0 / 24%), inset 0px 5px 7px 0 rgb(255 255 255 / 52%), 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease 0.3s;
    }

    .btn.btn-primary2:hover {
        background: #006c85;
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px -8px 7px 0 rgba(0, 0, 0, 0.39), inset 0px 5px 7px 0 #e6ecebd8, 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease-in 0.5s;
    }
</style>
{% endblock style %}
{% block script %}
<script src="{% static 'bootstrap.min.js' %}"></script>
<script src="{% static 'jquery/jquery.js' %}"></script>
<script src="{% static 'popper.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $('#table').DataTable({
            order: [[2, 'asc']],
            stateSave: true,
            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, 'All'],
            ],
        });
    });
</script>
{% endblock script %}

{% block discount %}
{% include 'settingstabs.html'%}


<div class="pt-3 row">
    <div class="col-5 align-middle">
        <button type="button" class="btn button3" data-bs-toggle="modal" data-bs-target="#ksgj">
            <img style="width: 20px;" src="{% static '/images/playlist_add_FILL1_wght700_GRAD0_opsz48.svg' %}" />
            Add New Discount Type
        </button>
    </div>
    <div class="">
        <h1 style="text-align:center;"> Discount</h1>
    </div>
</div>

<div class="modal fade" id="ksgj" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Discount Entry</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" action="">
                    {% csrf_token %}
                    <div class="row form-group w-100 m-auto">
                        <center>
                            <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                                <label>Rate*</label>
                                {{form.discount_rate}}
                            </div>
                        </center>

                        <div class="modal-footer">
                            <input class="btn btn-primary2" name="btnform1" type="submit" value="Submit">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>




<div class="container-fluid p-0">
    <div class="table-responsive">
        <table id="table" class="table table-bordered table-striped table-sm" cellspacing="0" width="100%">
            <thead class="wb_thead">
                <tr style="background-color: #006c85; color: white;">
                    <th class="align-middle text-center p-0">Code</th>
                    <th class="align-middle text-center p-0">Discount Rate</th>
                    <th class="align-middle text-center p-0">Added By</th>
                    <th class="align-middle text-center p-0">Date Added</th>
                    <th class="align-middle text-center p-0">Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for d in dc %}
                <tr>
                    <td class="align-middle text-center p-0">{{d.discountcode}}</td>
                    <td>{{d.discount_rate}}</td>
                    <td>{{d.added_by_id}}</td>
                    <td class="align-middle text-center p-0">{{d.date_added}}</td>
                    <td class="align-middle text-center p-0">
                    <button type="button" class="btn button2 btn-success btn-sm" data-bs-toggle="modal"  data-bs-target="#edit-{{d.discountcode}}"> <img style="width:20px;"
                        src="{% static '/images/edit_white_36dp.svg' %}" />
                    </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

<!-- Edit Modal -->
</div>{% for i in dc %}
<div class="modal fade " id="edit-{{i.discountcode}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit Discount Rate</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                  <form method="POST" action="{% url 'editdiscount' i.discountcode %}">
                    {% csrf_token %}
                    <div class="row form-group w-100 m-auto">
                        <div class="col-lg-4 col-md-12 col-sm-12 col-12">
                            <label >Rate*</label>
                            <input value="{{i.discount_rate}}" name="discount_rate" type="" class="form-control" required>
                           
                        </div>

                        <div class="modal-footer">
                            <input class="btn btn-primary2" name="btnform2" type="submit" value="Update">
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endfor %}



        {% endblock discount %}