{% extends 'dashboard.html' %}
{% load static %}
{% static "images" as images %}


{% block title %}
System User
{% endblock title %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/wb2/static/style.css" />
<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">

</head>
<style>
    h3 {
        font-size: 30px;
    }

    label {
        font-size: 20px;
    }

    .form-header {
        margin: 0px 0px 16px;
        padding: 0px 12px;
        text-align: center;
    }

    .container {
        color: #212529;
    }

    .wrapper {
        font-size: 20px;
        margin-top: 80px;
        padding: 0px 12px;
        background: #fff;
        border-radius: 15px;
        padding: 30px;
    }

    .approver {
        font: 16px Arial;
        margin: 0px 0px 16px;
        padding: 0px 12px;
    }

    .button2 {
        background-color: var(--main-color);
        color: white;
        padding: 8px 30px;
        border: none;
        border-radius: 15px;
        box-shadow: inset 0px -8px 7px 0 rgb(0 0 0 / 24%), inset 0px 5px 7px 0 rgb(255 255 255 / 52%), 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease 0.3s;
    }

    .btn.button2:hover {
        background: var(--main-color);
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px -8px 7px 0 rgba(0, 0, 0, 0.39), inset 0px 5px 7px 0 #e6ecebd8, 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease-in 0.5s;
    }

    .btn.button2:focus {
        background: var(--main-color);
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px 4px 7px 0 rgba(0, 0, 0, 0.274), inset 0px -5px 7px 0 #e6ecebd8;
        transition: all 0.1s;
    }
</style>
{% endblock style %}
{% block editconsumertype%}
<section id="registration-page">
	<form action="{% url 'editconsumertype' con.contype %}" enctype="multipart/form-data" method="POST" class="signup-form">
		{% csrf_token %}
		<div class="container">
			<div class=" shadow wrapper">
				<div class="form-header">
					<center><h1>Edit Consumer Type</h1></center>
				</div>
				<div class="row form-group w-100 m-auto">
					<div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                        {% for error in form.first_name.errors %}
                        <div id="id_first_nameFeedback" class="invalid-feedback">
                            {{ error|escape }}
                        </div>
                        {% endfor %}
						<label for="">Consumer Type<span class="text-danger">*</span></label>
						{{form.contype}}
					</div>

					<div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                        {% for error in form.first_name.errors %}
                        <div id="id_first_nameFeedback" class="invalid-feedback">
                            {{ error|escape }}
                        </div>
                        {% endfor %}
						<label for="">Minimum Water Reading<span class="text-danger">*</span></label>
						{{form.minReading}}
					</div>

					<div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                        {% for error in form.first_name.errors %}
                        <div id="id_first_nameFeedback" class="invalid-feedback">
                            {{ error|escape }}
                        </div>
                        {% endfor %}
						<label for="">Minimum Water Reading Charge<span class="text-danger">*</span></label>
						{{form.minReadingCharge}}
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12 mb-2" style="margin-left:32%;">
                        {% for error in form.first_name.errors %}
                        <div id="id_first_nameFeedback" class="invalid-feedback">
                            {{ error|escape }}
                        </div>
                        {% endfor %}
						<label for="">Rate After Minimum Reading<span class="text-danger">*</span></label>
						{{form.rateAfterMin}}
					</div>
				<div class="row m-auto" style="display: block; text-align: center;">
                    <button type="submit" class="btn button2" style="width: 150px; white-space: nowrap;">
                        <img style="width: 23px;" src="{% static '/images/how_to_reg_FILL1_wght700_GRAD0_opsz48.svg' %}" />
                            <span style="padding: 10px; font-family: Arial;">Submit</span>
                        
                    </button>
                </div>
			</div>
		</div>
	</form>
</section>
{% endblock editconsumertype %}
{% block script %}

{% endblock script %}
