<form id="yearselection" action="">
    <select class="form-select mb-3" id="selector" onchange="change()">
        {% for i in years %}
        <option value="{{i}}" {% if i == cur_year %} selected{% endif %}>{{i}}</option>
        {% endfor %}
    </select>
</form>
<script>
    yearselection = document.getElementById("yearselection")
    selector = document.getElementById("selector")
    function change() {
        yearselection.action = selector.value
        yearselection.submit()
    }
</script>