<!DOCTYPE html
  PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Password Reset Email Template</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/wb2/static/forgotpassword.css" />
</head>
<body>
  <table align="center" cellpadding="0" cellspacing="0">
    <tbody>
      <tr>
        <td class="center">
          <h2>Reset Password request</h2>
        </td>
      </tr>
      <tr>
        <td class="heading">Hi {{User}},</td>
      </tr>
      <tr>
        <td class="center">To proceed, please enter your email and click the Resend Password option. You will then get an email confirming your request.</td>
      </tr>
      <tr>
        <td class="center">
            <input type="text" style="border-radius: 20px;width:300px;height:25px;" class="form-control" placeholder="Email Address">
        </td>
      </tr>
      <tr>
        <td class="center space-y">
            <a href="resetsent.html" class="button--reset">
            Reset Password
          </a>
        </td>
      </tr>

      <tr>
        <td class="center">If you don't have an email account, you can address your issue by going to the Municipal Water District Office.</td>
      </tr>

    </tbody>
  </table>
</body>
</html>
