{% extends 'dashboard.html' %} {% load static %} {% block style %}
<style>
  a {
    text-decoration: none;
    color: inherit;
  }
  html {
    height: auto;
    min-height: 100%;
  }
</style>
{% endblock style %} {% block ledger %}
<div class="container-fluid p-0">
  <div class="table_responsive" style="max-height: 922px">
    <table
      id="dtBasicExample"
      class="table table-bordered table-sm"
      cellspacing="0"
      width="100%"
    >
      <thead class="wb_thead">
        <tr class="header">
          <th scope="col" style="min-width: 110px">Account ID</th>
          <th scope="col" style="min-width: 120px">Name</th>
          <th scope="col" style="min-width: 100px">Meter Number</th>
          <th scope="col" style="min-width: 100px">Current Balance</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{u.consumer_id}}</td>
          <td>{{u.firstname}} {{u.middlename}} {{u.lastname}}</td>
          <td>{{u.meternumber}}</td>
          <td>{{bal}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="row w-100 m-auto">
  <div class="col-lg-6 col-md-6 col-sm-6">
    <a href="{% url 'bills_list' %}"
      ><button type="button" class="btn btn-wb-back">Back</button></a
    >
  </div>
  <div class="col-lg-6 col-md-6 col-sm-6" style="text-align-last: right">
    <button type="button" class="btn btn-wb-copy">Get a Copy</button>
  </div>
</div>
<h1 class="mb-3 text-center">List of Billing Ledger</h1>
<div class="container-fluid p-0">
  <div class="table-responsive" style="max-height: 700px">
    <table
      id="dtBasicExample"
      class="table table-bordered table-sm"
      cellspacing="0"
      width="100%"
    >
      <thead class="wb_thead">
        <tr>
          <th style="min-width: 100px">Transaction ID</th>
          <th style="min-width: 100px">Date</th>
          <th style="min-width: 100px">Previous</th>
          <th style="min-width: 100px">Current Reading</th>
          <th style="min-width: 110px">Cubic Meter Used</th>
          <th style="min-width: 110px">Rate ID</th>
          <th style="min-width: 110px">Amount Billed</th>
          <th style="min-width: 100px">Payment</th>
          <th style="min-width: 100px">Processed By</th>
          <th style="min-width: 110px">OR Number</th>
          <th style="min-width: 100px">Current Balance</th>
        </tr>
      </thead>

      <tbody class="wb_tbody">
        {% for t in table reversed %}
        <tr>
          <td class="{{t.style}}">{{t.transid}}</td>
          <td class="{{t.style}}">{{t.date}}</td>
          <td class="{{t.style}}">{{t.prev}}</td>
          <td class="{{t.style}}">{{t.reading}}</td>
          <td class="{{t.style}}">{{t.usage}}</td>
          <td class="{{t.style}}">{{t.rateid}}</td>
          <td class="{{t.style}}">{{t.bill}}</td>
          <td class="{{t.style}}">{{t.payment}}</td>
          <td class="{{t.style}}">{{t.pb}}</td>
          <td class="{{t.style}}">{{t.ornum}}</td>
          <td class="{{t.style}}">{{t.bal}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endblock ledger %}
