{% extends 'dashboard.html' %}
{% load static %}
{% block title %}
Account Ledger
{% endblock title %}
{% load humanize %}
{% block ledger %}
<style>
	.hide {
		opacity: 0;
		transition: 0.3s all ease-in-out;
	}

	.showOnHover:hover .hide {
		opacity: 1;
		transition: 0.3s all ease-in-out;
	}

	.button2 {
		background-color: var(--main-color);
		color: white;
		padding: 8px 30px;
		border: none;
		border-radius: 15px;
		box-shadow: inset 0px -8px 7px 0 rgb(0 0 0 / 24%), inset 0px 5px 7px 0 rgb(255 255 255 / 52%), 0px 6px 6px 0 rgb(0 0 0 / 19%);
		transition: all ease 0.3s;
	}

	.btn.button2:hover {
		background: var(--main-color);
		color: #ffffff;
		border-radius: 30px;
		box-shadow: inset 0px -8px 7px 0 rgba(0, 0, 0, 0.39), inset 0px 5px 7px 0 #e6ecebd8, 0px 6px 6px 0 rgb(0 0 0 / 19%);
		transition: all ease-in 0.5s;
	}

	.btn.button2:focus {
		background: var(--main-color);
		color: #ffffff;
		border-radius: 30px;
		box-shadow: inset 0px 4px 7px 0 rgba(0, 0, 0, 0.274), inset 0px -5px 7px 0 #e6ecebd8;
		transition: all 0.1s;
	}

</style>
<div class="container-fluid p-0">
	<div class="table-responsive">
		<table id="dtBasicExample2" class="table table-bordered" cellspacing="0" width="100%">
			<thead class="wb_thead">
				<tr class="header">
					<th scope="col" style="min-width:25px">Account ID</th>
					<th scope="col" style="min-width:25px">Name</th>
					<th scope="col" style="min-width:25px">Meter Number</th>
					<th scope="col" style="min-width:25px">Current Balance</th>
				</tr>
			</thead>
			<tbody>
				<tr class="showOnHover">
					<td class="table-light" style="">{{u.consumer_id}}</td>
					<td class="table-light" style="">{{u.firstname}} {{u.middlename}} {{u.lastname}}</td>
					<td class="table-light" style="">{{u.meternumber}}</td>
					<td class="table-light" style="">&#8369; {{u.current_bal|floatformat:2|intcomma}}
						<button type="button" class=" hide btn btn-primary" style="float: right; margin-left: 5px;"
							onclick=print()>Get Bill</button>
						<button type="button" class="hide btn btn-success" data-bs-toggle="modal"
							data-bs-target="#payment" style="float: right;">Pay</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<script src="{% static 'bootstrap.min.js' %}"></script>
<script src="{% static 'popper.min.js' %}"></script>
<div class="modal fade" id="payment" tabindex="-1" role="dialog" aria-labelledby="payment" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<form action="{% url 'payment' u.consumer_id %}" method="post">
				{% csrf_token %}
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">Payment</h5>
					<button type="button" class="btn border close" data-bs-dismiss="modal" aria-label="Close">
						<i class="fa fa-xmark"></i>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
						<label for="exampleInputPassword1">Amount</label>
						<input type="number" name="amount" min="1" id="id_amount" class="input form-control">
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">OR Number</label>
						<input type="number" name="or_num" id="id_or_num" class="input form-control">
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</div>
</div>
<div class="row w-100 m-auto pt-2">
	<div class="col-lg-12 col-md-12 col-sm-12" style="padding-top :10px;">
		<button type="button" onclick="getpdf()" class="btn button2" style="float:left;">
			<i class="fa fa-copy"></i>
			Get a Copy
		</button>
	</div>

	<div id="billing">
		<style>
			/* =============================================================
			GENERAL STYLES
		  ============================================================ */
		 .pad-top-botm {
			 padding-bottom:0;
			 padding-top:0;
		 }		 
		 .pad-top-botmm {
			padding-bottom:40px;
			padding-top:24px;
		}
		 .ddd {
			 text-transform:uppercase;
		 }
		 /* =============================================================
			PAGE STYLES
		  ============================================================ */
		 
		 .contact-info span {
			 font-size:14px;
			 padding:0px 50px 0px 50px;
			 color:white;
		 }
		 
		 .contact-info hr {
			 margin-top: 0px;
		 margin-bottom: 0px;
		 }
		 
		 .client-info {
			 font-size:15px;
		 }
		 
		 .ttl-amts {
			 text-align:right;
			 padding-right:50px;
		 }
		 .mun-header{
			font-size: 38px;
			font-family: emoji;
			font-weight: 700;
			}
			.mun{
			font-family: emoji;
			font-size: 25px;
			font-weight: 900;
			margin-top: -16px;
			}	
		.vertical {
			border-left: 2px solid black;
			height: 248px;
			margin-left: 512px;
			position: absolute;
			margin-top: -41px;
			}
		.vertical1 {
			border-left: 2px solid black;
			height: 248px;
			margin-left: 1007px;
			position: absolute;
			margin-top: -41px;
		}
		.vertical2 {
			border-left: 2px solid black;
			height: 248px;
			margin-left: 12px;
			position: absolute;
			margin-top: -41px;
			}
	</style>
	
	
	<div id="invoice">
		<div class="container" style="padding-top: 11px;padding-left: 40px;">
			<div class="header" style="text-align:center; margin-top: 30px;">
				<h1 class="mun-header">Municipality of Ginatilan</h1>
				<p class="mun"> Ginatilan Water Station</p>
			</div> 
     
			<div class="row pad-top-botm ">
			   <div >
				  <img id="logo" src="{% static 'images/lgulogo.png'%}" style="display:none; padding-bottom:20px; position:absolute; left: 17%; opacity: 100; top: 2%;" alt="LOGO"/>
			   </div>
		   </div>
		   <div class="col-lg-12 col-md-12 col-sm-12" style="background-color:var(--dark-text);">
			<hr>
		</div>
		   <div class="row pad-top-botmm client-info">
			<div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 54px;">
				<h4 class="ddd">  <strong>Consumer Information</strong></h4>
			   		<b>Account ID :</b> {{u.consumer_id}}
					<br>
					<b>Name :</b> {{u.firstname}} {{u.middlename}} {{u.lastname}}
					<br>
					<b>Address :</b> {{u.installation_address}}
					<br>
				   <b>Meter Number :</b> {{u.meternumber}}
					<br>
				   <b>Mobile Number :</b> {{u.mobilenum}}
			   </div>
			   <div class="vertical"></div>
			   <div class="vertical1"></div>
			   <div class="vertical2"></div>
				<div class="col-lg-6 col-md-6 col-sm-6" style="padding-left: 148px; position: absolute; margin-left: 408px;">
				<h4 class="ddd"> <strong>Payment Details </strong></h4>
				  <b>Bill Amount :  990 USD </b>
					<br>
					 Bill Date :  01th August 2014
					<br>
					 <b>Payment Status :  Paid </b>
					 <br>
					 Delivery Date :  10th August 2014
					<br>
					 Purchase Date :  30th July 2014
			   </div>
		   </div>
			<div class="col-lg-12 col-md-12 col-sm-12" style="background-color:var(--dark-text);">
				<hr>
			</div>
		   <div class="row">
              <div class="ttl-amts">
                  <h4> <strong>Bill Amount : 990 USD</strong> </h4>
             </div>
					 
		   </div>
	   </div>
		</div>
		<script>
			function print(){
				  const invoice = this.document.getElementById("invoice");
				console.log(invoice);
				console.log(window);
				var opt = {
					margin: .5,
					filename: '{{u.firstname}} {{u.middlename}} {{u.lastname}}_bill.pdf',
					image: { type: 'jpeg', quality: 0.98 },
					html2canvas: { scale: 2 },
					jsPDF: { unit: 'in', format: 'a4', orientation: 'landscape' }
				};
				html2pdf().from(invoice).set(opt).save();
			}
		
		</script>
	</div>

<h1 class="mb-3 text-center">Account Ledger</h1>
<div class="container-fluid p-0">
	<div class="table-responsive">
		<table id="dtBasicExample2" class="table table-bordered table-sm" cellspacing="0" width="100%">
			<thead class="wb_thead">

				<tr>
					<th style="min-width: 100px;">Transaction ID</th>
					<th style="min-width: 100px;">Date</th>
					<th style="min-width: 100px;">Previous</th>
					<th style="min-width: 100px;">Current Reading</th>
					<th style="min-width: 110px;">Cubic Meter Used</th>
					<th style="min-width: 110px;">Connection Type</th>
					<th style="min-width: 110px;">Amount Billed</th>
					<th style="min-width: 100px;">Payment</th>
					<th style="min-width: 100px;">Processed By</th>
					<th style="min-width: 110px;">OR Number</th>
					<th style="min-width: 100px;">Current Balance</th>
				</tr>
			</thead>

			<tbody class="wb_tbody">
				{% for t in table reversed %}
				<tr>
					<td class="{{t.style}}">{{t.transid}}</td>
					<td class="{{t.style}}">{{t.date}}</td>
					<td class="{{t.style}}">{{t.prev}}</td>
					<td class="{{t.style}}">{{t.reading}}</td>
					<td class="{{t.style}}">{{t.usage}}</td>
					<td class="{{t.style}}">{{t.rateid}}</td>
					<td class="{{t.style}}">{% if t.bill or t.bill != '' %}&#8369; {% endif %}
						{{t.bill|floatformat:2|intcomma}}</td>
					<td class="{{t.style}}">{% if t.payment %}&#8369; {{t.payment|floatformat:2|intcomma}}{% endif %}</td>
					<td class="{{t.style}}">{{t.pb}}</td>
					<td class="{{t.style}}">{{t.ornum}}</td>
					<td class="{{t.style}}">&#8369; {{t.bal|floatformat:2|intcomma}}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</div>
<div class="col-lg-12 col-md-12 col-sm-12" style="padding-top :10px;">
	<button id="ignore1" type="button" onclick="getpdf()" class="btn btn-wb-copy"
		style="float:right; font-size: 12px; border-radius: 15px;">Get a Copy
	</button>
</div>
</div id="elementH">

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"
	integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA=="
	crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script type="text/javascript">

	function getpdf() {
		var doc = new jsPDF('landscape', 'pt', 'legal');

		margins = {
			top: 150,
			bottom: 60,
			left: 40,
			right: 40,
			width: 600
		};

		const numberformat = new Intl.NumberFormat('en-US', {
			style: 'currency',
			currency: 'PHP',
			currencyDisplay: 'code'


		});


		var y = 20;
		var x = 40;

		doc.setFont("Courier");
		doc.setFontType("bold");
		doc.setLineWidth(10);
		doc.setFontSize(20);
		doc.text(420, y = y + 20, "GINATILAN WATER ");


		// var imgData = ("{% static 'images/govlog.png' %}");
		var y = 60;
		var x = 40;
		doc.setFont("Courier");
		doc.setLineWidth(5);
		doc.setFontSize(15);
		doc.text(x, y = y + 10, "Account ID:");
		doc.text(300, y, "{{u.consumer_id}}")
		doc.text(x, y = y + 15, "Name:");
		doc.text(300, y, "{{u.firstname}} {{u.middlename}} {{u.lastname}}")
		doc.text(x, y = y + 15, "Meter Number:");
		doc.text(300, y, "{{u.meternumber}}");
		doc.text(x, y = y + 15, "Balance:");
		doc.text(300, y, "PHP  {{u.current_bal|floatformat:2|intcomma}}");
		// doc.addImage(imgData, 'PNG', 15, 40, 180, 160);
		

		y = y + 70
		doc.setFont("Courier");
		doc.setFontType("bold");
		doc.setLineWidth(10);
		doc.setFontSize(20);
		doc.text(420, y = y + 30, "ACCOUNT LEDGER");

		var table = [{% for t in table reversed %}
	['{{t.transid}}', '{{t.date}}', '{{t.prev}}', '{{t.reading}}', '{{t.usage}}', '{{t.rateid}}', numberformat.format('{{t.bill}}'), numberformat.format('{{t.payment}}'), '{{t.pb}}', '{{t.ornum}}', numberformat.format('{{t.bal}}')], {% endfor %}
		]
	y = y + 5
	doc.setLineWidth(2);
	doc.setFontSize(11);
	doc.autoTable({
		head: [['Transaction ID', 'Date', 'Previous', 'Current Reading', 'Cubic Meter Used', 'Connectiong Type', 'Amount', 'Payment', 'Processed By', 'OR Number', 'Current Balance']],
		pageBreak: 'auto',
		body: table,
		theme: 'striped',
		startY: y = y + 30,
		styles: { font: "Courier" }

	})

	if (y > 600) {
		doc.addPage()
		y = 20
	}


	console.log("testing")
	doc.save('{{u.firstname}}_{{u.lastname}}_ledger.pdf');
	}
</script>

{% endblock ledger %}