{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="{% static 'style.css'%}">
    
</head>
    <body>
        <form class="form" action="login" method="POST">
            {% csrf_token %}
            <ul class="loginform">
                <li><h2>Log In Here</h2></li>
                <li>Please enter your credentials</li>
                <li><input type="text" name="username" placeholder="User ID"></li>
                <li><input type="password" name="Password" placeholder="Password"></li>
                <li><button type="submit">Sign In</button></li>
                <li><a href="forgetpassword">Forget Password?</a></li>  
            </ul>
        </form>   
    </body>
       
</html>