<!DOCTYPE html>
<html lang="en">  
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Log In Page</title>
    <link rel="stylesheet" type="text/css" href="styles.css" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="wrapper shadow" style=" margin: 10% auto !important; border-radius: 40px;  max-width: 440px; padding: 40px 0; background: #63CDD7;">
            <div class="log-in" style="padding-right: 15px">
                <center><h1 style="font-size: 32px;  color:white">Login</h1>
                   <h3 style="font-size: 24px; color:white">Enter User Credentials </h3>
                </center>
            </div>
            <center>
                    <div class="form-group m-2 w-75">
                        <input type="text" style="border-radius: 20px;" class="form-control" placeholder="User ID">
                    </div>
    
                    <div class="form-group m-2 w-75">
                        <input type="password" style="border-radius: 20px;" class="form-control"  placeholder="Password">
                    </div>
                    
                    <div class="form-group m-2 w-75"   > 
                        <button style="background-color:#0093B7; color:white;  border-radius:25px; width: 100%;" type="button" class="btn ">Sign In</button style>
                    </div>
                    <div class="FP ">
                        <a href="forgetpassword.html" style="color: #0093B7;">Forget Password?</a> 
                    </div>
            </center>

        </div>
        
    </div>
    





    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>