{% extends 'dashboard.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<style>
    .hide {
        opacity: 0;
        transition: 0.3s all ease-in-out;
    }

    .showOnHover:hover .hide {
        opacity: 1;
        transition: 0.3s all ease-in-out;

    }
</style>
{% endblock style %}
{% block script %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
<script>
    $(document).ready(function () {
        $('#table').DataTable({
            order: [[1, 'asc']],
            stateSave: true,
            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, 'All'],
            ],
        });
    });
</script>
{% endblock script %}
{% block meterreading %}
<h1 class="mb-3 text-center">Meter Reading</h1>
<div class="container-fluid p-0">
    <div class="table-responsive">
        <table id="table" class="table table-bordered table-striped table-sm" cellspacing="0" width="100%">
            <thead class="wb_thead">

                <tr>
                    <th style="min-width: 100px;">Account ID</th>
                    <th style="min-width: 100px;">Name</th>
                    <th style="min-width: 100px;">Meter Number</th>
                    <th style="min-width: 100px;">Address</th>
                </tr>
            </thead>

            <tbody class=" wb_tbody">
                {% for m in meterred %}
                <tr class="showOnHover">
                    <td class="{{t.style}}">
                        {{m.consumer_id}}
                    </td>
                    <td class="{{t.style}}">
                        {{m.lastname}}, {{m.firstname}} {{m.middlename}}
                    </td>
                    <td class="{{t.style}}">
                        {{m.meternumber}}
                    </td>
                    <td class="{{t.style}} showOnHover">
                        {{m.installation_address}}
                        <a class="hide btn btn-success btn-sm rounded-0" href="{{m.consumer_id}}/{{year}}" style="float: right;">
                            <i class="fa fa-edit"></i>
                        </a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock meterreading %}

