{% extends 'dashboard.html' %}
{% load static %}
{% load humanize %}




{% block title %}
Monthly Bill Collections
{% endblock title %}




{% block style %}




<style>
    .button2 {
        background-color: var(--main-color);
        color: white;
        padding: 8px 20px;
        border: none;
        border-radius: 15px;
        box-shadow: inset 0px -8px 7px 0 rgb(0 0 0 / 24%), inset 0px 5px 7px 0 rgb(255 255 255 / 52%), 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease 0.3s;
        margin-top: 30px;
        margin-bottom: 30px;
    }


    .btn.button2:hover {
        background: var(--main-color);
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px -8px 7px 0 rgba(0, 0, 0, 0.39), inset 0px 5px 7px 0 #e6ecebd8, 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease-in 0.5s;
    }


    .btn.button2:focus {
        background: var(--main-color);
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px 4px 7px 0 rgba(0, 0, 0, 0.274), inset 0px -5px 7px 0 #e6ecebd8;
        transition: all 0.1s;
    }


    .form-select {
        width: 13%;
        margin-left: 30px;
    }
    .hide {
        opacity: 0;
        transition: 0.3s all ease-in-out;
    }


    .showOnHover:hover .hide {
        opacity: 1;
        transition: 0.3s all ease-in-out;
    }


    .button2 {
        background-color: var(--main-color);
        color: white;
        padding: 8px 30px;
        border: none;
        border-radius: 15px;
        box-shadow: inset 0px -8px 7px 0 rgb(0 0 0 / 24%), inset 0px 5px 7px 0 rgb(255 255 255 / 52%), 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease 0.3s;
    }


    .btn.button2:hover {
        background: var(--main-color);
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px -8px 7px 0 rgba(0, 0, 0, 0.39), inset 0px 5px 7px 0 #e6ecebd8, 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease-in 0.5s;
    }


    .btn.button2:focus {
        background: var(--main-color);
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px 4px 7px 0 rgba(0, 0, 0, 0.274), inset 0px -5px 7px 0 #e6ecebd8;
        transition: all 0.1s;
    }


    /* ============================================================================================= */


    /* Colors for the transactions types */
    .table-orange {
        background-color: #ffd8a9;
        color: black;
    }


    .table-red {
        background-color: #ff7272;
        color: white;
    }


    .table-blue {
        background-color: #a9d8ff;
        color: black;
    }


    .table-yellow {
        background-color: #fffaa9;
        color: black;
    }


    .table-lightblue {
        background-color: #a9e6ff;
        color: black;
    }
</style>
{% endblock style %}


{% block monthly_collections %}


{% include 'reportstabs.html' %}
<script src="{% static 'jspdf.plugin.autotable.js'%}"> </script>
<script src="{% static 'chart.js'%}"> </script>
<script src="{% static 'jquery/jquery.min.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>
<script src="{% static 'popper.min.js' %}"></script>






<div id="">
    <h1 class="mb-3 text-center" style="margin-top: 3rem;">Monthly Bill Collections</h1>
   
    <form method="GET" action="{% url 'monthly_collections' cur_year %}">
        <div class="mb-4 d-flex flex-column align-items-center" style="width: 200px;">
            <label for="year" style="font-size: 18px; text-align: left; width: 100%;">Select Year:</label>
                 <select id="year" name="fyear" class="form-control text-left"
                    style="height: 40px; font-size: 16px;"
                    onchange="this.form.submit()">
                {% for year in years %}
                    <option value="{{ year }}" {% if year == cur_year %}selected{% endif %}>{{ year }}</option>
                {% endfor %}
            </select>
        </div>
    </form>
</div>




    <div class="container-fluid p-0">
        <div class="table-responsive">
            <div class="col-12 {% if table|length > 10 %}table-scrolls{% endif %}">
                <table id="dtBasicExample2" class="table table-hover table-bordered table-sm" cellspacing="0"
                    width="100%">
                   <thead class="wb_thead" style="position: sticky; top: 0; background-color: #006c85; color: white;">
    <tr>
        <th style="width: 33.33%; padding: 20px;">Month</th>
        <th style="width: 33.33%; padding: 20px;">Amount Collected</th>
        <th style="width: 33.33%; padding: 20px;">Number of Transactions</th>
    </tr>
</thead>


                    <tbody class="wb_tbody text-center"> <!-- Center-align all table data -->
                        {% for t in table reversed %}
                        <tr>
                            <td class="text-center">{{ t.month_col }}</td>
                            <td class="text-center">&#8369; {{ t.all_payments|floatformat:2|intcomma }}</td>
                            <!-- Two decimal places + comma separator -->
                            <td class="text-center">{{ t.number_of_transactions|intcomma }}</td> <!-- Add comma separator for numbers -->
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>




{% endblock monthly_collections %}