
{% extends 'dashboard.html' %}
{% load humanize %}
{% load static %}
{% block title %}
Consumer Type
{% endblock title %}
{% load humanize %}
{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    .table {
        transition-delay: all 1s ease-in-out;
    }

    h1 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    .button3 {
        background-color: #006c85;
        color: white;
        padding: 8px 30px;
        border: none;
        margin-top: 100px;
        border-radius: 15px;
        box-shadow: inset 0px -8px 7px 0 rgb(0 0 0 / 24%), inset 0px 5px 7px 0 rgb(255 255 255 / 52%), 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease 0.3s;
    }

    .btn.button3:hover {
        background: #006c85;
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px -8px 7px 0 rgba(0, 0, 0, 0.39), inset 0px 5px 7px 0 #e6ecebd8, 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease-in 0.5s;
    }

    .btn.button3:focus {
        background: #006c85;
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px 4px 7px 0 rgba(0, 0, 0, 0.274), inset 0px -5px 7px 0 #e6ecebd8;
        transition: all 0.1s;
    }
    .btn.btn-primary2{
        background-color: #006c85;
        color: white;
        padding: 8px 30px;
        border: none;
        margin-top: 100px;
        border-radius: 15px;
        box-shadow: inset 0px -8px 7px 0 rgb(0 0 0 / 24%), inset 0px 5px 7px 0 rgb(255 255 255 / 52%), 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease 0.3s;
    }
    .btn.btn-primary2:hover {
        background: #006c85;
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px -8px 7px 0 rgba(0, 0, 0, 0.39), inset 0px 5px 7px 0 #e6ecebd8, 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease-in 0.5s;
    }
  

    
</style>
{% endblock style %}
{% block script %}
<script src="{% static 'bootstrap.min.js' %}"></script>
<script src="{% static 'jquery/jquery.js' %}"></script>
<script src="{% static 'popper.min.js' %}"></script>

<script>
    $(document).ready(function () {
        $('#table').DataTable({
            order: [[2, 'asc']],
            stateSave: true,
            lengthMenu: [
                [10, 25, 50, -1],
                [10, 25, 50, 'All'],
            ],
        });
    });
</script>
{% endblock script %}
{% block new_contype %}


<div class="row w-100 m-auto">
    <div class="col-lg-3 col-md-4 col-sm-12">
        <a href="{% url 'settings' %}" class="btn btn-primary" style="padding-left: 70px; padding-right: 70px; 
		margin-bottom: 10px; background-color:  #006c85; border: none;">
            <i class="fa fa-user"><span style="padding: 12px; font-family: Arial;">Profile</span></i></a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-12">
        <a href="{% url 'new_consumertype' %}" class="btn btn-primary" style="padding-left: 50px; padding-right: 50px; 
		margin-bottom: 10px; background-color:  #006c85; border: none;">
            <i class="fa fa-users"><span style="padding: 12px; font-family: Arial;">Consumer Types</span></i></a>
    </div>
    

    <div class="col-lg-3 col-md-4 col-sm-12">
        <a href="{% url 'penalty'  %}" class="btn btn-primary" style="padding-left: 70px; padding-right: 70px; 
		margin-bottom: 10px; margin-bottom: 10px; background-color:  #006c85; border: none;">
            <i class="fa fa-gavel"><span style="padding: 12px; font-family: Arial;">Penalties</span></i></a>
    </div>

    <div class="col-lg-3 col-md-4 col-sm-12">
        <a href="{% url 'discount' %}" class="btn btn-primary" style="padding-left: 70px; padding-right: 70px;
		margin-bottom: 10px; background-color:  #006c85; border: none;">
            <i class="fa fa-percent"><span style="padding: 12px; font-family: Arial;">Discounts</span></i></a>
    </div>
</div>

<button type="button" class="btn button3" data-bs-toggle="modal" data-bs-target="#payment" >Add New Consumer Type</button>

    <center><h1 style="margin-top: 30px;">Consumer Type</h1></center>
    <div class="container-fluid p-0"> 
        <div class="table-responsive">
            <table id="table" class="table table-bordered table-striped table-sm" cellspacing="0" width="100%">
                <thead class="wb-thead">
                    <tr style="background: #006c85; color: white;">
                        <th>Code</th>
                        <th>Consumer Type</th>
                        <th>Minimum Water Reading</th>
                        <th>Minimum Water Reading Charge</th>
                        <th>Rate After Minimum Reading</th>
                        <th>Added By</th>
                        <th>Date Added</th>
                        </tr>
                </thead>
                <tbody>
                    {% for c in c %}
                    <tr>
                        <td>{{c.contypeid}}</td>
                        <td>{{c.contype}}</td>
                        <td>{{c.minReading}}</td>
                        <td>{{c.minReadingCharge}}</td>
                        <td>{{c.rateAfterMin}}</td>
                        <td>{{c.added_by_id}}</td>
                        <td>{{c.date_added}}</td>
                    </tr>
                        {% endfor %}
                </tbody>
        </table>
    </div>
</div>


<div class="modal fade" id="payment" data-bs-backdrop="static" data-bs-keyboard="false"  tabindex="-1" role="dialog" aria-labelledby="payment" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
            <form action="{% url 'new_consumertype' %}" method="POST">
                {% csrf_token %}
				<div class="modal-header">
					<h5 class="modal-title" id="exampleModalCenterTitle">Add New Consumer Type</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
						<i class="fa fa-xmark"></i>
					</button>
				</div>
				<div class="modal-body">
					<div class="form-group">
                        <label>Consumer Type:</label>
                        {{form.contype}}
                    </div>
                    <div class="form-group">    
                        <label>Minimum Water Reading:</label>
                        {{form.minReading}}
                    </div>
					<div class="form-group">
                        <label>Minimum Water Reading Charge:</label>
                        {{form.minReadingCharge}}
					</div>
					<div class="form-group">
                        <label>Rate After Minimum Reading:</label>
                        {{form.rateAfterMin}}
					</div>
				</div>
				<div class="modal-footer">
					<button type="submit" class="btn btn-primary2">Submit</button>
				</div>
            </form> 
		</div>
	</div>
</div>

{% endblock new_contype %}