{% extends 'dashboard.html' %}
{% load humanize %}
{% load static %}
{% block title %}
Consumer Type
{% endblock title %}
{% load humanize %}
{% block style %}
<link rel="stylesheet" href="{% static 'DataTables/css/dataTables.bootstrap5.css'%} ">

<style>
    .table {
        transition-delay: all 1s ease-in-out;
    }

    h1 {
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    .button3 {
        background-color: #006c85;
        color: white;
        padding: 8px 30px;
        border: none;
        margin-top: 100px;
        border-radius: 15px;
        box-shadow: inset 0px -8px 7px 0 rgb(0 0 0 / 24%), inset 0px 5px 7px 0 rgb(255 255 255 / 52%), 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease 0.3s;
    }

    .btn.button3:hover {
        background: #006c85;
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px -8px 7px 0 rgba(0, 0, 0, 0.39), inset 0px 5px 7px 0 #e6ecebd8, 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease-in 0.5s;
    }

    .btn.button3:focus {
        background: #006c85;
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px 4px 7px 0 rgba(0, 0, 0, 0.274), inset 0px -5px 7px 0 #e6ecebd8;
        transition: all 0.1s;
    }

    .btn.btn-primary2 {
        background-color: #006c85;
        color: white;
        padding: 8px 30px;
        border: none;
        border-radius: 15px;
        box-shadow: inset 0px -8px 7px 0 rgb(0 0 0 / 24%), inset 0px 5px 7px 0 rgb(255 255 255 / 52%), 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease 0.3s;
    }

    .btn.btn-primary2:hover {
        background: #006c85;
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px -8px 7px 0 rgba(0, 0, 0, 0.39), inset 0px 5px 7px 0 #e6ecebd8, 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease-in 0.5s;
    }
</style>
{% endblock style %}
{% block script %}
<script src="{% static 'bootstrap.min.js' %}"></script>
<script src="{% static 'jquery/jquery.js' %}"></script>
<script src="{% static 'popper.min.js' %}"></script>

{% endblock script %}
{% block new_contype %}

{% include 'settingstabs.html'%}

<div class="pt-3 row">
    <div class="col-5 align-middle">
        <button type="button" class="btn button3" data-bs-toggle="modal" data-bs-target="#payment">
            <img style="width: 20px;" src="{% static '/images/playlist_add_FILL1_wght700_GRAD0_opsz48.svg' %}" /> Add
            New Consumer Type
        </button>
    </div>

    <div class="modal fade" id="payment" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog"
        aria-labelledby="payment" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <form action="{% url 'new_consumertype' %}" method="POST">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalCenterTitle">Add New Consumer Type</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <i class="fa fa-xmark"></i>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="form-group">
                            <label>Consumer Type:</label>
                            {{form.contype}}
                        </div>
                        <div class="form-group">
                            <label>Minimum Water Reading:</label>
                            {{form.minReading}}
                        </div>
                        <div class="form-group">
                            <label>Minimum Water Reading Charge:</label>
                            {{form.minReadingCharge}}
                        </div>
                        <div class="form-group">
                            <label>Rate After Minimum Reading:</label>
                            {{form.rateAfterMin}}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" name="btnform1" class="btn btn-primary2">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="">
        <h1 style="text-align:center;">Consumer Type</h1>
    </div>
</div>
<div class="container-fluid p-0">
    <div class="table-responsive">
        <table id="table" class="table table-bordered table-striped" cellspacing="0" width="100%">
            <thead>
                <tr style="background: #006c85; color: white;">
                    <th class="align-middle text-center">Code</th>
                    <th class="align-middle text-center">Consumer Type</th>
                    <th class="align-middle text-center">Minimum Water Reading</th>
                    <th class="align-middle text-center">Rate After Minimum Reading</th>
                    <th class="align-middle text-center">Minimum Water Reading Charge</th>
                    <th class="align-middle text-center">Added By</th>
                    <th class="align-middle text-center">Date Added</th>
                    <td class="align-middle text-center">Edit</td>
                </tr>
            </thead>
            <tbody>
                {% for c in cont %}
                <tr>
                    <td class="align-middle text-center">{{c.contypeid}}</td>
                    <td>{{c.contype}}</td>
                    <td>{{c.minReading}}</td>
                    <td>{{c.rateAfterMin}}</td>
                    <td>{{c.minReadingCharge}}</td>
                    <td>{{c.added_by_id}}</td>
                    <td class="align-middle text-center">{{c.date_added}}</td>
                    <td class="align-middle text-center p-0">
                        <button type="button" class="btn button2 btn-success btn-sm" data-bs-toggle="modal"
                            data-bs-target="#edit-{{c.contypeid}}"> <img style="width:20px;"
                                src="{% static '/images/edit_white_36dp.svg' %}" />
                        </button>
                    </td>
                </tr>
                {% endfor %} 
            </tbody>
        </table>
    </div>

    
</div>
<!-- Edit Modal -->

{% for i in cont %}
<div class="modal fade" id="edit-{{i.contypeid}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" role="dialog"
aria-labelledby="payment" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
        <form action="{% url 'editcontype' i.contypeid %}" method="POST">
            {% csrf_token %}
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Edit Consumer Type</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                <i class="fa fa-xmark"></i>
                </button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Consumer Type*</label>
                    <input type="text" value="{{i.contype}}" name="contype" type="" class="form-control" required>

                </div>
                <div class="form-group">
                    <label>Minimum Water Reading*</label>
                            <input type="number" value="{{i.minReading}}" name="minReading" type="" class="form-control" required>

                </div>
                <div class="form-group">
                    <label>Minimum Water Reading Charge*</label>
                    <input type="number" value="{{i.minReadingCharge}}" name="minReadingCharge" type="" class="form-control"
                        required>

                </div>
                <div class="form-group">
                    <label>Rate After Minimum Reading:</label><br>
                            <input type="number" value="{{i.rateAfterMin}}" name="rateAfterMin" type="" class="form-control" required>

                </div>
            </div>
            <div class="modal-footer">
                <button type="submit" name="btnform2" class="btn btn-primary2">Update</button>
            </div>
        </form>
    </div>
</div>
</div>
{% endfor %}



{% endblock new_contype %}