<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DPenalty</title>
</head>
<body>
 <form method="POST" action="">
    {% csrf_token %}
    <h1> Add New Discount Rate</h1>
    <label>About:</label>
    {{form.penalty_info}}
<br>
<br>
<label>Rate</label>
{{form.penalty_rate}}
<br>
<br>
<label>Penalty After</label>
{{form.penalty_after}}
<br>
<br>
<label>Days to Apply</label>
{{form.daysappliedafter}}
<br>
<br>


    <input type="submit" name="Submit">
  
</form>

</body>

</html>