<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Penalty</title>
</head>
<body>
    <h1> Penalty </h1>
<div>
    <table>
<thead>
  <tr>
    <th>Code</th>
    <th>Penalty After</th>
    <th>Days before Applied</th>
    <th>Details</th>
    <th>Added By</th>
    <th>Date Added</th>
  </tr>
</thead>
<tbody>
    {% for p in p %}
    <tr>
        <td>{{p.penaltycode}}</td>
        <td>{{p.penalty_after}}</td>
        <td>{{p.daysappliedafter}}</td>
        <td> {{p.penalty_info}}</td>
        <td>{{p.added_by_id}}</td>
        <td>{{p.date_added}}</td>
    </tr>
    {% endfor %}
</tbody>
</table>
<form method="POST" action="">
    {% csrf_token %}
    <h3> Add New Penalty</h3>
<label>Rate</label>
{{form.penalty_rate}}

<label>Penalty After</label>
{{form.penalty_after}}

<label>Days before Application</label>
{{form.daysappliedafter}}

<label>Details:</label><br>
{{form.penalty_info}}
<br>
<br>


    <input type="submit" name="Submit">
<br>
<br>
<br>
</form>
</div>

</body>

</html>