{% extends 'dashboard.html' %}
{% load static %}
{% block title %}
Registration Form
{% endblock title %} 
{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
<style>
    .invalid-feedback{
        display: block!important;
    }
    
    .form-header {
        margin: 0px 0px 16px;
        padding: 0px 12px;
        text-align: center;
    }

    .container {
        color: #212529;
    }

    .wrapper {
        font-size: 20px;
        margin-top: 80px;
        padding: 0px 12px;
        background: #fff;
        border-radius: 15px;
        padding: 30px;
    }

    .approver {
        margin: 0px 0px 16px;
        padding: 0px 12px;
    }

    .button2 {
        background-color: #63CDD7;
        color: black;
        padding: 8px 30px;
        border: none;
        border-radius: 15px;
        box-shadow: inset 0px -8px 7px 0 rgb(0 0 0 / 24%), inset 0px 5px 7px 0 rgb(255 255 255 / 52%), 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease 0.3s;
    }

    .btn.button2:hover {
        background: #006c85;
        color: #212529;
        border-radius: 30px;
        box-shadow: inset 0px -8px 7px 0 rgba(0, 0, 0, 0.39), inset 0px 5px 7px 0 #e6ecebd8, 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease-in 0.5s;
    }

    .btn.button2:focus {
        background: #006c85;
        color: #212529;
        border-radius: 30px;
        box-shadow: inset 0px 4px 7px 0 rgba(0, 0, 0, 0.274), inset 0px -5px 7px 0 #e6ecebd8;
        transition: all 0.1s;
    }
/* 
    .fa-eye:before {
        padding: 0.5rem 0.75rem;
        color: #495057;
        text-align: center;
        background-color: #e9ecef;
        border: 1px solid rgba(0, 0, 0, .15);
    }

    .fa-eye-slash:before {
        padding: 0.5rem 0.75rem;
        color: #495057;
        text-align: center;
        background-color: #e9ecef;
        border: 1px solid rgba(0, 0, 0, .15);
    } */
</style>
{% endblock style %}
{% block registration %}
<section id="registration-page">
    <form action="user_creation" method="POST" class="signup-form needs-validation" novalidate>
        {% csrf_token %}
        <div class="container">
            <div class=" shadow wrapper">
                <div class="form-header">
                    <h1>Registration Form</h1>
                </div>
                <div class="row form-group w-100 m-auto">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                        <label for="">First Name<span class="text-danger">*</span></label>
                        {{form.first_name}}
                        {% for error in form.first_name.errors %}
                        <div id="id_first_nameFeedback" class="invalid-feedback">
                            <small>{{ error|escape }}</small>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                        <label for="">Middle Name</label>
                        {{form.mid_name}}
                        {% for error in form.mid_name.errors %}
                        <div id="id_mid_nameFeedback" class="invalid-feedback">
                            <small>{{ error|escape }}</small>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                        <label for="">Last Name<span class="text-danger">*</span></label>
                        {{form.last_name}}
                        {% for error in form.last_name.errors %}
                        <div id="id_last_nameFeedback" class="invalid-feedback">
                            <small>{{ error|escape }}</small>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                        <label for="">Mobile Number<span class="text-danger">*</span></label>
                        {{form.mobilenum}}
                        {% for error in form.mobilenum.errors %}
                        <div id="id_mobilenumFeedback" class="invalid-feedback">
                            <small>{{ error|escape }}</small>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                        <label for="">Email<span class="text-danger">*</span></label>
                        {{form.email}}
                        {% for error in form.email.errors %}
                        <div id="id_emailFeedback" class="invalid-feedback">
                            <small>{{ error|escape }}</small>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                        <label for="">Username<span class="text-danger">*</span></label>
                        {{form.username}}
                        {% for error in form.username.errors %}
                        <div id="id_usernameFeedback" class="invalid-feedback">
                            <small>{{ error|escape }}</small>
                        </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="row form-group w-100 m-auto">
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2 has-validation">
                        <label for="">Password<span class="text-danger">*</span></label>
                        <div class="input-group">
                            {{form.password1}}
                            <div class="input-group-text" style="cursor: pointer;" onclick="showhide('id_password1')">
                                <i id="id_password1_eye" class="fa fa-eye-slash"></i>
                            </div>
                        </div>
                        {% for error in form.password2.errors %}
                        <div id="id_password1Feedback" class="invalid-feedback">
                            <small>{{ error|escape }}</small>
                        </div>
                        {% endfor %}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                        <label for="">Confirm Password<span class="text-danger">*</span></label>
                        <div class="input-group">
                            {{form.password2}}
                            <div class="input-group-text" style="cursor: pointer;" onclick="showhide('id_password2')">
                                <i id="id_password2_eye" class="fa fa-eye-slash"></i>
                            </div>
                        </div>
                        {% for error in form.password2.errors %}
                        <div class="invalid-feedback">
                            <small>{{ error|escape }}</small>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <fieldset class="form-group">
                    <div class="row m-auto w-100">
                        <div class="col-lg-6 col-md-6 col-sm-12 ">
                            <label>Type of User</label>
                            <div class="form-check">
                                {{form.is_admin}}
                                <label class="form-check-label" for="id_is_admin">Admin</label>
                            </div>
                            <div class="form-check">
                                {{form.is_teller}}
                                <label class="form-check-label" for="id_is_teller">Teller</label>
                            </div>
                            <div class="form-check">
                                {{form.is_supervisor}}
                                <label class="form-check-label" for="id_is_supervisor">Supervisor</label>
                            </div>
                            <div class="form-check">
                                {{form.is_manager}}
                                <label class="form-check-label" for="id_is_manager">Manager</label>
                            </div>
                            <div class="form-check">
                                {{form.is_reader}}
                                <label class="form-check-label" for="id_is_reader">Meter Reader</label>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <!-- TO BE IMPLEMENTED PUHON -->
                <div class="row w-100 m-auto m-2">
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                        <label for="formFile" class="form-label">Authorized Approver</label>
                        {{form.authorizedapprover}}
                    </div>
                </div>
                <!--  -->
                <div class="row form-group m-auto" style="display: block; text-align: center;">
                    <button type="submit" class="btn button2" style="width: 150px; white-space: nowrap;">
                        <i class="fa fa-check-square-o">
                            <span style="padding: 10px; font-family: Arial;">Submit</span>
                        </i>
                    </button>
                </div>
            </div>
        </div>
    </form>

<script src="{% static 'jquery/jquery.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>
<script src="{% static 'popper.min.js' %}"></script>
<script>
    
    window.onload = function() {
        input = document.getElementById("id_first_name");
        input.focus();
    }
    function showhide(id) {
        pass = document.getElementById(id)
        eye = document.getElementById(id+"_eye")
        console.log(pass.innerHTML);
        if (pass.type === "text") {
            pass.type = 'password'
            eye.classList.remove("fa-eye");
            eye.classList.add("fa-eye-slash");
        } else {
            pass.type = 'text'
            eye.classList.remove("fa-eye-slash");
            eye.classList.add("fa-eye");
        }
    }
</script>
{% endblock registration %}