{% extends 'dashboard.html' %}
{% load static %}
{% block title %}
Registration Form
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
<script src="{% static 'font-awesome.min.css'%}"> </script>
<style>
    html {
        height: auto;
        min-height: 100%;
    }

    body {
        height: auto;
    }

    h3 {
        font-size: 30px;
    }

    label {
        font-size: 20px;
    }

    .form-header {
        font-family: Arial;
        margin: 0px 0px 16px;
        padding: 0px 12px;
        text-align: center;
    }

    .container {
        font-family: Arial;
        color: #ffffff;
    }

    .wrapper {
        font-size: 20px;
        font-family: Arial;
        margin-top: 80px;
        padding: 0px 12px;
        background: #006c85;
        border-radius: 15px;
        padding: 30px;
    }

    .approver {
        font: 16px Arial;
        margin: 0px 0px 16px;
        padding: 0px 12px;
    }

    .button2 {
        background-color: #63CDD7;
        color: black;
        padding: 8px 30px;
        border: none;
        border-radius: 15px;
        box-shadow: inset 0px -8px 7px 0 rgb(0 0 0 / 24%), inset 0px 5px 7px 0 rgb(255 255 255 / 52%), 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease 0.3s;
    }

    .btn.button2:hover {
        background: #006c85;
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px -8px 7px 0 rgba(0, 0, 0, 0.39), inset 0px 5px 7px 0 #e6ecebd8, 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease-in 0.5s;
    }

    .btn.button2:focus {
        background: #006c85;
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px 4px 7px 0 rgba(0, 0, 0, 0.274), inset 0px -5px 7px 0 #e6ecebd8;
        transition: all 0.1s;
    }

    .fa-eye:before {
        padding: 0.5rem 0.75rem;
        color: #495057;
        text-align: center;
        background-color: #e9ecef;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 0.25rem;
        padding-bottom: 8px;

    }

    .fa-eye-slash:before {
        padding: 0.5rem 0.75rem;
        color: #495057;
        text-align: center;
        background-color: #e9ecef;
        border: 1px solid rgba(0, 0, 0, .15);
        border-radius: 0.25rem;
        padding-bottom: 8px;
    }

    .con:hover path {
        fill: white;
    }
</style>
{% endblock style %}
{% block registration %}
<section id="registration-page">
    <form action="user_creation" method="POST" class="signup-form">
        {% csrf_token %}
        <div class="container">
            <div class=" shadow wrapper">
                <div class="form-header">
                    <h1>Registration Form</h1>
                </div>
                <div class="row form-group w-100 m-auto">
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                        {% if form.errors %}
                        {% for error in form.first_name.errors %}
                        <div class="alert alert-danger" style="position: absolute; font-size: 12px; padding: 10px;">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <label for="">First Name*</label>
                        {{form.first_name}}
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                        {% if form.errors %}
                        {% for error in form.mid_name.errors %}
                        <div class="alert alert-danger" style="position: absolute; font-size: 12px; padding: 10px;">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <label for="">Middle Name*</label>
                        {{form.mid_name}}
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                        {% if form.errors %}
                        {% for error in form.last_name.errors %}
                        <div class="alert alert-danger" style="position: absolute; font-size: 12px; padding: 10px;">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <label for="">Last Name*</label>
                        {{form.last_name}}
                    </div>

                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                        {% if form.errors %}
                        {% for error in form.mobilenum.errors %}
                        <div class="alert alert-danger" style="position: absolute; font-size: 12px; padding: 10px;">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <label for="">Mobile Number*</label>
                        {{form.mobilenum}}
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                        {% if form.errors %}
                        {% for error in form.email.errors %}
                        <div class="alert alert-danger" style="position: absolute; font-size: 12px; padding: 10px;">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <label for="">Email*</label>
                        {{form.email}}
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-12 mb-2">
                        {% if form.errors %}
                        {% for error in form.username.errors %}
                        <div class="alert alert-danger" style="position: absolute; font-size: 12px; padding: 10px;">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <label for="">User ID*</label>
                        {{form.username}}
                    </div>
                </div>

                <div class="row form-group w-100 m-auto">
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                        {% if form.errors %}
                        {% for error in form.password1.errors %}
                        <div class="alert alert-danger" style="position: absolute; font-size: 12px; padding: 10px;">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <label for="">Password*</label>
                        <div class="input-group" id="show_hide_password">
                            {{form.password1}}
                            <div class="input-group-addon" style="margin-top: 5px;">
                                <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-2">
                        {% if form.errors %}
                        {% for error in form.password2.errors %}
                        <div class="alert alert-danger" style="position: absolute; font-size: 12px; padding: 10px;">

                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <label for="">Confirm Password*</label>
                        <div class="input-group" id="show_hide_confirm_pass">
                            {{form.password2}}
                            <div class="input-group-addon" style="margin-top: 5px;">
                                <a href=""><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row m-auto w-100">
                    <div class="col-lg-6 col-md-6 col-sm-12 ">
                        <h3>Type of User</h3>
                        {{form.is_admin}}
                        <label for="id_is_admin">ADMIN</label><br>
                        {{form.is_teller}}
                        <label for="id_is_teller">TELLER</label><br>
                        {{form.is_supervisor}}
                        <label for="id_is_supervisor">SUPERVISOR</label><br>
                        {{form.is_manager}}
                        <label for="id_is_manager">MANAGER</label><br>
                        {{form.is_reader}}
                        <label for="id_is_reader">METER READER</label><br>
                    </div>
                </div>
                <div class="row w-100 m-auto m-2">
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">

                        {% if form.errors %}
                        {% for error in form.authorizedapprover.errors %}
                        <div class="alert alert-danger" style="position: absolute; font-size: 12px; padding: 10px;">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                        <label for="formFile" class="form-label">Authorized Approver*</label>
                        {{form.authorizedapprover}}
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-12 mb-3">
                        {% if form.errors %}
                        {% for error in form.profilepic.errors %}
                        <div class="alert alert-danger" style="position: absolute; font-size: 12px; padding: 10px;">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="con">
                        <div class="row form-group m-auto" style="display: block; text-align: center;">
                            <button class="btn button2" style="width: 150px; white-space: nowrap;"> <svg
                                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 48 48"  style="width:30%;">
                                    <path
                                        d="m32.25 41.9-7.45-7.5 2.5-2.45 4.95 4.95L42.9 26.25l2.55 2.45Zm-12.4-18.65q-3.85 0-6.3-2.45-2.45-2.45-2.45-6.3 0-3.85 2.45-6.3 2.45-2.45 6.3-2.45 3.85 0 6.325 2.45t2.475 6.3q0 3.85-2.475 6.3-2.475 2.45-6.325 2.45Zm7.55 4.1-7.35 7.55 6.95 7H2.6v-6.05q0-2 1.075-3.75T6.7 29.45q3.6-1.6 6.875-2.35t6.275-.75q1.45 0 3.65.275t3.9.725Z" />
                                </svg>
                                <span style="padding: 10px; font-family: Arial;">Submit</span></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</section>
<script src="{% static 'bootstrap.min.js' %}"></script>
<script src="{% static 'jquery/jquery.js' %}"></script>
<script src="{% static 'popper.min.js' %}"></script>

</section>

<script>
    $(document).ready(function () {
        $("#show_hide_password a").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_password input').attr("type") == "text") {
                $('#show_hide_password input').attr('type', 'password');
                $('#show_hide_password i').addClass("fa-eye-slash");
                $('#show_hide_password i').removeClass("fa-eye");
            } else if ($('#show_hide_password input').attr("type") == "password") {
                $('#show_hide_password input').attr('type', 'text');
                $('#show_hide_password i').removeClass("fa-eye-slash");
                $('#show_hide_password i').addClass("fa-eye");
            }
        });
    });

    $(document).ready(function () {
        $("#show_hide_confirm_pass a").on('click', function (event) {
            event.preventDefault();
            if ($('#show_hide_confirm_pass input').attr("type") == "text") {
                $('#show_hide_confirm_pass input').attr('type', 'password');
                $('#show_hide_confirm_pass i').addClass("fa-eye-slash");
                $('#show_hide_confirm_pass i').removeClass("fa-eye");
            } else if ($('#show_hide_confirm_pass input').attr("type") == "password") {
                $('#show_hide_confirm_pass input').attr('type', 'text');
                $('#show_hide_confirm_pass i').removeClass("fa-eye-slash");
                $('#show_hide_confirm_pass i').addClass("fa-eye");
            }
        });
    });
</script>
{% endblock registration %}