{% extends 'dashboard.html' %}
{% load static %}
{% load humanize %}


{% block style %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
{% endblock style %}
{% block script %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
</head>
{% endblock script %}
{% block reports %}
<style>
    .hide {
        opacity: 0;
        transition: 0.3s all ease-in-out;
    }

    .showOnHover:hover .hide {
        opacity: 1;
        transition: 0.3s all ease-in-out;

    }
</style>
<body>

<div class="container">

  <ul class="nav nav-tabs" style="background-color: #63CDD7; color : white; font-weight: bold;">

    <li class="active">
      <a data-toggle="tab" href="{% url 'barangayreport' %}">
        <i class="fa fa-book"></i>
        <span>Barangay Reports</span>
      </a>
    </li>
    <li>
      <a data-toggle="tab" href="{% url 'revenue_report' %}"><i class="fa fa-bar-chart"></i>Revenue Record</a>
    </li>
    <li>
      <a data-toggle="tab" href="{% url 'view_unsettled_bills' %}"><i class="fa fa-money"></i>Unsettled Bills</a>
    </li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <h3 style="text-align: center; margin-left: 20px;">Barangay Reports</h3>
    </div>
    <div id="menu1" class="tab-pane fade">
      <h3 style="text-align: center; margin-left: 20px;">Revenue Record</h3>
    </div>
    <div id="menu2" class="tab-pane fade">
      <h3 style="font-weight: bold; text-align:center; top: 20px; bottom: 20px;">Unsettled Bills</h3>
    </div>

  </div>
</div>
{% endblock reports %}