<!DOCTYPE html>
<html lang="en">

<head>
  <title>Reports</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://kit.fontawesome.com/yourcode.js" crossorigin="anonymous"></script>
</head>

<body>

  <div class="container">

    <ul class="nav nav-tabs" style="background-color: #63CDD7; color : white; font-weight: bold;">

      <li class="active">
        <a data-toggle="tab" href="#home" style="margin-left: 2px;">
          <i class="fa fa-book"></i>
          <span>Barangay Reports</span>
        </a>
      </li>
      <li>
        <a data-toggle="tab" href="#menu1"><i class="fa fa-bar-chart"></i><span>Revenue Record</span></a>
      </li>
      <li>
        <a data-toggle="tab" href="#menu2"><i class="fa fa-money"></i><span>Unsettled Bills</span></a>
      </li>
    </ul>

    <div class="tab-content">
        <div id="home" class="tab-pane fade">
          <h3 style=" margin-bottom: 50px; text-align: center; margin-top: 30px;">Barangay Yearly Record</h3>
        </div>
        <div id="menu1" class="tab-pane fade">
          <h3 style="text-align: center; margin-left: 20px;">Revenue Record</h3>
        </div>
        <div id="menu2" class="tab-pane fade">
          <h3 style="font-weight: bold; text-align:center; top: 20px; bottom: 20px;">Unsettled Bills</h3>
        </div>
    </div>
  </div>
</body>

</html>