
<div class="row w-100 m-auto">
	<div class="col-lg-4 col-md-4 col-sm-4">
		<a href="{% url 'reports' %}" class="btn btn-primary" style="padding-left: 70px; padding-right: 70px; 
		margin-bottom: 10px; background-color:  #006c85; border: none;">
			<i class="fa fa-address-book"><span style="padding: 12px; font-family: Arial;">Barangay Reports</span></i></a>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4">
		<a href="{% url 'usage_report_data' cur_year %}" class="btn btn-primary" style="padding-left: 70px; padding-right: 70px; 
		margin-bottom: 10px; margin-bottom: 10px; background-color:  #006c85; border: none;"> 
			<i class="fa fa-line-chart"><span style="padding: 12px; font-family: Arial;">Usage Report Data</span></i></a>
	</div>

	<div class="col-lg-4 col-md-4 col-sm-4">
		<a href="{% url 'revenue_report' cur_year %}" class="btn btn-primary" style="padding-left: 70px; padding-right: 70px;
		margin-bottom: 10px; background-color:  #006c85; border: none;">
			<i class="fa fa-bar-chart"><span style="padding: 12px; font-family: Arial;">Revenue Reports</span></i></a>
	</div>
</div>