{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Verification</title>
    <link rel="stylesheet" type="text/css" href="{% static 'resetsent.css'%}" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<body>
    <div class="container">
        <div class="wrapper shadow" style=" margin: 10% auto !important; border-radius: 30px;  max-width: 440px; padding: 40px 0; background: #63CDD7; height:400px;">
            <div class="log-in" style="padding-right: 15px">
                <center>
                  <h5 class="password" style="font-size: 30px;  color:white; font-family:'Poppins',sans-serif;">Reset Password Sent</h5>
                </center>
                <br>
            </div>
            <center>
                <p class="header">We sent you an email in response to your request,please check it and click the 'Back to login' button to coninue.</p>
                    
                <div class="form-group m-2 w-75"   > 
                    <a href="/reset_password">
                    <button style="background-color:#0093B7; color:white;  border-radius:25px; width: 100%; margin-bottom: 20px;" type="button" class="btn ">RESEND EMAIL</button style>
                    </a>
                    <a href="/">
                    <button style="background-color:#0093B7; color:white;  border-radius:25px; width: 100%;" type="button" class="btn ">BACK TO LOGIN</button style>
                    </a>
                    </div>
                   
            </center>

        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>

</body>
</html>