{% extends 'dashboard.html' %}

{% load humanize %}


{% block title %}
Revenue Report
{% endblock title %}


{% block style %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
  canvas {
    border: 10px outset #63CDD7;
    padding: 20px;

  }

  .header {
    font-weight: bold;
    margin-top: 40px;
  }

  h3 {
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 30px;
  }

  @media (max-width: 450px) {
    h3 {
      font-size: 18px;
    }
  }

  @media (min-width: 451px) {
    h3 {
      font-size: 35px;
    }
  }


  @media (max-width: 450px) {
    label {
      font-size: 12px;
    }
  }

  @media (min-width: 451px) {
    label {
      font-size: 20px;
    }
  }
</style>
{% endblock style %}

{% block revenue_report %}
<!-- CSS only -->


<div class="row w-100 m-auto">
	<div class="col-lg-4 col-md-12 col-sm-12">
		<a href="{% url 'reports' %}" class="btn btn-primary" style="padding-left: 70px; padding-right: 70px; 
		margin-bottom: 10px; background-color:  #006c85; border: none;">
			<i class="fa fa-address-book"><span style="padding: 12px; font-family: Arial;">Barangay Reports</span></i></a>
	</div>

	<div class="col-lg-4 col-md-12 col-sm-12">
		<a href="{% url 'usage_report_data' cur_year %}" class="btn btn-primary" style="padding-left: 70px; padding-right: 70px; 
		margin-bottom: 10px; background-color:  #006c85; border: none;"> 
			<i class="fa fa-line-chart"><span style="padding: 12px; font-family: Arial;">Usage Report Data</span></i></a>
	</div>

	<div class="col-lg-4 col-md-12 col-sm-12">
		<a href="{% url 'revenue_report' cur_year %}" class="btn btn-primary" style="padding-left: 70px; padding-right: 70px;
		margin-bottom: 10px; background-color:  #006c85; border: none;">
			<i class="fa fa-bar-chart"><span style="padding: 12px; font-family: Arial;">Revenue Reports</span></i></a>
	</div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<script src="/static/Chart.min.js"> </script>


<div>
  {% csrf_token %}



  <center>
    <h3>Revenue Reports</h3>
  </center>
  <div>
    <div class="form-group">
      <label class="header" for="exampleInputBarangay">Select Year: </label>
      <form id="yearselection" action="GET" style="margin-right: 1370px;">
        <select class="form-select" id="selector" onchange="change()">
          <option value="{{cur_year}}">{{cur_year}}</option>
          {% for i in years reversed %}
          <option value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
      </form>
      <script>
        yearselection = document.getElementById("yearselection")
        selector = document.getElementById("selector")
        function change() {
          yearselection.action = selector.value
          yearselection.submit()
          console.log("selction testing")

        }
      </script>
    </div>

    <body>
      <div id="reportPage">


        <!-- {% comment %} <button type="button" id="postbtn" onclick="this_record()">Get a Copy</button> {% endcomment %} -->

        <div class="row">
          <div class="col-lg-12">
            <button type="button" id="postbtn" onclick="this_record() " class="btn btn-info  btn-block"
              style="border-radius: 25px; float: right; margin-top: -52px;">Get a Copy</button>
          </div><!-- /col -->
        </div><!-- /row -->

        {% comment %} <div class="button-container"> {% endcomment %}
          {% comment %} <button type="button" id="postbtn" onclick="this_record()"
            style="background-color:   #006c85;  border-radius:25px; " {%
            endcomment %} {% comment %} class="btn">Get Copy</button> {% endcomment %}

          {% comment %} </div> {% endcomment %}

        <br>

        <center><strong>Total Monthly Collection for The Year of {{cur_year}}: </strong></center>
        <center><strong>&#8369; {{col|floatformat:2|intcomma}}</strong></center>
        <canvas id="myChart" width="800" height="150">
          <script>
            var xValues = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            y = ['{{rev_col.jan}}', '{{rev_col.feb}}', '{{rev_col.mar}}', '{{rev_col.apr}}', '{{rev_col.may}}', '{{rev_col.jun}}', '{{rev_col.jul}}', '{{rev_col.aug}}', '{{rev_col.sept}}', '{{rev_col.oct}}', '{{rev_col.nov}}', '{{rev_col.dec}}'];
            var yValues = []
            for (var i = 0; i < y.length; i++) {
              if (y[i] <= 0) {
                yValues.push(null)
              } else {
                yValues.push(y[i])
              }
            }

            new Chart("myChart", {
              type: "line",
              data: {
                labels: xValues,
                datasets: [{
                  label: "Total Collection",
                  fill: false,
                  backgroundColor: ['#FD2F02'],
                  borderColor: ['#FD2F02'],
                  tension: 0.1,
                  data: yValues
                }]
              },
              options: {
                title: {
                  display: true,
                  text: "Monthly Total Collection"

                }
              }

            });
          </script>
        </canvas>

        <section>
          <br>
          <br>
          <br>
          <br>
          <br>
          <center><strong>Total Monthly Collictables for The Year of {{cur_year}}:</strong></center>
          <center><strong>&#8369; {{rec|floatformat:2|intcomma}}</strong></center>
          <canvas id="receivable" width="800" height="150">

        </section>
        <script>
          var xValues = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
          var y = ['{{rev_rec.jan}}', '{{rev_rec.feb}}', '{{rev_rec.mar}}', '{{rev_rec.apr}}', '{{rev_rec.may}}', '{{rev_rec.jun}}', '{{rev_rec.jul}}', '{{rev_rec.aug}}', '{{rev_rec.sept}}', '{{rev_rec.oct}}', '{{rev_rec.nov}}', '{{rev_rec.dec}}'];
          var yValues = []
          for (var i = 0; i < y.length; i++) {
            if (y[i] <= 0) {
              yValues.push(null)
            } else {
              yValues.push(y[i])
            }

          }

          new Chart("receivable", {
            type: "line",
            data: {
              labels: xValues,
              datasets: [{
                label: "Total Collictables",
                fill: false,
                backgroundColor: ['#FD2F02'],
                borderColor: ['#FD2F02'],
                tension: 0.1,
                data: yValues,
              }]
            },
            options: {
              legend: { display: false },
              title: {
                display: true,
                text: "Monthly Total Receivable"
              }
            }
          }

          );
        </script>
        </canvas>
      </div>
      <!-- JavaScript Bundle with Popper -->

    
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.2/jspdf.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf-autotable/3.5.6/jspdf.plugin.autotable.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
      <script type="text/javascript">

        function this_record() {

          var jan_amount = parseFloat("{{rev_col.jan}}") + parseFloat("{{rev_rec.jan}}")
          jan_amount = jan_amount ? jan_amount : 0;

          var feb_amount = parseFloat("{{rev_col.feb}}") + parseFloat("{{rev_rec.feb}}")
          feb_amount = feb_amount ? feb_amount : 0;

          var mar_amount = parseFloat("{{rev_col.mar}}") + parseFloat("{{rev_rec.mar}}")
          mar_amount = mar_amount ? mar_amount : 0;

          var apr_amount = parseFloat("{{rev_col.apr}}") + parseFloat("{{rev_rec.apr}}")
          apr_amount = apr_amount ? apr_amount : 0;

          var may_amount = parseFloat("{{rev_col.may}}") + parseFloat("{{rev_rec.may}}")
          may_amount = may_amount ? may_amount : 0;

          var jun_amount = parseFloat("{{rev_col.jun}}") + parseFloat("{{rev_rec.jun}}")
          jun_amount = jun_amount ? jun_amount : 0;

          var jul_amount = parseFloat("{{rev_col.jul}}") + parseFloat("{{rev_rec.jul}}")
          jul_amount = jul_amount ? jul_amount : 0;

          var aug_amount = parseFloat("{{rev_col.aug}}") + parseFloat("{{rev_rec.aug}}")
          aug_amount = aug_amount ? aug_amount : 0;

          var sept_amount = parseFloat("{{rev_col.sept}}") + parseFloat("{{rev_rec.sept}}")
          sept_amount = sept_amount ? sept_amount : 0;

          var oct_amount = parseFloat("{{rev_col.oct}}") + parseFloat("{{rev_rec.oct}}")
          oct_amount = oct_amount ? oct_amount : 0;

          var nov_amount = parseFloat("{{rev_col.nov}}") + parseFloat("{{rev_rec.nov}}")
          nov_amount = nov_amount ? nov_amount : 0;

          var dec_amount = parseFloat("{{rev_col.dec}}") + parseFloat("{{rev_rec.dec}}")
          dec_amount = dec_amount ? dec_amount : 0;


          canvas = document.getElementById("myChart")
          canvasImg = canvas.toDataURL("image/png", 1.0);
          canvas = document.getElementById("receivable")
          canvasImgs = canvas.toDataURL("image/png", 1.0);
          /// Currency formatter
          const numberformat = new Intl.NumberFormat('en-US', {
            style: 'currency',
            currency: 'PHP',
            currencyDisplay: 'code'


          });
          var body = [

            ['January', numberformat.format('{{rev_col.jan}}'), numberformat.format('{{rev_rec.jan}}'), numberformat.format(jan_amount)],
            ['Febuary', numberformat.format('{{rev_col.feb}}'), numberformat.format('{{rev_rec.feb}}'), numberformat.format(feb_amount)],
            ['March', numberformat.format('{{rev_col.mar}}'), numberformat.format('{{rev_rec.mar}}'), numberformat.format(mar_amount)],
            ['April', numberformat.format('{{rev_col.apr}}'), numberformat.format('{{rev_rec.apr}}'), numberformat.format(apr_amount)],
            ['May', numberformat.format('{{rev_col.may}}'), numberformat.format('{{rev_rec.may}}'), numberformat.format(may_amount)],
            ['June', numberformat.format('{{rev_col.jun}}'), numberformat.format('{{rev_rec.jun}}'), numberformat.format(jun_amount)],
            ['July', numberformat.format('{{rev_col.jul}}'), numberformat.format('{{rev_rec.jul}}'), numberformat.format(jul_amount)],
            ['August', numberformat.format('{{rev_col.aug}}'), numberformat.format('{{rev_rec.aug}}'), numberformat.format(aug_amount)],
            ['September', numberformat.format('{{rev_col.sept}}'), numberformat.format('{{rev_rec.sept}}'), numberformat.format(sept_amount)],
            ['October', numberformat.format('{{rev_col.oct}}'), numberformat.format('{{rev_rec.oct}}'), numberformat.format(oct_amount)],
            ['November', numberformat.format('{{rev_col.nov}}'), numberformat.format('{{rev_rec.nov}}'), numberformat.format(nov_amount)],
            ['December', numberformat.format('{{rev_col.dec}}'), numberformat.format('{{rev_rec.dec}}'), numberformat.format(dec_amount)],
          ]



          console.log(body)

          //print details
          var doc = new jsPDF('p', 'pt', 'legal');
          var y = 10;
          var x = 20;
          doc.setLineWidth(2);
          doc.setFontSize(15);
          doc.setFillColor(255, 255, 255);
          doc.text(150, y = y + 45, "Revenue Detailed Report for the Year {{cur_year}}");
          doc.autoTable({
            head: [['Month', 'Collected', 'Collectable', 'Total']],
            margin: { top: 20, bottom: 20 },
            avoidPageSplit: true,
            body: body,
            columnStyles: { align: "right" },
            theme: 'striped',
            startY: 80,
          })

          //first graph
          doc.setFontSize(12)
          doc.setFont("BankGothic Md BT", "bold")
          doc.text(181, y = y + 360, "Total Monthly Collection for The  Year of {{cur_year}}:");

          doc.setFontSize(11.5)
          doc.setFont("Bahnschrift", "bold")
          doc.text(258, y = y + 20, "PHP {{col|floatformat:2|intcomma}}");
          y = doc.lastAutoTable.finalY

          doc.setFillColor(248, 253, 180);
          doc.addImage(canvasImg, 'PNG', x + 17, y + 90, 550, 160)

          //second graph
          doc.setFont("BankGothic Md BT", "bold")
          doc.text(181, y = y + 314, "Total Monthly Collectibles for The  Year of {{cur_year}}:");

          doc.setFont("Bahnschrift", "bold")
          doc.text(258, y = y + 20, "PHP {{rec|floatformat:2|intcomma}}");
          y = doc.lastAutoTable.finalY
          doc.setFillColor(248, 253, 180);
          doc.addImage(canvasImgs, 'PNG', x + 17, y + 345, 550, 160)

          console.log(y);
          if (y > 600) {
            doc.addPage()
            y = 20
          }
          console.log("testing")
          doc.save('Revenue-Detailed-Report.pdf')

        }

      </script>
    </body>
    {% endblock revenue_report %}