<!DOCTYPE html>
<html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>
<body>

<canvas id="myChart" width="800" height="150"></canvas>

<script>
var xValues = ["January", "February", "March", "April","May","June","July","August","September","October","November","December"];
var yValues = ['{{bbm.jan}}','{{bbm.feb}}','{{bbm.mar}}','{{bbm.apr}}','{{bbm.may}}','{{bbm.jun}}','{{bbm.jul}}','{{bbm.aug}}','{{bbm.sept}}','{{bbm.oct}}','{{bbm.nov}}','{{bbm.dec}}'];

new Chart("myChart", {
  type: "line",
  data: {
    labels: xValues,
    datasets: [{
      label: "Total Usage",
            fill: false,
            borderColor: '#20B2AA',
            tension: 0.1,
            backgroundColor: "#3090C7",
      data: yValues
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Monthly Total Usage"
    }
  }
});
</script>


</body>
</html>



