
{% load static %}
<style>
    .nav-link{
        height: 65px;
        color: var(--dark-color)!important;
        border: 0!important;
        border-radius: 0 !important;
    }
    
    .nav-link.active{
        font-weight: bold;
        background-color: #e5ebec!important;
    }
    .nav{
        border: 0;
        margin: 0;
    }
</style>
<div id="myTab" class="row">
    <ul class="nav nav-tabs" style="opacity: 1; height: 65px;" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if is_profile %}active{% endif %}" id="profile_button" data-href="{% url 'settings' %}" type="button" role="tab">
                <img style="width: 20px"
                        src="{% static '/images/person_FILL1_wght700_GRAD0_opsz48.svg' %}" />
                Profile
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if is_contype %}active{% endif %}" id="contypes_button" data-href="{% url 'new_consumertype' %}" type="button" role="tab">
                <img style="width: 20px"
                src="{% static '/images/group_FILL1_wght700_GRAD0_opsz48(1).svg' %}" />
                Consumer Types
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if is_penalty %}active{% endif %}" id="penalties_button" data-href="{% url 'penalty'  %}" type="button" role="tab">
                <img style="width: 20px"
                src="{% static '/images/gavel_FILL1_wght700_GRAD0_opsz48.svg' %}" />
                Penalties
            </button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link {% if is_discount %}active{% endif %}" id="discounts_button" data-href="{% url 'discount' %}" type="button" role="tab">
                <img style="width: 20px"
                src="{% static '/images/sell_FILL1_wght700_GRAD0_opsz48.svg' %}" />
                Discounts
            </button>
        </li>

        <li class="nav-item" role="presentation">
            <button class="nav-link {% if is_exemption %}active{% endif %}" id="exemptions_button" data-href="{% url 'exemptions' %}" type="button" role="tab">
                <img style="width: 20px"
                src="{% static '/images/credit_card_off_FILL1_wght600_GRAD200_opsz48.svg' %}" />
                Exemptions
            </button>

        </li>
    </ul>
</div>
<script src="{% static 'jquery/jquery.js' %}"></script>
<script>
    jQuery(document).ready(function ($) {
        $(".nav-link").click(function () {
            window.location = $(this).data("href");
        });
    });
    
</script>

