{% extends 'dashboard.html' %}
{% load static %}
{% static "images" as images %}

{% block title %}
System User
{% endblock title %}
{% block style %}

<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
<style>
    .hide {
        opacity: 0;
        transition: 0.3s all ease-in-out;
    }

    .showOnHover:hover .hide {
        opacity: 1;
        transition: 0.3s all ease-in-out;

    }


    .button2 {
        background-color: var(--main-color);
        color: white;
        padding: 8px 30px;
        border: none;
        border-radius: 15px;
        box-shadow: inset 0px -8px 7px 0 rgb(0 0 0 / 24%), inset 0px 5px 7px 0 rgb(255 255 255 / 52%), 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease 0.3s;
    }

    .btn.button2:hover {
        background: var(--main-color);
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px -8px 7px 0 rgba(0, 0, 0, 0.39), inset 0px 5px 7px 0 #e6ecebd8, 0px 6px 6px 0 rgb(0 0 0 / 19%);
        transition: all ease-in 0.5s;
    }

    .btn.button2:focus {
        background: var(--main-color);
        color: #ffffff;
        border-radius: 30px;
        box-shadow: inset 0px 4px 7px 0 rgba(0, 0, 0, 0.274), inset 0px -5px 7px 0 #e6ecebd8;
        transition: all 0.1s;
    }
</style>
{% endblock style %}
{% block script %}
<script src="{% static 'jquery.js' %}"></script>
<script src="{% static 'jspdf.min.js' %}"></script>
<script src="{% static 'bootstrap.min.js' %}"></script>
<script>
    $(document).ready(function () {
        $('#table').DataTable({
            order: [[1, 'asc']],
        });
    });
</script>
{% endblock script %}

{% block sysuser %}
<section id="main-content">
    <h1 class="mb-3 mt-3 text-center">System Users</h1>
    <a href="{% url 'user_creation' %}">
        <button class="btn button2"><img style="width: 14%"
			src="{% static '/images/person_add_FILL1_wght700_GRAD0_opsz48.svg' %}" />
                <span style="padding: 10px; font-family: Arial;">Add System User</span></i></button>
    </a>
    <br>
    <br>
    <section id="main-content">
        <section class="wrapper">
            <br>
            <div class="table-responsive ">

                <table id="table" class="table table-bordered table-hover table-striped bg-white"
                    cellspacing="0" width="100%">
                    <thead >
                        <tr style="background-color:#006c85; color: white;">
                            <th class="align-middle text-center" scope="col">ID</th>
                            <th class="align-middle text-center" scope="col">Name</th>
                            <th class="align-middle text-center" scope="col">Email</th>
                            <th class="align-middle text-center" scope="col">Role</th>
                            <th class="align-middle text-center" scope="col">Update</th>
                            <th class="align-middle text-center" scope="col">Delete</th>
                        </tr>
                    </thead>
                    <tbody>
                        {%for t in table%}
                        <tr class="showOnHover" >
                            <td class="align-middle text-center"> {{t.username }}</td>
                            <td>{{t.last_name }}, {{t.first_name }} {{t.mid_name}} </td>
                            <td class="align-middle text-center">{{t.email }}</td>
                            <td class="align-middle text-center">{{t.role}}</td>
                            <td class="align-middle text-center">
                                <a href="{%url 'user_edit' t.username%}">
                                    <button class="btn hide btn-success btn-sm " data-toggle="modal"
                                        type="button" data-placement="top" title="Edit">
                                        <img style="width:20px;"
                                        src="{% static '/images/edit_white_36dp.svg' %}" />
                                    </button>
                                </a>
                            </td>
                            <td class="align-middle text-center">
                                <a href="{%url 'deleteUser' t.username%}">
                                    <button class="btn hide btn-danger btn-sm" type="button"
                                        onclick="return confirm('Are you sure you want to delete this System User( {{ t.username }} )?')"
                                        data-placement="top" title="Delete">
                                        <img style="width:20px;"
                                        src="{% static '/images/delete_FILL1_wght700_GRAD0_opsz48.svg' %}" />
                                    </button>
                                </a>
                            </td>

                        </tr>
                        {%endfor%}
                    </tbody>
                </table>
            </div>
        </section>
    </section>
</section>
{% endblock sysuser %}
