{% extends 'dashboard.html' %}
{% load humanize %} 
{% load static %}
{% block title %} 
Usage Report 
{% endblock title%} 
{% block style %}

<link rel="stylesheet" href="{% static 'bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'DataTables/css/dataTables.bootstrap5.min.css' %}">


<style>
	table {
		border: 1px solid #ccc;
		border-collapse: collapse;
		margin: 0;
		padding: 0;
		width: 100%;
	}

	.form-select {
		width: 100%;
		margin-left: 30px;
	}

	table tr {
		background-color: #f8f8f8;
		border: 1px solid #ddd;
		padding: .35em;
	}

	table th,
	table td {
		padding: .625em;
		text-align: center;
	}

	@media screen and (max-width: 600px) {
		table {
			border: 0;
		}


		table thead {
			border: none;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}

		table tr {
			border-bottom: 3px solid #ddd;
			display: block;
			margin-bottom: .625em;
		}

		table td {
			border-bottom: 1px solid #ddd;
			display: block;
			font-size: .8em;
			text-align: right;
		}

		table th {
			font-size: .85em;
			letter-spacing: .1em;
			text-transform: uppercase;
		}
	}

	@media screen and (max-width: 600px) {
		table {
			border: 0;
		}

		table caption {
			font-size: 1.3em;
		}

		table thead {
			border: none;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}

		table tr {
			border-bottom: 3px solid #ddd;
			display: block;
			margin-bottom: .625em;
		}

		table td {
			border-bottom: 1px solid #ddd;
			display: block;
			font-size: .8em;
			text-align: right;
		}

		table td::before {

			content: attr(data-label);
			float: left;
			font-weight: bold;
			text-transform: uppercase;
		}

		table td:last-child {
			border-bottom: 0;
		}
	}

	body {

		table td::before {
			/*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
			content: attr(data-label);
			float: left;
			font-weight: bold;
			text-transform: uppercase;
		}

		table td:last-child {
			border-bottom: 0;
		}
	}


	@media (max-width: 400px) {
		h2 {
			font-size: 20px;
		}
	}

	@media (min-width: 401px) {
		h2 {
			font-size: 32px;
		}
	}

	@media (max-width: 400px) {
		h3 {
			font-size: 15px;
		}
	}

	@media (min-width: 401px) {
		h3 {
			font-size: 20px;
		}
	}

	#years {
		width: 180px;
		height: 23px;
		border-radius: 50px;

	}
</style>

{% endblock style %}
{% block usage_report_data %}

<script src="{% static 'jspdf.plugin.autotable.js'%}"> </script>
<script src="{% static 'chart.js'%}"> </script>
<script src="{% static 'jquery/jquery.min.js' %}"></script>

{% include 'reportstabs.html' %}
<div class="pt-3 row">
	<div>
		<h1 class="" style="text-align: center;">Usage Report</h1>
	</div>


<!-- Year Selection -->
	<div>
		<label for="exampleInputBarangay" style="margin-left: 30px;">Select Year: </label>
		<form id="yearselection" action="" style="margin-right: 1370px;">
			<select class="form-select mb-3" id="selector" onchange="change()">
				{% for i in years reversed %}
				<option value="{{i}}" {% if i == cur_year %} selected{% endif %}>{{i}}</option>
				{% endfor %}
			</select>
		</form>
		<script>
			yearselection = document.getElementById("yearselection")
			selector = document.getElementById("selector")
			function change() {
				yearselection.action = selector.value
				yearselection.submit()
			}
		</script>
	</div>

	<div style="background-color: white;"  class="mt-4">
		<div class="col-12 text-center mt-4">
			<h3>Barangay Total Usage: Year {{cur_year}}
			</h3>
		</div>

  
    	<canvas id="barangay"  class="p-3" width="800" height="150"></canvas>
 
	
		<script>
			// setup
			const data = {
				labels: [{%for t in tu_bay %}'{{t.barangaycode}}', {% endfor %}],
			datasets: [{
				label: 'Barangay Usage',
				data: [{%for t in tu_bay %}'{{ t.sum }}', {% endfor %}],
				backgroundColor: [
					'rgba(255, 99, 132, 1)',
					'rgba(54, 162, 235, 1)',
					'rgba(75, 200, 100, 1)',
					'rgba(153, 102, 255, 1)',
					'rgba(255, 159, 64, 1)'
				],
					borderColor: [
						'rgba(255, 99, 132, 1)',
						'rgba(54, 162, 235, 1)',
						'rgba(75, 192, 192, 1)',
						'rgba(153, 102, 255, 1)',
						'rgba(255, 159, 64, 1)'
					],
						borderWidth: 1,
			}]
				}

			// config
			const config = {
				type: 'bar',
				data,
				options: {
					scales: {
						y: {
							beginAtZero: true
						}
					},
					responsive:true
				}
			};

			// render init block
			const ctx2 = document.getElementById('barangay').getContext('2d');


			const barangay = new Chart(
				ctx2,
				config
			);
		</script>
	</div>



	<div style="background-color: white;" class="mt-4 mb-5">
		<div class="row mt-4">
			<div class="col-12 text-center">
				<h3>Barangay Monthly Usage: Year {{cur_year}}
				</h3>
			</div>
		</div>
		<div class="row" style="text-align: center;">
			<p2>
				<i>click on select to view individual Barangay Monthly usage</i>
			</p2>
			<div class="col-4"></div>
			<div class="col-4">
				<label>Select Barangay</label>
				<select class="form-select input-group mt-1" id="coffeesales">
					<option
						value="{{tu_mon.jan}}, {{tu_mon.feb}}, {{tu_mon.mar}}, {{tu_mon.apr}}, {{tu_mon.may}}, {{tu_mon.jun}}, {{tu_mon.jul}}, {{tu_mon.aug}}, {{tu_mon.sept}}, {{tu_mon.oct}}, {{tu_mon.nov}}, {{tu_mon.dec}} ">
						Total Monthly
					</option>
					{% for b in mybars %}
					<option value="{% for m in b.months %}{{m}},{% endfor %}">
						{{b.name}}
					</option>
					{% endfor %}
				</select>
			</div>
			<div class="col-4"></div>
		</div>
		<div class="row pb-4">
    		<canvas id="myChart" class="p-3" width="800" height="150"></canvas>

		</div>

	</div>
	<script>
		const ctx = document.getElementById('myChart').getContext('2d');
		

		const myChart = new Chart(ctx, {
			type: 'line',
			data: {
				labels: ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
				datasets: [{
					label: 'Total Monthly',
					data: [{{ tu_mon.jan }}, {{ tu_mon.feb }}, {{ tu_mon.mar }}, {{ tu_mon.apr }}, {{ tu_mon.may }}, {{ tu_mon.jun }}, {{ tu_mon.jul }}, {{ tu_mon.aug }}, {{ tu_mon.sept }}, {{ tu_mon.oct }}, {{ tu_mon.nov }}, {{ tu_mon.dec }}],
		fill: false,
			backgroundColor: ['#FD2F02'],
				borderColor: ['#FD2F02'],
					tension: 0.1,
					}]
				},
		options: {
			scales: {
				y: {
					beginAtZero: true
				}
			},
		responsive:true,
		}
			});
		const coffeesales = document.getElementById('coffeesales');
		coffeesales.addEventListener('change', salesTracker);
		function salesTracker() {
			const label = coffeesales.options[coffeesales.selectedIndex].text;
			myChart.data.datasets[0].label = label;
			myChart.data.datasets[0].data = coffeesales.value.split(',');

			myChart.update()
		}
	</script>

	
		<div class="pt-3 row">
			<h3 style="text-align: center;"> Barangay Monthly Consumptions and Billings: Year {{cur_year}}
			</h3>
		
			<div class="row table-responsive">
				<table id="dtBasicExample2" class="table table-bordered  table-striped table-sm ">
					<thead class="wb_thead">
					<tr>
						<th scope="col" style="background-color: #006c85">Month</th>
						<th scope="col" style="background-color: #006c85">Consumptions (m³)</th>
						<th scope="col" style="background-color: #006c85">Bills (₱)</th>
					</tr>
					</thead>
					<tbody>
						{% for t in total_unb %}
						{% if t.usage%}
						<tr>
							<td>{{t.month}}</td>
							<td >{{t.usage}} </td> <!-- &#13221 -->
							<td > {{t.bill|floatformat:2|intcomma}}</td>
						</tr>
						{% endif %}
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	
</div>


{% endblock usage_report_data %}
