<!DOCTYPE html>
<html>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.9.1/chart.min.js"></script>

<body>

  <canvas id="myChart" width="800" height="150"></canvas>

  <script>
      var xValues = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
      var yValues = ['{{tu_mon.jan}}', '{{tu_mon.feb}}', '{{tu_mon.mar}}', '{{tu_mon.apr}}', '{{tu_mon.may}}', '{{tu_mon.jun}}', '{{tu_mon.jul}}', '{{tu_mon.aug}}', '{{tu_mon.sept}}', '{{tu_mon.oct}}', '{{tu_mon.nov}}', '{{tu_mon.dec}}'];

      new Chart("myChart", {
        type: "line",
        
        data: {
           labels: xValues,
        datasets: [{
          label: "Total Usage",
            fill: false,
            borderColor: '#20B2AA',
            tension: 0.1,
            backgroundColor: "#3090C7",
          data: yValues
          }]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: "Monthly Total Usage"
          }
        },
        
      });
  </script>

  <br>

  <section>
    <canvas id="barangay" width="800" height="150"></canvas>
    <br>
    <br>
    <br>
  </section>


  <script>
    var xValues = [{%for tu_bay in tu_bay %}'{{tu_bay.barangaycode}}', {% endfor %}];
    var yValues = [{%for tu_bay in tu_bay %}'{{ tu_bay.sum }}', {% endfor %}];
    var barColors = ["Cyan"];

    new Chart("barangay", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          label: 'Barangay Usage',
          data: yValues
        }]
      },
      options: {
        legend: { display: false },
        title: {
          display: true,
          text: 'By Barangay Total Usage',
        }
      }
    });
    const ctx =document.getElementById('barangay');
    function clickHandler(click){
      const points = barangay.getElementsAtEventForMode (click, 'nearest',
      {intersect : true }, true);
    if (points.length){
        const firstPoint = points[0];
        console.log(points)
        console.log(firstPoint); 
    }
    }
    ctx.onclick = clickHandler;
  </script>
</body>

</html>