<form method='post' class="smile" action="userupdate.html">
    <input type="hidden" name="post-form" required maxlength="20" value="{{user.id}}" />
    <label>Meter Number</label>
    <input type="text" name="meternumber" value="{{user.meternumber}}" />
    <label>First name</label>
    <input type="text" name="firstname" value="{{user.firstname}}" />
    <label>Last name</label>
    <input type="text" name="lastname" value="{{user.lastname}}" />
    <label>Middle name</label>
    <input type="text" name="middlename" value="{{user.middlename}}" />
    <label>Home Address</label>
    <input type="text" name="homeaddress" value="{{user.homeaddress}}" />
    <label>Installation Address</label>
    {{form.installation_address}}
    <label>Initial Meterreading</label>
    {{form.initialmeterreading}}
    <label>Rate Type</label>
    {{form.rateid}}
    <input type="text" name="homeaddress" value="{{user.rateid}}" />
    <label>Mobile Number</label>
    <input type="text" name="mobilenum" value="{{user.mobilenum}}" />
    <label>Email</label>
    <input type="text" name="email" value="{{user.email}}" />
    <label>Birthdate</label>
    <input type="text" name="birthdate" value="{{user.birthdate}}" />
    <label>Sex</label>
    {{form.sex}}
    <label>Sitio</label>
    <input type="text" name="sitio" value="{{user.sitio}}" />
    <label>Profile Picture</label>
    {{form.picture}}

    <br>
    <br>
    <br>
    <br>
    <button type="submit" id="footer-subscription-button" class="btn submit" >Submit</button>

</form>