<h1>Upate Information</h1>
<form method ="post" class="past-form" action ="userupdate.html">
    <input type="hidden" name "id" id ="id" required maxlength="20" value ="{{con_id.id}}"/>
<div>
    
    <div>

        <label for="">Update First Name*</label>
        {{form.firstname}}
        {{li.firstname}}
    </div>
    <div>

        <label for="">Update Middle Name*</label>
        <div>
        <input type = "text" name ="middlename" value = "{{con_id.middlename}}">
    </div>
    </div>
    <div>

        <label for="">Update Last Name*</label>
        {{form.lastname}}
    </div>
    <div>

        <label for="">Update Mobile Number*</label>
        {{form.mobilenum}}
    </div>
    <div>

        <label for="">Update Email*</label>
        {{form.email}}
    </div>
    <div>

        <label for="">Update Date of Birth*</label>
        {{form.birthdate}}
    </div>
    <div>

        <label for="">Update Sex*</label>
        {{form.sex}}
    </div>
    <div>

        <label for="">Update Sitio*</label>
        {{form.sitio}}
    </div>
    <div>

        <label for="">Update Home Address*</label>
        {{form.homeaddress}}
    </div>
    <div>

        <label for="">Update Profile Picture*</label>
        {{form.picture}}
    </div>
    <div>

        <label for="">Update Meter Number</label>
        {{form.meternumber}}
    </div>
    <div>

        <label for="">Update Initial Reading*</label>
        {{form.initialmeterreading}}
    </div>
    <div>

        <label for="">Update Installation address*</label>
        {{form.installation_address}}
    </div>
</form>
</div>