{% extends 'dashboard.html' %}
{% load static %}
{% static "images" as images %}


{% block title %}
System User
{% endblock title %}
{% block style %}
<link rel="stylesheet" type="text/css" href="/wb2/static/style.css" />
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>
<style>
	 html {
        height: auto;
        min-height: 100%;
    }

    body {
        height: auto;
        background-image: linear-gradient(white, #0093b7);
    }

    h3 {
        font-size: 30px;
    }

    label {
        font-size: 20px;
    }

    .form-header {
        font-family: Arial;
        margin: 0px 0px 16px;
        padding: 0px 12px;
    }

    .container {
        font-family: Arial;
        color: #ffffff;
    }

    .wrapper {
        font-size: 20px;
        font-family: Arial;
        margin: 0px 0px 16px;
        padding: 0px 12px;
        background: #0093b7;
        border-radius: 40px;
        padding: 30px;
    }

    .approver {
        font: 16px Arial;
        margin: 0px 0px 16px;
        padding: 0px 12px;
    }

    .btn {
        background-color: #0cb3c2;
        color: #ffffff;
        padding: 8px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    }

    .btn:first-child:hover,
    :not(.btn-check)+.btn:hover {
        background-color: white !important;
        color: black;
    }
</style>
{% endblock style %}
{% block sysuserupdate %}
<section id="registration-page">
	<form action="{%url 'user_edit' sys.username%}" enctype="multipart/form-data" method="POST" class="signup-form">
		{% csrf_token %}
		<div class="container">
			<div class=" shadow wrapper m-4">
				<div class="form-header">
					<center><h1>System User</h1></center>
				</div>
				<div class="row form-group w-100 m-auto">
					<div class="col-lg-4 col-md-6 col-sm-12 mb-2">
						{% if form.errors %}
						{% for error in form.first_name.errors %}
						<div class="alert alert-danger">
							<strong>{{ error|escape }}</strong>
						</div>
						{% endfor %}
						{% endif %}
						<label for="">First Name*</label>
						{{form.first_name}}
					</div>

					<div class="col-lg-4 col-md-6 col-sm-12 mb-2">
						{% if form.errors %}
						{% for error in form.mid_name.errors %}
						<div class="alert alert-danger">
							<strong>{{ error|escape }}</strong>
						</div>
						{% endfor %}
						{% endif %}
						<label for="">Middle Name*</label>
						{{form.mid_name}}
					</div>

					<div class="col-lg-4 col-md-6 col-sm-12 mb-2">
						{% if form.errors %}
						{% for error in form.last_name.errors %}
						<div class="alert alert-danger">
							<strong>{{ error|escape }}</strong>
						</div>
						{% endfor %}
						{% endif %}
						<label for="">Last Name*</label>
						{{form.last_name}}
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12 mb-2">
						{% if form.errors %}
						{% for error in form.mobilenum.errors %}
						<div class="alert alert-danger">
							<strong>{{ error|escape }}</strong>
						</div>
						{% endfor %}
						{% endif %}
						<label for="">Mobile Number*</label>
						{{form.mobilenum}}
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12 mb-2">
						{% if form.errors %}
						{% for error in form.email.errors %}
						<div class="alert alert-danger">
							<strong>{{ error|escape }}</strong>
						</div>
						{% endfor %}
						{% endif %}
						<label for="">Email*</label>
						{{form.email}}
					</div>
					<div class="col-lg-4 col-md-6 col-sm-12 mb-2">
						{% if form.errors %}
						{% for error in form.username.errors %}
						<div class="alert alert-danger">
							<strong>{{ error|escape }}</strong>
						</div>
						{% endfor %}
						{% endif %}
						<label for="">User ID*</label>
						{{form.username}}
					</div>
				</div>
				<div class="row m-auto w-100">
					<div class="col-lg-6 col-md-6 col-sm-12 mb-3">
						<h3>Type of User</h3>
						{{form.is_admin}}
						<label for="id_is_admin">ADMIN</label><br>
						{{form.is_teller}}
						<label for="id_is_teller">TELLER</label><br>
						{{form.is_supervisor}}
						<label for="id_is_supervisor">SUPERVISOR</label><br>
						{{form.is_manager}}
						<label for="id_is_manager">MANAGER</label><br>
						{{form.is_reader}}
						<label for="id_is_reader">METER READER</label><br>
					</div>
				</div>
				<div class="row w-100 m-auto mb-2">
					<div class="col-lg-6 col-md-6 col-sm-12 mb-3">
						<label for="">Profile Picture*</label>
						<input type="file" name="profilepic" class="form-control" id="choose-file" size="80">
					</div>
				</div>
				<center><button type="submit" id="footer-subscription-button" class="btn">Submit</button></center>
			</div>
		</div>
	</form>
</section>
{% endblock sysuserupdate %}
{% block script %}

{% endblock script %}
