<form method='post' action="">
    {% csrf_token %}
    <label>Meter Number</label>
    {{form.meternumber}}
    <label>First name</label>
    {{form.firstname}}
    <label>Last name</label>
    {{form.lastname}}
    <label>Middle name</label>
    {{form.middlename}}
    <label>Home Address</label>
    {{form.homeaddress}}
    <label>Installation Address</label>
    {{form.installation_address}}
    <label>Initial Meterreading</label>
    {{form.initialmeterreading}}
    <label>Rate Type</label>
    {{form.rateid}}
    <label>Mobile Number</label>
    {{form.mobilenum}}
    <label>Email</label>
    {{form.email}}
    <label>Birthdate</label>
    {{form.birthdate}}
    <label>Sex</label>
    {{form.sex}}
    <label>Sitio</label>
    {{form.sitio}}
    <label>Profile Picture</label>
    {{form.picture}}

    <input type="submit" name="Submit">

</form>