
<div>

  <labe>Barangay Yearly Records for Year {{bang.barangaycode}}</labe>
    <div class = "col-sm-offset-7 col-sm-5">
        <div class="form-group">
            <label for="exampleInputBarangay">Select Year</label>
            <select name="urlsme" onchange='this.form.submit();'>
                {% for record in record %}
              <option selected>{{record.year}}</option>
            
              <option >{{record.year}}</option>
              {%endfor%}
            </select>
          </div>
          <noscript><input type="submit" value="Submit" href="/{{br.year}}"></noscript>
  </div>

<table>
    <thead>
        <tr>
            <th>Billing Cycle Cutoff Month</th>
            <th>Total Usage (Cubic Meter)</th>
            <th>Total Receivable</th>
            <th>Total Collection</th>
            
        </tr>
    </thead>

    <tbody>
        <tr>
          <td>
            <p>January</p>
          </td>
          <td>{{bang.total_due_jan|floatformat:2}}</td>
          <td>{{bang.total_due_jan|floatformat:2 }}</td>
          <td>{{bang.total_paid_jan|floatformat:2 }}</td>
        </tr>
        <tr>
          <td>
            <p>February</p>
          </td>
          <td>{{ bang.usage_feb|floatformat:2 }}</td>
          <td>{{ bang.total_due_feb|floatformat:2 }}</td>
          <td>{{ bang.total_paid_feb|floatformat:2 }}</td>
        </tr>
        <tr>
          <td>
            <p>March</p>
          </td>
          <td>{{ bang.usage_mar|floatformat:2  }}</td>
          <td>{{ bang.total_due_mar|floatformat:2 }}</td>
          <td>{{ bang.total_paid_mar|floatformat:2 }}</td>
        </tr>
        <tr>
          <td>
            <p>April</p>
          </td>
          <td>{{ bang.usage_apr|floatformat:2  }}</td>
          <td>{{ bang.total_due_apr|floatformat:2 }}</td>
          <td>{{ bang.total_paid_apr|floatformat:2 }}</td>
        </tr>
        <tr>
          <td>
            <p>May</p>
          </td>
          <td>{{ bang.usage_may|floatformat:2  }}</td>
          <td>{{ bang.total_due_may|floatformat:2 }}</td>
          <td>{{ bang.total_paid_may|floatformat:2 }}</td>
        </tr>
        <tr>
          <td>
            <p>June</p>
          </td>
          <td>{{ bang.usage_jun|floatformat:2  }}</td>
          <td>{{ bang.total_due_jun|floatformat:2 }}</td>
          <td>{{ bang.total_paid_jun|floatformat:2 }}</td>
        </tr>
        <tr>
          <td>
            <p>July</p>
          </td>
          <td>{{ bang.usage_jul|floatformat:2  }}</td>
          <td>{{ bang.total_due_jul|floatformat:2 }}</td>
          <td>{{ bang.total_paid_jul|floatformat:2 }}</td>
        </tr>
        <tr>
          <td>
            <p>August</p>
          </td>
          <td>{{ bang.usage_aug|floatformat:2  }}</td>
          <td>{{ bang.total_due_aug|floatformat:2 }}</td>
          <td>{{ bang.total_paid_aug|floatformat:2 }}</td>
        </tr>
        <tr>
          <td>
            <p>September</p>
          </td>
          <td>{{ bang.usage_sept|floatformat:2  }}</td>
          <td>{{ bang.total_due_sept|floatformat:2 }}</td>
          <td>{{ bang.total_paid_sept|floatformat:2 }}</td>
        </tr>
        <tr>
          <td>
            <p>October</p>
          </td>
          <td>{{ bang.usage_oct|floatformat:2  }}</td>
          <td>{{ bang.total_due_oct|floatformat:2 }}</td>
          <td>{{ bang.total_paid_oct|floatformat:2 }}</td>
        </tr>
        <tr>
          <td>
            <p>November</p>
          </td>
          <td>{{ bang.usage_nov|floatformat:2  }}</td>
          <td>{{ bang.total_due_nov|floatformat:2 }}</td>
          <td>{{ bang.total_paid_nov|floatformat:2 }}</td>
        </tr>
        <tr>
          <td>
            <p>December</p>
          </td>
          <td>{{ bang.usage_dec|floatformat:2  }}</td>
          <td>{{ bang.total_due_dec|floatformat:2 }}</td>
          <td>{{ bang.total_paid_dec|floatformat:2 }}</td>
        </tr>
      </tbody>
</table>


</div>
