{% extends 'dashboard.html' %}

{% load static %}


{% block view_unsettled_bills %}
<table id="dtBasicExample" class="table table-bordered" cellspacing="0" width="100%">
    <thead class="header">
        <tr>
            <th scope="col" style="min-width:110px">Account ID</th>
            <th scope="col" style="min-width:110px">Meter Number</th>
            <th scope="col" style="min-width:110px">Name</th>
            <th scope="col" style="min-width:110px">Address</th>
        </tr>
    <tr>
        <td>{{uv.consumer_id}}</td>
        <td>{{uv.meternumber}}</td>
        <td>{{uv.lastname}} {{uv.firstname}} {{uv.middlename}}</td>
        <td>{{uv.installation_address}}</td>

    </tr>
</thead>
</table>

<label for="years" style="font-size: 18px; font-weight: normal; margin-left: 50px;  font-weight: bold;">Select Year:
</label>


<form id="yearselection" action="">
  <select class="form-select" id="selector" onchange="change()">
    <option value="{{cur_year}}">{{cur_year}}</option>
    {% for i in years reversed %}
    <option value="{{i}}">{{i}}</option>
    {% endfor %}
  </select>
</form>
<script>
  yearselection = document.getElementById("yearselection")
  selector = document.getElementById("selector")
  function change() {
    yearselection.action = selector.value
    yearselection.submit('')
  }
</script>

{%  endblock view_unsettled_bills %}




