{% extends 'dashboard.html' %}
{% load humanize %}
{% load static %}


{% block view_unsettled_bills %}
<div class="table-responsive">
<table id="dtBasicExample" class="table table-bordered" cellspacing="0" width="100%">
    <thead class="header">
        <tr style="background-color: #0093b7; color: white;">
            <th scope="col" style="min-width: 25px">Account ID</th>
            <th scope="col" style="min-width: 25px">Meter Number</th>
            <th scope="col" style="min-width: 25px">Name</th>
            <th scope="col" style="min-width: 25px">Address</th>
        </tr>
        <tbody class="wb_tbody">
    <tr>
      <td>{{uv.consumer_id}}</td>
      <td>{{uv.meternumber}}</td>
      <td>{{uv.lastname}} {{uv.firstname}} {{uv.middlename}}</td>
      <td>{{uv.installation_address}}</td>
    </tr>
  </thead>
</table>
<label for="years" style="font-size: 18px; font-weight: normal; margin-left: 50px;  font-weight: bold;">SelectYear:</label>
<form id="yearselection" action="">
  <select style="width: 100px;"class="form-select" id="selector" onchange="change()">
    <option value="{{current}}">{{current}}</option>
    {% for i in years reversed %}
    <option value="{{i}}">{{i}}</option>
    {% endfor %}
  </select>
</form>
<script>
  yearselection = document.getElementById("yearselection")
  selector = document.getElementById("selector")
  function change() {
    yearselection.action = selector.value
    yearselection.submit('')
  }
</script>
<br>
<table id="table" class="table table-bordered table-sm" cellspacing="0" width="100%" border-spacing: 0;>
  <thead class="wb_thead" >
    <tr class="header ">
      <th style="width: 25% !important;">Month</th>
      <th style="width: 25% !important;">Reading</th>
      <th style="width: 25% !important;">Reading Date</th>
      <th style="width: 25% !important;">Consumption</th>
      <th style="width: 25% !important;">Total Bill</th>
      <th style="width: 25% !important;">Total Amount Paid</th>

    </tr>
  </thead>
  <tbody class="wb_tbody">
  </tbody>
  {% for t in table %}
  <tr>
    <td>{{t.month}}</td>
    <td>{{t.reading}}</td>
    <td>{{t.reading_date}}</td>
    <td>{{t.consumption}}</td>
    <td>&#8369;  {{t.total_bill}}</td>
    <td>&#8369;  {{t.total_amount_paid|floatformat:2|intcomma}}</td>
  </tr>
  {% endfor %}
</table>
{%  endblock view_unsettled_bills %}




