{% extends 'dashboard.html' %}

{% block title %}
Water Usage
{% endblock title %}
{% block style %}


<style>
	html {
		background-color: #F2F3F2;
	}

	table {
		border: 1px solid #ccc;
		border-collapse: collapse;
		margin: 0;
		padding: 0;
		width: 100%;
		table-layout: fixed;
	}

	.form-select {
		width: 10%;
		margin-left: 30px;
	}

	table caption {
		font-size: 1.5em;
		margin: .5em 0 .75em;
	}

	table tr {
		background-color: #f8f8f8;
		border: 1px solid #ddd;
		padding: .35em;
	}

	table th,
	table td {
		padding: .625em;
		text-align: center;
	}

	table th {
		font-size: .85em;
		letter-spacing: .1em;
		text-transform: uppercase;
	}

	@media screen and (max-width: 600px) {
		table {
			border: 0;
		}

		table caption {
			font-size: 1.3em;
		}

		table thead {
			border: none;
			clip: rect(0 0 0 0);
			height: 1px;
			margin: -1px;
			overflow: hidden;
			padding: 0;
			position: absolute;
			width: 1px;
		}

		table tr {
			border-bottom: 3px solid #ddd;
			display: block;
			margin-bottom: .625em;
		}

		table td {
			border-bottom: 1px solid #ddd;
			display: block;
			font-size: .8em;
			text-align: right;
		}

		table th {
			font-size: .85em;
			letter-spacing: .1em;
			text-transform: uppercase;
		}

		@media screen and (max-width: 600px) {
			table {
				border: 0;
			}

			table caption {
				font-size: 1.3em;
			}

			table thead {
				border: none;
				clip: rect(0 0 0 0);
				height: 1px;
				margin: -1px;
				overflow: hidden;
				padding: 0;
				position: absolute;
				width: 1px;
			}

			table tr {
				border-bottom: 3px solid #ddd;
				display: block;
				margin-bottom: .625em;
			}

			table td {
				border-bottom: 1px solid #ddd;
				display: block;
				font-size: .8em;
				text-align: right;
			}

			table td::before {

				content: attr(data-label);
				float: left;
				font-weight: bold;
				text-transform: uppercase;
			}

			table td:last-child {
				border-bottom: 0;
			}
		}

		body {
			font-family: "Open Sans", sans-serif;
			line-height: 1.25;

			table td::before {
				/*
        * aria-label has no advantage, it won't be read inside a table
        content: attr(aria-label);
        */
				content: attr(data-label);
				float: left;
				font-weight: bold;
				text-transform: uppercase;
			}

			table td:last-child {
				border-bottom: 0;
			}
		}

		body {
			font-family: "Open Sans", sans-serif;
			line-height: 1.25;
		}

		@media (max-width: 400px) {
			h2 {
				font-size: 20px;
			}
		}

		@media (min-width: 401px) {
			h2 {
				font-size: 32px;
			}
		}

		@media (max-width: 400px) {
			h3 {
				font-size: 15px;
			}
		}

		@media (min-width: 401px) {
			h3 {
				font-size: 20px;
			}
		}

		#years {
			width: 180px;
			height: 23px;
			border-radius: 50px;

		}
</style>

{% endblock style %}
{% block waterusage %}


<a href="{% url 'reports' %}">Barangay Report</a>
<a href="{% url 'usage_report_data' cur_year %}">Usage Report</a>
<a href="{% url 'revenue_report' cur_year %}">Revenue Report</a>
<a href="{% url 'unsettled_bills' %}">Unsettled Bills</a>


<body onload="collection_rate()">


	<div>
		<h2 style="font-weight: bold; margin-bottom: 70px;  text-align: center; margin-top: 30px;">Water Usage Per
			Barangay</h2>
	</div>


	<form id="yearselection" action="">
		<select class="form-select" id="selector" onchange="change()">
			<option value="{{cur_year}}">{{cur_year}}</option>
			{% for i in years reversed %}
			<option value="{{i}}">{{i}}</option>
			{% endfor %}
		</select>
	</form>
	<script>
		yearselection = document.getElementById("yearselection")
		selector = document.getElementById("selector")
		function change() {
			yearselection.action = selector.value
			yearselection.submit('')
		}
	</script>

	<div>
		<h3 style=" margin-bottom: 50px; text-align: center; margin-top: 30px;"> Barangay Record of {{cur_year}}
		</h3>
	</div>
	<table class="table table-bordered table-hover table-striped table-sm">
		<thead class="wb_thead">
			<tr>
				<th scope="col" style="background-color: #63CDD7;">Barangay</th>
				<th scope="col" style="background-color: #63CDD7">Total Usage(&#13221;)</th>
				<th scope="col" style="background-color: #63CDD7">Total Receivables</th>
				<th scope="col" style="background-color: #63CDD7">Total Collection</th>
				<th scope="col" style="background-color: #63CDD7">Collection Rate</th>
			</tr>
		</thead>
		<tbody class="wb_body">
			{% for br in br %}
			<tr class='clickable-row' style="cursor: pointer;" data-href="{% url 'view_barangay' br.barangayrec_id %}">
				<td data-label="Barangay">
					{{br.barangaycode}}
				</td>
				<td data-label="Total Usage(Cu. Meter)">
					 {{br.total_usage|floatformat:2}} &#13221;
				</td>
				<td data-label="Total Receivables" class="total_paid">
					{{br.total_rec|floatformat:1}}
				</td>
				<td data-label="Total Collection" class="total_due">
					{{br.total_paid|floatformat:1}}
				</td>
				<td data-label="Collection Rate" class="rate">
				</td>
			</tr>
			{% endfor %}
			<tr>
				<td data-label="Barangay" style="background-color: #63CDD7; color: white; font-weight: bold;">Total</td>
				<td data-label="Total Usage(Cu. Meter)" class="total_paid">
					{{fr.tu|floatformat:1}}</td>
				<td data-label="Total Receivables">{{fr.tr|floatformat:1}}</td>
				<td data-label="Total Collection" class="total_due">
					{{fr.tp|floatformat:1}}
				</td>
				<td data-label="Collection Rate" class="rate"></td>
			</tr>
			<script>
				jQuery(document).ready(function($) {
					$(".clickable-row").click(function() {
						window.location = $(this).data("href");
					});
				});
			</script>
		</tbody>
	</table>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script>
		function collection_rate() {
			total_paid = document.getElementsByClassName("total_paid")
			total_due = document.getElementsByClassName("total_due")
			rate = document.getElementsByClassName("rate")

			for (let index = 0; index < rate.length; index++) {
				int_total_due = parseInt(total_due[index].innerHTML)
				int_total_paid = parseInt(total_paid[index].innerHTML)
				temporary_rate = (int_total_paid / int_total_due) * 100
				if (temporary_rate !== temporary_rate) {
					rate[index].innerHTML = "0.0%"
				} else {
					rate[index].innerHTML = temporary_rate.toFixed(2) + "%"
				}
				console.log("test")
			}
		}


	</script>
</body>



{% endblock waterusage %}