*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: #63CDD7;
    height: 100vh;
    overflow: hidden;
    padding-top: 15vh;
}
.form{
    width: 250px;
    height: 400px;
    padding: 20px 30px;
    background-color: 	#E6ECEB;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #FCBCD7;
    margin: auto;
    border-radius: 60px;
    margin-top: 120px;
}
ul.loginform{
    list-style-type: none;
    text-align: center;
}
ul.loginform li{
    width: 250px;
    margin-bottom: 20px;
}
ul.loginform li input{
    width: 250px;
    text-align: center;
    padding: 10px 0px;
    border-radius: 100px;
    background-color: #ccf9ff;
    margin-top: 20px; 
}
ul.loginform li input[type="button"]{
    background-color: #eba016;
    color: #fff;
}
