arabic-reshaper
astroid
autopep8
black
certifi
charset-normalizer
colorama
cryptography
cssselect2
dill
distlib
djangorestframework
filelock
idna
lazy-object-proxy
numpy
pandas
Pillow
pip
pipenv
platformdirs
protobuf
pyHanko
pyhanko-certvalidator
pytz
reportlab
setuptools
sqlparse
svglib
tinycss2
tomlkit
tqdm
tzdata
urllib3
virtualenv