{% extends 'dashboard.html' %}
{% load static %}
{% load humanize %}
{% block title %}
Bulk Reading
{% endblock title %}
{% block style %}
<link rel="stylesheet" href="{% static 'DataTables/css/dataTables.bootstrap5.min.css' %}">
<style>
    .odd {
        font-size: 1rem;
        font-weight: 400;
        line-height: 1.5;
        -webkit-text-size-adjust: 100%;
        -webkit-tap-highlight-color: transparent;

        caption-side: bottom;
        font-family: Arial;
        border-collapse: separate !important;
        border-spacing: 0;
        box-sizing: border-box;
        border-color: inherit;
        border-style: solid;
        border-width: 1px 0;
        color: #212529;
    }

    .dataTables_empty {
        text-align: center;
    }
	.table-scrolls{
		display: block;
		height: 600px;
		overflow-y: scroll;
	}

</style>
{% endblock style %}
{% block script %}
<script src="{% static 'bootstrap.min.js' %}"></script>
<script src="{% static 'jquery/jquery.js' %}"></script>
<script src="{% static 'popper.min.js' %}"></script>
{% endblock script %}

{% block bulkreading %}
<div class="pt-3 row">
	<div class="col-4 align-middle">
		<button type="button"  class="btn button2 m-0" data-bs-toggle="modal" data-bs-target="#myModal">
			<img style="width: 23px;"
			src="{% static '/images/list_FILL1_wght700_GRAD0_opsz48.svg' %}" />
			Bulk Reading
		</button>
	</div>
	<div class="col-4 text-center">
		<h1 >Bulk Reading Entry</h1>
	</div>
	<div class="col-4">
	</div>
</div>

{% include 'bulkreadingmodal.html'%}

<div class="container-fluid p-0">
	<div class="table-responsive">
		<div id="table_wrapper" class="dataTables_wrapper dt-bootstrap5 no-footer">
			{% include 'search.html' %}
			<div class="row">
				<form id="post" action="{% url 'bulkreading' %}?page={{ub.number}}" method="POST">
					{% csrf_token %}
					<div class="col-sm-12 {% if paginate_by >= 25 %}table-scrolls{% endif %}">
						<table id="myTable" class="table table-bordered table-hover table-striped " cellspacing="0" width="100%">
							<thead class="wb_thead" style="position: sticky; top: 0;">
								<tr>
									<th>Meter Number</th>
									<th>Account Number</th>
									<th>Customer</th>
									<th>Previous Reading</th>
									<th>Current Reading</th>
								</tr>
							</thead>
							<tbody class="wb_tbody">
								{% if consumers_list %}
								{% for c in consumers_list %}
								<tr style="cursor: pointer;" onclick="foc_this('con{{c.con.consumer_id}}_id')">
									<td>{{c.con.meternumber}}</td>
									<td>{{c.con.consumer_id}}</td>
									<td>{{c.con.lastname}}, {{c.con.firstname}} {{c.con.middlename}}</td>
									<td>{{c.prev}}</td>
									<td class="balance p-0 align-middle">
										<input class="form-control rounded-0 border-0 unchanged" onchange="this.classList.remove('unchanged'); this.classList.add('changed')"  title="Current Reading" min="{{c.prev}}" type="number" name="con{{c.con.consumer_id}}" id="con{{c.con.consumer_id}}_id" value="{{c.cur}}"></td>
								</tr>
								{% endfor %}
								{% else %}
								<tr class="odd">
									<td valign="top" colspan="5" class="dataTables_empty">No matching records found</td>
								</tr>
								{% endif %}
							</tbody>
						</table>
						<input type="hidden" name="pyear" value="{{year}}">
						<input type="hidden" name="pmonth" value="{{monthval}}">
						<input type="hidden" name="psearch" id="fsearch_id" value="{{search}}">
						<input type="hidden" name="pp" value="{{paginate_by}}">
						<input type="hidden" name="ppage" value="{{ub.number}}">
					</div>
					<div class="row w-100 m-auto pt-3">
						<div class="col-lg-4 col-md-4 col-sm-4">
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4">
							<div class="d-flex justify-content-center">
								<div class="dataTables_paginate paging_simple_numbers" id="table_paginate">
									<ul style="display: flex; padding-left: 0; list-style: none;">
										{% if ub.paginator.num_pages > 5 %}
											{% if ub.number < 5 %}
												{% if ub.has_previous %}
													<a class="add-product-save-link" href="?page={{ ub.previous_page_number }}&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}">
														<li class="paginate_button page-item previous">Previous</li>
													</a>
												{% else %}
													<li class="paginate_button disabled page-item previous">Previous</li>
												{% endif %}
												{% for i in five %}
													{% if i == ub.number %}
														<a class="add-product-save-link" href="?page={{i}}&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}">
															<li class="paginate_button page-item active">{{i}}</li>
														</a>
													{% else %}
														<a class="add-product-save-link" href="?page={{i}}&search={{search}}&p={{paginate_by}}&fyear={{ }}&fmonth={{monthval}}">
															<li class="paginate_button page-item">{{i}}</li>
														</a>
													{% endif %}
												{% endfor %}
												<li class="paginate_button disabled page-item">...</li>
												<a class="add-product-save-link" href="?page={{ ub.paginator.num_pages }}&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}">
													<li class="paginate_button page-item">{{ ub.paginator.num_pages }}</li>
												</a>
												{% if ub.has_next %}
													<a class="add-product-save-link" href="?page={{ ub.next_page_number }}&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}">
														<li class="paginate_button page-item next">Next</li>
													</a>
												{% else %}
													<li class="paginate_button disabled page-item next">Next</li>
												{% endif %}
											{% else %}
												{% if ub.number > ub.paginator.num_pages|add:'-3'%}
													{% if ub.has_previous %}
														<a class="add-product-save-link" href="?page={{ ub.previous_page_number }}&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}">
															<li class="paginate_button page-item previous">Previous</li>
														</a>
													{% else %}
														<li class="paginate_button disabled page-item previous">Previous</li>
													{% endif %}
													<a class="add-product-save-link" href="?page=1&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}">
														<li class="paginate_button page-item">1</li>
													</a>
													<li class="paginate_button disabled page-item">...</li>
													{% for i in last %}
														{% if i == ub.number %}
															<a class="add-product-save-link" href="?page={{i}}&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}">
																<li class="paginate_button page-item active">{{i}}</li>
															</a>
														{% else %}
															<a class="add-product-save-link" href="?page={{i}}&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}">
																<li class="paginate_button page-item">{{i}}</li>
															</a>
														{% endif %}
													{% endfor %}
													{% if ub.number == ub.paginator.num_pages %}
														<a class="add-product-save-link" href="?page={{ ub.paginator.num_pages }}&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}">
															<li class="paginate_button page-item active">{{ ub.paginator.num_pages }}</li>
														</a>
													{% else %}
														<a class="add-product-save-link" href="?page={{ ub.paginator.num_pages }}&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}">
															<li class="paginate_button page-item">{{ ub.paginator.num_pages }}</li>
														</a>
													{% endif %}
													{% if ub.has_next %}
														<a class="add-product-save-link" href="?page={{ ub.next_page_number }}&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}">
															<li class="paginate_button page-item next">Next</li>
														</a>
													{% else %}
														<li class="paginate_button disabled page-item next">Next</li>
													{% endif %}
												{% else %}
													{% if ub.has_previous %}
														<a class="add-product-save-link" href="?page={{ ub.previous_page_number }}&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}">
															<li class="paginate_button page-item previous">Previous</li>
														</a>
													{% else %}
														<li class="paginate_button disabled page-item previous">Previous</li>
													{% endif %}
													{% if ub.number > 2 %}
														<a class="add-product-save-link" href="?page=1&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}">
															<li class="paginate_button page-item">1</li>
														</a>
														{% if ub.number > 3 %}
															<li class="paginate_button disabled page-item">...</li>
														{% endif %}
													{% endif %}

													{% for num in ub.paginator.page_range %}
														{% if ub.number == num %}
															<a class="add-product-save-link" href="?page={{ num }}&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}">
																<li class="paginate_button page-item active">{{ num }}</li>
															</a>
														{% elif num > ub.number|add:'-2' and num < ub.number|add:'2' %}
															<a class="add-product-save-link" href="?page={{ num }}&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}"> 
																<li class="paginate_button page-item">{{ num }}</li>
															</a>
														{% endif %}
													{% endfor %}

													{% if ub.number < ub.paginator.num_pages|add:'-2' %}
														<li class="paginate_button disabled page-item">...</li>
														<a class="add-product-save-link" href="?page={{ ub.paginator.num_pages }}&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}">
															<li class="paginate_button page-item">{{ ub.paginator.num_pages }}</li>
														</a>
													{% elif ub.number < ub.paginator.num_pages|add:'-1' %} 
														<a class="add-product-save-link" href="?page={{ ub.paginator.num_pages }}&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}">
															<li class="paginate_button page-item">{{ ub.paginator.num_pages }}</li>
														</a>
													{% endif %}
													{% if ub.has_next %}
														<a class="add-product-save-link" href="?page={{ ub.next_page_number }}&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}">
															<li class="paginate_button page-item next">Next</li>
														</a>
													{% else %}
														<li class="paginate_button page-item disabled next">Next</li>
													{% endif %}
												{% endif %}
											{% endif %}
										{% else %}
											{% if ub.has_previous %}
												<a href="?page={{ ub.previous_page_number }}&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}">
													<li class="paginate_button page-item previous">Previous</li>
												</a>
											{% else %}
												<li class="paginate_button disabled page-item previous">Previous</li>
											{% endif %}
											{% for i in ub.paginator.page_range %}
												{% if i == ub.number %}
													<a href="?page={{i}}&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}">
														<li class="paginate_button page-item active">{{i}}</li>
													</a>
												{% else %}
													<a href="?page={{i}}&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}">
														<li class="paginate_button page-item">{{i}}</li>
													</a>
												{% endif %}
											{% endfor %}
											{% if ub.has_next %}
												<a href="?page={{ ub.next_page_number }}&search={{search}}&p={{paginate_by}}&fyear={{year}}&fmonth={{monthval}}">
													<li class="paginate_button page-item next">Next</li>
												</a>
											{% else %}
												<li class="paginate_button disabled page-item next">Next</li>
											{% endif %}
										{% endif %}
									</ul>
									<script src="{% static 'jquery/jquery.js' %}"></script>
									<style>
										a{		
											-webkit-touch-callout: none;
											-webkit-user-select: none;
											-khtml-user-select: none;
											-moz-user-select: none;
											-ms-user-select: none;
											user-select: none;
											cursor: default;
											text-decoration: none;
										}
										.paginate_button {
											cursor: pointer;
											position: relative;
											display: block;
											padding: 0.375rem 0.75rem;
											font-size: 1rem;
											color: var(--main-color);
											text-decoration: none;
											background-color: white;
											border: 1px solid #dee2e6;
											transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
										}
										.active>.paginate_button, .paginate_button.active {
											z-index: 3;
											color: white !important;
											background-color: var(--main-color);
											border-color: #dee2e6;
										}
										.previous {
											border-top-left-radius: .375rem;
											border-bottom-left-radius: .375rem;
										}
										.next {
											border-top-right-radius: .375rem;
											border-bottom-right-radius: .375rem;
										}
										.disabled {		
											-webkit-touch-callout: none;
											-webkit-user-select: none;
											-khtml-user-select: none;
											-moz-user-select: none;
											-ms-user-select: none;
											user-select: none;
											cursor: default;
											color: #6c757d;
										}
													
										.page-link {
											position: relative;
											display: block;
											color: #006c85;
											text-decoration: none;
											background-color: #fff;
											border: 1px solid #dee2e6;
											transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
										}
										.page-item.active .page-link {
											z-index: 3;
											color: #fff;
											background-color: #006c85;
											border-color: #006c85;
										}
										.hide {
											opacity: 0;
											transition: 0.3s all ease-in-out;
										}

										.showOnHover:hover .hide {
											opacity: 1;
											transition: 0.3s all ease-in-out;
										}
										.button2 {
											background-color: var(--main-color); 
											color: white;
											padding: 8px 30px;
											border: none;
											border-radius: 15px;
											box-shadow: inset 0px -8px 7px 0 rgb(0 0 0 / 24%), inset 0px 5px 7px 0 rgb(255 255 255 / 52%), 0px 6px 6px 0 rgb(0 0 0 / 19%);
											transition: all ease 0.3s;
											margin-top: 30px;
											margin-bottom: 30px;
										}
										.btn.button2:hover {
											background: var(--main-color);
											color: #ffffff;
											border-radius: 30px;
											box-shadow: inset 0px -8px 7px 0 rgba(0, 0, 0, 0.39), inset 0px 5px 7px 0 #e6ecebd8, 0px 6px 6px 0 rgb(0 0 0 / 19%);
											transition: all ease-in 0.5s;
										}
										.btn.button2:focus {
											background: var(--main-color);
											color: #ffffff;
											border-radius: 30px;
											box-shadow: inset 0px 4px 7px 0 rgba(0, 0, 0, 0.274), inset 0px -5px 7px 0 #e6ecebd8;
											transition: all 0.1s;
										}
									</style>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-4">
							<button type="button" onclick="check2()" class="btn button2 me-5 position-absolute end-0">
								Save
							</button>
						</div>
					</div>
				</form>
				<script>
					post = document.getElementById('post')
					function check2(){
						unchanged = document.getElementsByClassName('unchanged')
						changed = document.getElementsByClassName('changed')
						go = true
						for(i=0;i<changed.length;i++){
							if (parseInt(changed[i].value)>=parseInt(changed[i].min)){
								changed[i].classList.remove("is-invalid")
								changed[i].classList.add('border-0')
								for(j=0;j<unchanged.length;j++){
									unchanged[j].disabled = true
								}
							}else{
								changed[i].classList.remove('border-0')
								changed[i].classList.add("is-invalid")
								go = false
							}
						}
						if (go){
							post.submit()
						}
					}
					function foc_this(id){
						document.getElementById(id).focus()
					}
					function foc_check(id){
						p = document.getElementById(id)
						if (p.value == 0){
							p.value = ''
						}
					}
					function fcheck(id) {
						p = document.getElementById(id)
						if (p.value == ''){
							p.value = 0
						}
					}
				</script>
			</div>
		</div>
	</div>
</div>
{% endblock bulkreading %}