html{
    background-image: linear-gradient(white,#63CDD7);
    font-family: 'Poppins',sans-serif;
    height: auto;
    min-height: 100%;

}
body{
    margin: 10%;
    background: transparent!important;
}
.log-in{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.meter{
    margin: 25px 0 0 0;
    width: 100%;
    height: 50px;
    color: rgb(238, 226, 226);
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.438);
    border-radius: 8px;
    background: rgba(105, 105, 105, 0);
    margin-top: 40px;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
}
.pass{
    margin: 25px 0 0 0;
    width: 100%;
    height: 50px;
    color: rgb(238, 226, 226);
    font-size: 18px;
    font-weight: 600;
    border: 2px solid rgba(255, 255, 255, 0.438);
    border-radius: 8px;
    background: rgba(105, 105, 105, 0);
    margin-top: 40px;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
}
.FP{
    text-align: right;
    padding-right: 60px;
    
}